<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit Product Category</h2>
      </v-flex>
      <v-flex md2>
        <v-btn
          fab
          :to="{ name: this.$auth.user().roleName+'.incometypes.index' }"
          class="float-right"
        >
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <income-type-form :type="type"></income-type-form>
  </div>
</template>

<script>
import IncomeTypeForm from './Form'
import typeApi from '../../../../api/productcategory'

export default {
  components: { IncomeTypeForm },

  data () {
    return {
      type: {
        id: '',
        name: ''
      }
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    typeApi.findById(this.$route.params.id).then(response => {
      console.log(response.body)
      this.type = response.body
    })
  }
}
</script>
