<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>

        <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="incometype_form" v-on:submit.prevent="submit">
      <v-text-field
        v-model="type.name"
        :rules="nameRules"
        :counter="30"
        label="Product Category Name"
        required
        autofocus
        @input="type.name = type.name.toUpperCase()"
      ></v-text-field>
      <v-autocomplete
        v-if="!('hospital_id' in $auth.user())"
        v-model="type.hospital"
        :items="hospitals"
        item-text="name"
        item-value="id"
        label="Hospital"
        @keydown.prevent="(e)=>{e.preventDefault();console.log('prevent enter');}"
      ></v-autocomplete>
      <v-btn
        :disabled="!valid && !submitProcess" type="submit"

      >
        {{ submitProcess ? 'Uploading' : 'Submit' }}
      </v-btn>

      <v-btn
        :disabled="!valid && !submitProcess"
        v-if="!('id' in type)"
        @click="sub"

      >
        {{ submitProcess ? 'Uploading' : 'Submit And Add Another' }}
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import serviceTypeApi from '../../../../api/productcategory'
import hospitalApi from '../../../../api/hospital'
export default {
  name: 'type-form',

  props: {
    type: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      valid: false,
      nameEr: true,
      errorMessage: [],
      errorDialog: false,
      submitProcess: false,
      name: '',
      id: '',
      hospitals: [],
      nameRules: [
        v => !!v || 'Product Category  is required',
        v => this.nameEr || 'Product Category  already exists'
      ]
    }
  },
  created () {
    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    }
  },

  methods: {
    sub (next) {
      this.next = true
      this.submit(next)
    },
    clear () {
      this.$refs.incometype_form.reset()
    },

    submit (e) {
      if (this.valid) {
        if ('id' in this.type) {
          this.submitProcess = true
          serviceTypeApi
            .update(this.type)
            .then(response => {
              this.submitProcess = false
              this.$router.push({
                name: this.$auth.user().roleName + '.productCategory.index'
              })
            })
            .catch(err => {
              this.errorMessage = []
              if (err.status !== 500) {
                let er = Object.keys(err.data)
                er.forEach(each => {
                  if (each === 'non_field_errors') {
                    this.errorMessage.push(JSON.stringify(err.data[each]))
                  } else {
                    this.errorMessage.push(err.data[each])
                  }
                })
              } else {
                this.errorMessage.push('Value Error')
              }
              this.errorDialog = true
            })
        } else {
          this.submitProcess = true
          serviceTypeApi
            .save(this.type)
            .then(response => {
              this.submitProcess = false
              this.$router.push({
                name: this.$auth.user().roleName + '.productCategory.index'
              })
              if(this.next){
                setTimeout(()=>this.$router.push({ name: this.$auth.user().roleName + '.productCategory.create', query: { reload: new Date().valueOf() } }))
              }
            })
            .catch(err => {
              this.errorMessage = []
              if (err.status !== 500) {
                let er = Object.keys(err.data)
                er.forEach(each => {
                  if (each === 'non_field_errors') {
                    this.errorMessage.push(JSON.stringify(err.data[each]))
                  } else {
                    this.errorMessage.push(err.data[each])
                  }
                })
              } else {
                this.errorMessage.push('Value Error')
              }
              this.errorDialog = true
            })
        }
      }
    }
  }
}
</script>

<style scoped>
</style>
