<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New Expenditure Type</h2>
      </v-flex>
      <v-flex md2>
        <v-btn
          fab
          :to="{ name: this.$auth.user().roleName+'.expendituretypes.index' }"
          class="float-right"
        >
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <expenditure-type-form :type="blankExpenditureType"></expenditure-type-form>
  </div>
</template>

<script>
import ExpenditureTypeForm from './Form'
export default {
  components: { ExpenditureTypeForm },
  created () {
    console.log(this.$auth.user().hospital_id)
    if ('hospital_id' in this.$auth.user()) {
      this.blankExpenditureType['hospital'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      blankExpenditureType: {
        tname: ''
      }
    }
  }
}
</script>

<style scoped>
</style>

// WEBPACK FOOTER //
// src/pages/admin/notices/Create.vue
