<template>
  <v-form v-model="valid" ref="staff_form">
    <v-layout>
      <v-flex md5>
        <h3>Update Staff Info</h3>

        <v-text-field
          v-model="staff.sname"
          label="Name"
          class="my-text-uppercase"
          readonly
          outline
        ></v-text-field>
        <v-text-field
          v-model="staff.semail"
          :counter="30"
          label="Email*"
          type="email"
          ref="email"
          :rules="emailRules"
          readonly
        ></v-text-field>


        <!--<v-text-field-->
          <!--v-model="staff.fax"-->
          <!--:counter="30"-->
          <!--label="Fax"-->
          <!--:rules="faxRules"-->
          <!--type="number"-->
        <!--&gt;</v-text-field>-->

        <v-text-field
          v-model="staff.sphone"
          :counter="10"
          label="Telephone / Mobile Number*"
          :rules="telephoneRules"
          type="number"
          v-validate="$route.params.id ? '' : 'staff_telephone'"
          :error-messages="errors.collect('telephone')"
          :error="errors.has('telephone')"
          data-vv-name="telephone"
        ></v-text-field>

        <v-btn
          :disabled="!valid"
          @click="updatestaffInfo"
        >
          submit
        </v-btn>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>

import staffApi from '../../api/staff'
import Util from '../../utils'

export default {
  name: 'staff-profile',

  created () {
    staffApi.getProfile().then((res) => {
      this.staff = res.body
    })
  },

  methods: {
    updatestaffInfo () {
      staffApi.update(this.staff).then((res) => {
        alert('Updated Successfully!')
      })
    }
  },

  data () {
    return {
      staff: {},
      valid: false,
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 80) || 'Name must be less than 80 characters',
        v => (v && (/^[A-z .\-()']+$/g).test(v)) || 'Please provide valid name'
      ],

      emailRules: [
        v => !!v || 'Email is required',
        v => (v && Util.validateEmail(v)) || 'Please provide valid email'
      ],

      telephoneRules: [
        v => !!v || 'Telephone number or Mobile number is required',
        v => (v && (/(^9\d{9})$|(^0\d{8})$/).test(v)) || 'Please provide valid telephone number or mobile number'
      ],

      faxRules: [
        v => !!v === false || v === null || v.length === 0 || (v && v.test(/^0\d{8}$/)) || 'Please provide valid fax number'
      ],

      addressRules: [
        v => !!v || 'NMC is required'
        // v => (v /** && (/^[A-z, ]+$/g).test(v)**/) || 'Please provide valid address'
      ],

      disciplineRules: [
        v => !!v || 'Discipline is required',
        v => (v && v.length > 0) || 'Please provide Disciplines'
      ],

      staffTypeRules: [
        v => !!v || 'staff Type is required'
      ]
    }
  }
}
</script>

<style scoped>

</style>

