<template>

  <v-flex md6>
    <v-form v-model="valid" ref="userdetail_form" v-on:submit.prevent="submit">

      <v-text-field
        v-model="userdetail.username"
        :rules="usernameRules"
        :counter="30"
        label="User Name"
        required
        solo
      ></v-text-field>

      <v-text-field
        v-model="userdetail.uname"
        :rules="unameRules"
        :counter="30"
        label="User ID"
        required
        solo
      ></v-text-field>

      <v-text-field
        v-model="userdetail.urole"
        :rules="uroleRules"
        :counter="30"
        label="User Role"
        required
        solo
      ></v-text-field>

      <v-text-field
        v-model="userdetail.uemail"
        :rules="uemailRules"
        :counter="30"
        label="User Email"
        required
        solo
      ></v-text-field>

      <v-btn
        :disabled="!valid"
        @click="submit"
      >
        submit
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>

</template>

<script>
import userdetailApi from '../../../api/userdetail'
import Util from '../../../utils'
export default {
  name: 'userdetail-form',

  props: {
    userdetail: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      valid: false,
      name: '',
      id: '',
      usernameRules: [
        v => !!v || 'Name is required'
      ],
      unameRules: [
        v => !!v || 'User ID is required'
      ],
      uroleRules: [
        v => !!v || 'Role is required'
      ],
      uemailRules: [
        v => !!v || 'Email is required',
        v => (v && Util.validateEmail(v)) || 'Please provide valid email'
      ]
    }
  },

  methods: {
    clear () {
      this.$refs.userdetail_form.reset()
    },

    submit () {
      userdetailApi.save(this.userdetail).then((response) => {
        this.$router.push({ name: this.$auth.user().roleName + '.userdetail.index' })
      })
    }
  }
}
</script>

<style scoped>

</style>
