<template>
  <div>

    <v-layout row style="margin-bottom: 30px;">
      <v-flex md3 mb20>
        <h2> Supplementary Marks Entry (School Wise)</h2>
      </v-flex>
    </v-layout>
    <v-form v-model="valid">
      <v-layout row>
        <v-flex md1 offset-md2 v-show="$auth.user().role === 'ROLE_ADMIN'">
          <v-text-field
            v-model="schoolId"
            :rules="schoolIdRules"
            label="School Id"
            @keyup="schoolEntered"
          >
          </v-text-field>
        </v-flex>

        <v-flex md3 style="margin-left: 20px">
          <v-select
            :items="subjects"
            v-model="subjectId"
            :rules="subjectIdRules"
            label="Subject Id"
            item-text="name"
            item-value="id"
          >
          </v-select>
        </v-flex>

        <v-flex md2>
          <v-btn @click="loadEntries" :disabled="!valid || saving">Load</v-btn>
        </v-flex>

        <v-flex>
          <h3>Subject: {{ entries.length > 0 ? entries[0].subjectName : '-' }}</h3>
        </v-flex>

      </v-layout>

      <div>
        <v-flex md4 offset-md4>
          <v-data-table
            :headers="headers"
            :items="entries"
            hide-actions
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.index + 1 }}</td>
              <td>{{ props.item.symbolNo }}</td>
              <td>
                <v-text-field
                  v-model="props.item.marks"
                  label="Marks"
                  :rules="marksRules"
                  :ref=" 'marks-' + props.index "

                  @keyup="markEntered(props.index)"
                >

                </v-text-field>
              </td>
            </template>
          </v-data-table>
        </v-flex>
      </div>
      <v-flex md2 offset-md2>
        <v-btn @click="saveEntries" :disabled="!valid || saving">Save</v-btn>
      </v-flex>
    </v-form>
  </div>
</template>

<script>
import MarksEntryApi from '../../api/marks-entry'
import SubjectApi from '../../api/subjects'

export default {
  name: 'slip-wise-1',

  created () {
    if (this.$auth.user().role === 'ROLE_SCHOOL') {
      if (this.$store.state.core.metas.supp_marks_entry_school_side !== 'true') {
        this.$router.push({ name: 'dashboard' })
      }

      this.schoolId = this.$auth.user().school.id
      this.schoolEntered()
    }
  },
  data () {
    return {
      schoolId: null,
      subjectId: null,
      subjects: [],
      schoolIdRules: [
        v => !!v || 'School Id is required',
        v => (v && v.toString().length === 5) || 'School Id should be 5 digit long'
      ],
      subjectIdRules: [
        v => !!v || 'Subject Id is required'
      ],
      valid: false,
      saving: false,
      marksRules: [
        v => !v || parseInt(v) <= this.getSubjectById(this.subjectId).fullMarks || 'Marks should be less than full marks '
      ],
      headers: [
        {
          text: 'SN',
          align: 'left',
          sortable: false,
          value: 'sn'
        },
        {
          text: 'Symbol Number',
          align: 'left',
          sortable: false,
          value: 'symbolNo'
        },
        {
          text: 'Marks',
          align: 'left',
          sortable: false,
          value: 'marks',
          width: '20%'
        }
      ],

      entries: []
    }
  },

  methods: {
    loadEntries () {
      MarksEntryApi.loadDataBySchoolIdAndSubjectIdSupp(this.schoolId, this.subjectId).then((res) => {
        this.entries = res.body
        this.goTo('marks-0')
      })
    },

    saveEntries () {
      this.saving = true
      if (this.entries.length > 0) {
        MarksEntryApi.saveSupp(this.entries).then((res) => {
          this.saving = false
          alert('Marks saved successfully')
        })
      }
    },

    markEntered (index) {
      if (this.entries[index].marks && this.entries[index].marks.toString().length === 2 && this.entries.length > (index - 1)) {
        this.goTo('marks-' + (index + 1))
      }
    },

    schoolEntered () {
      if (this.schoolId && this.schoolId.toString().length === 5) {
        SubjectApi.getSubjectsForASchool(this.schoolId).then(res => {
          this.subjects = res.body
        })
      }
    },

    getSubjectById (subjectId) {
      return this.subjects.filter(item => subjectId === item.id)[0]
    }
  }
}
</script>

<style scoped>

</style>



// WEBPACK FOOTER //
// src/pages/common/SuppSchoolWiseMarksEntry.vue