<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="#17a2b8">
            <v-toolbar-title>Password Change</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form v-on:submit.prevent="login" v-model="valid">
              <v-text-field
                prepend-icon="lock"
                v-model="change.currentPassword"
                label="Current Password"
                type="password"
                :rules="currentPasswordRules"
              ></v-text-field>

              <v-text-field
                id="password"
                prepend-icon="lock"
                v-model="change.password"
                label="New Password"
                type="password"
                v-on:keyup.enter="changePassword"
                :rules="passwordRules"
              ></v-text-field>

              <v-text-field
                id="confirm_password"
                prepend-icon="lock"
                v-model="confirmPassword"
                label="Confirm Password"
                type="password"
                v-on:keyup.enter="changePassword"
                :rules="changePasswordRules"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="changePassword" :disabled="!valid">Change</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import AuthApi from '../../api/auth'
export default {
  name: 'change-password',
  data () {
    return {
      change: {
        currentPassword: null,
        password: null
      },
      confirmPassword: null,
      currentPasswordRules: [v => !!v || 'Current Password is Required Field'],
      passwordRules: [v => !!v || 'Password is Required Field'],
      changePasswordRules: [
        v => !!v || 'Confirm Password Required',
        v =>
          (v && v === this.change.password) ||
          'Password and Confirm Password should be same'
      ],
      valid: false
    }
  },

  methods: {
    changePassword () {
      if (this.valid) {
        AuthApi.changePassword(this.change)
          .then(() => {
            this.$auth.logout()
            this.$router.push({ name: 'auth.login' })
            this.$emit('menu.change')
            this.$store.commit('core/setUser', {})
          })
          .catch(err => {
            if (err) {
              alert('Wrong Password')
            }
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
