<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New doctor</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.doctors.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <doctor-form :doctor="blankDoctor"></doctor-form>
  </div>
</template>

<script>
import doctorForm from './Form'
export default {
  components: { doctorForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.blankDoctor['hospital'] = this.$auth.user().hospital_id
    }
  },
  data () {
    return {
      blankDoctor: {
        dcode: '',
        dname: 'Dr. ',
        ddepart: '',
        dnmc: '',
        dphone: '',
        demail: '',
        year: this.$store.state.core.metas.current_year
      }
    }
  }
}
</script>

<style scoped>
</style>
