<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit doctor</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.doctors.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <doctor-form :doctor="doctor"></doctor-form>
  </div>
</template>

<script>
import doctorForm from './Form'
import doctorApi from '../../../api/doctor'

export default {
  components: { doctorForm },

  data () {
    return {
      doctor: {
        id: '',
        dcode: '',
        dname: '',
        ddepart: '',
        dnmc: '',
        dphone: '',
        demail: '',
        dcreated: '',
        dcreated_by: '',
        publishedDate: ''
      }
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    doctorApi.findById(this.$route.params.id).then(response => {
      this.doctor = response.body
    })
  }
}
</script>
