<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>

        <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" v-on:submit.prevent="submit" ref="doctor_form">
      <v-text-field
        v-model="doctor.dname"
        @input="doctor.dname= doctor.dname.toUpperCase()"
        :rules="dnameRules"
        :counter="30"
        label="Doctor Name"
        required
        shaped
        outlined
        autofocus
      ></v-text-field>
      <v-autocomplete
        v-if="!('hospital_id' in $auth.user())"
        v-model="doctor.hospital"
        :items="hospitals"
        item-text="name"
        item-value="id"
        label="Hospital"
        ref="hospital"
        @change="hospitalValueChange"
      ></v-autocomplete>
      <v-select
        v-model="doctor.ddepart"
        :rules="ddepartRules"
        :items="departments"
        item-text="dname"
        item-value="id"
        label="Doctor Department"
        required
        outlined
        shaped
      ></v-select>

      <v-text-field
        v-model="doctor.dnmc"
        :rules="dnmcRules"
        :counter="30"
        label="Doctor NMC"
        @input="doctor.dnmc = doctor.dnmc.toUpperCase()"
        required
        shaped
        outlined
      ></v-text-field>

      <v-text-field
        v-model="doctor.dphone"
        :rules="dphoneRules"
        :counter="10"
        label="Doctor Phone"
        required
        shaped
        outlined
      ></v-text-field>

      <v-text-field
        v-model="doctor.demail"
        :rules="demailRules"
        :counter="30"
        label="Doctor Email"
        type="email"
        ref="email"
        required
        shaped
        outlined
      ></v-text-field>

      <v-btn :disabled="!valid" type="submit" >submit</v-btn>
      <v-model v-model="submitProcess">
        <v-process>
          <v-progress-circular
            v-if="submitProcess"
            :size="30"
            :width="2"
            color="black"
            indeterminate
          ></v-progress-circular>
        </v-process>
      </v-model>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import doctorApi from '../../../api/doctor'
import departmentApi from '../../../api/department'
import Util from '../../../utils'
import hospitalApi from '../../../api/hospital'
export default {
  name: 'doctor-form',
  props: {
    doctor: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      valid: false,
      activate: 'hospital_id' in this.$auth.user(),
      name: '',
      id: '',
      departments: [],
      alldepartments: [],
      errorMessage: [],
      submitProcess: false,
      errorDialog: false,
      hospitals: [],
      dcodeRules: [v => !!v || 'Code is required'],
      dnameRules: [v => !!v || 'Name is required'],
      ddepartRules: [v => !!v || 'Department is required'],
      dnmcRules: [v => !!v || 'NMC is required'],
      dphoneRules: [
        v => !!v || 'Phone Number is required',
        v =>
          (v && /(^9\d{9})$|(^0\d{8})$/.test(v)) ||
          'Please provide valid telephone number or mobile number'
      ],
      demailRules: [
        v => !!v || 'Email is required',
        v => (v && Util.validateEmail(v)) || 'Please provide valid email'
      ]
    }
  },
  beforeCreate () {
    departmentApi.index().then(res => {
      this.departments = res.body.results
      this.alldepartments = res.data
    })
  },
  created () {
    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    }
  },
  methods: {
    clear () {
      this.$refs.doctor_form.reset()
    },
    submit () {
      if ('id' in this.doctor) {
        this.submitProcess = true
        doctorApi
          .update(this.doctor)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.doctors.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      } else {
        this.submitProcess = true
        doctorApi
          .save(this.doctor)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.doctors.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      }
    },
    hospitalValueChange (e) {
      console.log(this.activate)
      this.departments = this.alldepartments.filter(data => {
        return data.hospital === e
      })
      this.activate = true
    }
  }
}
</script>

<style scoped>
</style>
