<template template slot-scope="template">
  <v-card class="pa-4">
    <v-row align="center" style="margin-left:20px;">
      <v-col cols="12" sm="12">
        <v-layout mb40 row v-if="!('hospital_id' in $auth.user())">
          <v-flex md3>
            <h2 style="margin-bottom: 20px">Accounts Details
            </h2></v-flex>
          <v-flex md4 style="margin-left:10px">
            <v-select

              :items="hospitals"
              @change="hospitalsChanges"
              item-text="name"
              item-value="id"
              label="Hospital"
              outline
              v-model="hospital"
            ></v-select>
          </v-flex>
        </v-layout>
        <v-banner single-line v-else>
          <h2>Account Details</h2>
        </v-banner>
      </v-col>
    </v-row>
    <v-banner single-line>
      <h2>Net Account Total</h2>
    </v-banner>
    <br />
    <v-row align="center">
      <v-col class="text-center" cols="12" sm="4">
        <v-btn text>Income : Rs. {{accounts['account']&&'income' in accounts['account']?accounts['account']['income']:0}}</v-btn>
      </v-col>
      <v-col class="text-center" cols="12" sm="4">
        <v-btn text>Expense : Rs. {{accounts['account']&&'expenses' in accounts['account']?accounts['account']['expenses']:0}}</v-btn>
      </v-col>
      <v-col class="text-center" cols="12" sm="4">
        <v-btn text>Net Amount : Rs. {{this.netDiff}}</v-btn>
      </v-col>
    </v-row>
      <v-layout row mb40>
        <v-flex md3>
          <h2 style="margin-bottom: 20px">Accounts for the year
          </h2>          </v-flex>
        <v-flex md4 style="margin-left:10px">
          <v-select

            :items="accounts['years']"
            v-model="year"
            label="Year"
            outline
          ></v-select>
        </v-flex>
      </v-layout>
    <br />
    <v-tabs v-model="accounts['account']['activeMonth']">
      <v-tab :href="'#'+formatMonths(month)" :key="month" v-for="month in 12">{{months[formatMonths(month)]}}</v-tab>
      <v-tab-item  :value=" formatMonths(month)" :key="month" v-for="month in 12">
        <h4>Brief for the month of {{ months[formatMonths(month)]}}</h4>
        <v-layout row>
          <v-flex md-12>
            <v-btn
              @click="downloadIncomeDatas('income',incomeHeaders,accounts['accounts'][year][formatMonths(month)]['income'],'Income for '+months[formatMonths(month)]+ ' of '+ year)"
              text
            >Income : Rs. {{accounts['accounts'][year][formatMonths(month)]['income_amount']}}</v-btn>
            <v-btn
              text
              @click="downloadDatas('expense',expenseHeaders,accounts['accounts'][year][formatMonths(month)]['expense'],'Expense for '+months[formatMonths(month)]+ ' of '+ year)"
            >Expense : Rs. {{accounts['accounts'][year][formatMonths(month)]['expense_amount']}}</v-btn>
            <v-btn
              text
            >Net Amount : Rs. {{(accounts['accounts'][year][formatMonths(month)]['income_amount']-accounts['accounts'][year][formatMonths(month)]['expense_amount'])>0?(accounts['accounts'][year][formatMonths(month)]['income_amount']-accounts['accounts'][year][formatMonths(month)]['expense_amount']):'('+(-(accounts['accounts'][year][formatMonths(month)]['income_amount']-accounts['accounts'][year][formatMonths(month)]['expense_amount']))+')'}}</v-btn>
          </v-flex>
        </v-layout>
        <h4>Detail for the month of {{months[formatMonths(month)]}}</h4>
        <v-layout row wrap>
          <v-flex  md5>
            <h2>Incomes</h2>
            <v-data-table
              height="500px"
              :headers="incomeHeaders"
              :items="accounts['accounts'][year][formatMonths(month)]['income']"
            >
              <template slot="items" slot-scope="props">
                <tr>
                  <td>{{props.item.day }}</td>
                  <td>{{ props.item.received_by }}</td>
                  <td>{{ props.item.type }}</td>
                  <td>{{ props.item.amount }}</td>
                </tr>
              </template>
              <template slot="footer">
                <tr>
                  <td colspan="3">
                    <b>Total</b>
                  </td>
                  <!-- <td>{{ billTotalCount }}</td> -->

                  <td>{{ accounts['accounts'][year][formatMonths(month)]['income_amount'] }}</td>
                </tr>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex offset-md1 md5>
            <h2>Expenses</h2>
            <v-data-table
              height="500px"
              :headers="expenseHeaders"
              :items="accounts['accounts'][year][formatMonths(month)]['expense']"
            >
              <template slot="items" slot-scope="props">
                <tr>
                  <td>{{props.item.day }}</td>
                  <td>{{ props.item.paid_by }}</td>
                  <td>{{ props.item.type }}</td>
                  <td>{{ props.item.amount }}</td>
                </tr>
              </template>
              <template slot="footer">
                <tr>
                  <td colspan="3">
                    <b>Total</b>
                  </td>
                  <!-- <td>{{ billTotalCount }}</td> -->

                  <td>{{ accounts['accounts'][year][formatMonths(month)]['expense_amount'] }}</td>
                </tr>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>

<script>
import IncomeApi from '../../../api/incomes'
import HospitalApi from '../../../api/hospital'
export default {
  data () {
    return {
      accounts: [],
      hospitals: [],
      hospital: 0,
      year: null,
      incomeHeaders: [
        {
          text: 'Day',
          value: 'day'
        },
        {
          text: 'Received By',
          value: 'received_by'
        },
        {
          text: 'Income Type',
          value: 'type'
        },
        {
          text: 'Amount (Rs.)',
          value: 'amount'
        }
      ],
      expenseHeaders: [
        {
          text: 'Day',
          value: 'day'
        },
        {
          text: 'Paid By',
          value: 'paid_by'
        },
        {
          text: 'Type',
          value: 'type'
        },
        {
          text: 'Amount (Rs.)',
          value: 'amount'
        }
      ],
      months: {
        '01': 'Baishak',
        '02': 'Jestha',
        '03': 'Ashar',
        '04': 'Shrawan',
        '05': 'Bhadra',
        '06': 'Ashoj',
        '07': 'Kartik',
        '08': 'Mangshir',
        '09': 'Poush',
        '10': 'Magh',
        '11': 'Falgun',
        '12': 'Chaitra'
      },
      netDiff: 0
    }
  },
  created () {
    IncomeApi.acconts().then(res => {
      this.accounts = res.data
      this.year = this.accounts['account']['activeYear']
      let d =
        this.accounts['account']['income'] -
        this.accounts['account']['expenses']
      this.netDiff = d < 0 ? '(' + -d + ')' : d
    })
    if (!('hospital_id' in this.$auth.user())) {
      HospitalApi.index().then(res => {
        this.hospitals = res.data.results
        this.hospitals.push({
          id: 0,
          name: 'All'
        })
      })
    }
  },
  methods: {
    formatMonths (datas) {
      let keys = datas.toString()
      return keys.length === 2 ? keys : '0' + keys
    },
    downloadIncomeDatas (name, headers, rows, header = '') {
      this.downloadDatas(name, headers, rows, header)
    },
    hospitalsChanges () {
      IncomeApi.acconts(this.hospital).then(res => {
        this.accounts = res.data
        this.year = this.accounts['account']['activeYear']
        let d =
          this.accounts['account']['income'] -
          this.accounts['account']['expenses']
        this.netDiff = d < 0 ? '(' + -d + ')' : d
      })
    }
  }
}
</script>
<style scoped>
</style>
