<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New Service Type</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.types.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <type-form :type="blankServiceType" :staffHasPercentage="staffHasPercentage"></type-form>
  </div>
</template>

<script>
import TypeForm from './Form'
export default {
  components: { TypeForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.blankServiceType['hospital'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      blankServiceType: {
        tname: ''
      },
      staffHasPercentage: [
        {
          stafftype: null,
          percentage: 0
        }
      ],
    }
  }
}
</script>

<style scoped>
</style>
