<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit service type</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.types.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <type-form :type="type" :staffHasPercentage="staffHasPercentage"></type-form>
  </div>
</template>

<script>
import typeForm from './Form'
import typeApi from '../../../api/serviceTypes'

export default {
  components: { typeForm },

  data () {
    return {
      type: {
        id: '',
        tname: ''
      },
      staffHasPercentage: [
        {
          stafftype: null,
          percentage: 0
        }
      ]
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    typeApi.findById(this.$route.params.id).then(response => {
      this.type = response.body
      if( 'stafftypepercentage' in this.type){
        this.staffHasPercentage = this.type['stafftypepercentage']
      }

    })
  }
}
</script>
