<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>

        <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="servicetype_form" v-on:submit.prevent="submit">
      <v-text-field
        v-model="type.tname"
        :rules="tnameRules"
        :counter="30"
        label="Service Type"
        required
        autofocus
        @input="type.tname = type.tname.toUpperCase()"
      ></v-text-field>
      <v-autocomplete
        v-if="!('hospital_id' in $auth.user())"
        v-model="type.hospital"
        :items="hospitals"
        item-text="name"
        item-value="id"
        label="Hospital"
        @keydown.prevent="(e)=>{e.preventDefault();console.log('prevent enter');}"
      ></v-autocomplete>
      <v-checkbox
        v-model="type.is_incentive"
        label="Is Incentive"
      />
      <div v-if=" 'is_incentive' in type && type.is_incentive"  :key="index" v-for=" (each, index) in staffHasPercentage ">
          <v-layout>
            <v-flex md4>
              <v-autocomplete
                v-model="each.stafftype"
                :items="stafftypes"
                item-text="tname"
                item-value="id"
                label="Staff Type"
                @change="changeHandler"
                required
              ></v-autocomplete>
            </v-flex>

            <v-flex md2>
              <v-text-field
                v-model="each.percentage"
                label="Percentage"
                type="number"
                min="1"
                :rules="percentageRule(index)"
              />
            </v-flex>
            <v-flex md4>
              <v-btn
                v-if="staffHasPercentage.length<stafftypes.length && index+1 === staffHasPercentage.length && tpercentage<100"
                @click="addStaffHasPercentage"
              >
                <v-icon>add</v-icon>
              </v-btn>
              <v-btn btn class="error" @click="removeItem(index)">
                <v-icon>close</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
        </div>

      <v-btn
        :disabled="!valid && !submitProcess" type="submit"

      >
        {{ submitProcess ? 'Uploading' : 'Submit' }}
      </v-btn>

      <v-btn
        :disabled="!valid && !submitProcess"
        v-if="!('id' in type)"
        @click="sub"

      >
        {{ submitProcess ? 'Uploading' : 'Submit And Add Another' }}
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import serviceTypeApi from '../../../api/serviceTypes'
import hospitalApi from '../../../api/hospital'
import staffTypeApi from '../../../api/stafftypes'
export default {
  name: 'type-form',

  props: {
    type: {
      type: Object,
      required: true
    },
    staffHasPercentage: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      valid: false,
      next: false,
      tnameEr: true,
      errorMessage: [],
      submitProcess: false,
      errorDialog: false,
      stafftypes: [],
      name: '',
      id: '',
      tpercentage: 0,
      hospitals: [],
      tnameRules: [
        v => !!v || 'Service Type is required',
        v => this.tnameEr || 'Service Type already exists'
      ]
    }
  },
  created () {
    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    }
    staffTypeApi.index().then(res => {
      this.stafftypes = res.data.results
      console.log(this.stafftypes)
    })
    if ('stafftypepercentage' in this.type) {
      this.staffHasPercentage = this.type['stafftypepercentage']
    }
  },

  methods: {
    sub (next) {
      this.next = true
      this.submit(next)
    },
    clear () {
      this.$refs.servicetype_form.reset()
    },

    changeHandler () {
      var filter = this.staffHasPercentage.map(each => {
        return each.stafftype
      })
      this.stafftypes.map(each => {
        if (filter.includes(each.id)) {
          each['disabled'] = true
        } else {
          each['disabled'] = false
        }
      })
    },

    addStaffHasPercentage () {

      this.staffHasPercentage.push({
        stafftype: null,
        percentage: 0
      })

    },

    removeItem (index) {
      if (this.staffHasPercentage.length !== 1) {
        this.staffHasPercentage.splice(index, 1)
        this.changeHandler()
      }
    },

    percentageRule (index) {
      if (index === 0) {
        return [
          v => !!v || 'Percentage is required',
          v => (v > 0 && v <= 100) || 'Percentage should be less than 100',
        ]
      } else {
        var total = this.staffHasPercentage.map((each, i) => {
          if (i !== (this.staffHasPercentage.length - 1)) {
            return each.percentage
          }
        })
        total = total.reduce((a, b) => (!isNaN(a) && !isNaN(b)) ? a + b : (!isNaN(a) && isNaN(b)) ? a : (isNaN(a) && !isNaN(b)) ? b : 0)
        this.tpercentage = parseFloat(this.staffHasPercentage[index]['percentage']) + parseFloat(total)
        return [
          v => !!v || 'Percentage is required',
          v => (v > 0 && v <= (100 - total)) || 'Percentage should be less than ' + (100 - total)
        ]
      }
    },

    submit (e) {
      e.preventDefault()
      if (this.valid) {
        if ('id' in this.type) {
          this.submitProcess = true
          serviceTypeApi
            .update(this.type)
            .then(response => {
              this.submitProcess = false
              this.$router.push({
                name: this.$auth.user().roleName + '.types.index'
              })
            })
            .catch(err => {
              this.errorMessage = []
              if (err.status !== 500) {
                let er = Object.keys(err.data)
                er.forEach(each => {
                  if (each === 'non_field_errors') {
                    this.errorMessage.push(JSON.stringify(err.data[each]))
                  } else {
                    this.errorMessage.push(err.data[each])
                  }
                })
              } else {
                this.errorMessage.push('Value Error')
              }
              this.errorDialog = true
            })
        } else {
          this.type['stafftypepercentage'] = this.staffHasPercentage
          this.submitProcess = true
          serviceTypeApi
            .save(this.type)
            .then(response => {
              this.submitProcess = false
              this.$router.push({
                name: this.$auth.user().roleName + '.types.index'
              })
              if (this.next) {
                setTimeout(() => this.$router.push({ name: this.$auth.user().roleName + '.types.create', query: { reload: new Date().valueOf() } }))
              }
            })
            .catch(err => {
              this.errorMessage = []
              if (err.status !== 500) {
                let er = Object.keys(err.data)
                er.forEach(each => {
                  if (each === 'non_field_errors') {
                    this.errorMessage.push(JSON.stringify(err.data[each]))
                  } else {
                    this.errorMessage.push(err.data[each])
                  }
                })
              } else {
                this.errorMessage.push('Value Error')
              }
              this.errorDialog = true
            })
        }
      }
    }
  }
}
</script>

<style scoped>
</style>
