<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New Store Product</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.storein.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <store-in-form :storein="blankStoreIn"></store-in-form>
  </div>
</template>

<script>
import StoreInForm from './Form'
export default {
  name: 'StoreInCreate',
  components: {
    StoreInForm
  },
  data () {
    return {
      blankStoreIn: {
        name: '',
        quantity: 1,
        unit_price: 0,
        created_by: this.$auth.user().id,
        year: this.$store.state.core.metas.current_year
      }
    }
  }
}
</script>

<style scoped>
</style>
