<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>
        <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="storein_form" v-on:submit.prevent="submit">
      <v-autocomplete
        v-model="select"
        :loading="loading"
        :items="items"
        :search-input.sync=" query.search"
        cache-items
        flat
        hide-no-data
        hide-details
        label="Medicine name *"
      ></v-autocomplete>
      <v-text-field
        v-model="storein.name"
        :rules="snameRules"
        :counter="30"
        label="Product/Medicine Name*"
        @input="storein.name = storein.name.toUpperCase()"
        required
        outlined
        shaped
        autofocus
      ></v-text-field>
      <v-text-field
        v-model="storein.pack"
        :counter="30"
        label="Pack"
        @input="storein.pack = storein.pack.toUpperCase()"
        outlined
        shaped
      ></v-text-field>
      <v-text-field
        v-model="storein.batch"
        :counter="10"
        type="number"
        label="Batch"
        @input="storein.batch = storein.batch.toUpperCase()"
        outlined
        shaped
      ></v-text-field><v-text-field
        v-model="storein.unit_price"
        :rules="spriceRules"
        label="Unit Price*"
        min="0"
        type="number"
        required
        outlined
        shaped
      ></v-text-field>

      <v-text-field
        v-model="storein.quantity"
        :rules="spriceRules"
        label="Quantity*"
        min="0"
        type="number"
        required
        outlined
        shaped
      ></v-text-field>
      <v-menu
        v-model="fromDateMenu"
        :close-on-content-click="false"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            label="Manufacture Date"
            readonly
            v-model="storein.manufacture_date"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          locale="en-np"
          v-model="storein.manufacture_date"
          no-title
          :max="storein.expiry_date"
          @input="fromDateMenu = false"
        ></v-date-picker>
      </v-menu>
      <v-menu
        v-model="toDateMenu"
        :close-on-content-click="false"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            label="Expiry Date"
            readonly
            v-model="storein.expiry_date"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          locale="en-np"
          v-model="storein.expiry_date"
          :min="storein.manufacture_date"
          no-title
          @input="toDateMenu = false"
        ></v-date-picker>
      </v-menu>
      <v-autocomplete
        v-if="!('hospital_id' in $auth.user())"
        v-model="storein.hospital"
        :items="hospitals"
        item-text="name"
        item-value="id"
        label="Hospital*"
      ></v-autocomplete>

      <v-btn
        :disabled="!valid && !submitProcess" type="submit"

      >
        {{ submitProcess ? 'Uploading' : 'Submit' }}
      </v-btn>

      <v-btn
        :disabled="!valid && !submitProcess"
        v-if="!('id' in storein)"
        @click="sub"

      >
        {{ submitProcess ? 'Uploading' : 'Submit And Add Another' }}
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import storeinApi from '../../../../api/storein'
import hospitalApi from '../../../../api/hospital'
export default {
  name: 'store-in-form',

  props: {
    storein: {
      type: Object,
      required: true
    }
  },
  created () {
    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    } else {
      this.storein.hospital = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      loading: false,
      next: false,
      items: [],
      query: {
        search: null
      },
      select: null,
      valid: false,
      name: '',
      id: '',
      types: [],
      hospitals: [],
      submitProcess: false,
      errorMessage: [],
      errorDialog: false,
      snameRules: [v => !!v || 'Name is required'],
      spriceRules: [v => !!v || 'Unit Price is required'],
      stypeRules: [v => !!v || 'Type is required']
    }
  },
  watch: {
    $route (to, from) {
      this.created()
    },
    search (val) {
      val && val !== '' ? this.select && this.querySelections(val) : null
    }
  },

  methods: {
    sub (next) {
      this.next = true
      this.submit(next)
    },
    clear () {
      this.$refs.storein_form.reset()
    },

    querySelections (v) {
      this.loading = true
      // Simulated ajax query
      storeinApi.index(this.query)
        .then(res => {
          this.items = res.data.results
          this.loading = false
        })
    },

    submit () {
      if (!this.valid) {
        return 0
      }
      if ('id' in this.storein) {
        this.submitProcess = true
        storeinApi
          .update(this.storein)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.storein.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      } else {
        this.submitProcess = true
        storeinApi
          .save(this.storein)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.storein.index'
            })
            if(this.next){
              setTimeout(()=>this.$router.push({ name: this.$auth.user().roleName + '.storein.create', query: { reload: new Date().valueOf() } }))
            }
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
