<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New Department</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: $auth.user().roleName+'.department.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <department-form :department="blankDepartment"></department-form>
  </div>
</template>

<script>
import DepartmentForm from './Form'
export default {
  components: { DepartmentForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.blankDepartment['hospital'] = this.$auth.user().hospital_id
    }
  },
  data () {
    return {
      blankDepartment: { dname: '' }
    }
  }
}
</script>

<style scoped>
</style>
