<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit Department</h2>
      </v-flex>
      <v-flex md2>
        <v-btn
          fab
          :to="{ name: this.$auth.user().roleName+'.department.index' }"
          class="float-right"
        >
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <department-form :department="department"></department-form>
  </div>
</template>

<script>
import DepartmentForm from './Form'
import departmentApi from '../../../api/department'

export default {
  components: { DepartmentForm },

  data () {
    return {
      department: {
        id: '',
        dname: ''
      }
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    departmentApi.findById(this.$route.params.id).then(response => {
      this.department = response.body
    })
  }
}
</script>
