<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>

        <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="department_form" v-on:submit.prevent="submit">
      <v-text-field
        v-model="department.dname"
        @input="department.dname = department.dname.toUpperCase()"
        :rules="dnameRefs"
        :counter="30"
        label="Department Name"
        required
        autofocus
      ></v-text-field>
      <v-autocomplete
        v-if="!('hospital_id' in $auth.user())"
        v-model="department.hospital"
        :items="hospitals"
        item-text="name"
        item-value="id"
        label="Hospital"
      ></v-autocomplete>
      <v-btn
        :disabled="!valid && !submitProcess"
        type="submit"
      >
        {{ submitProcess ? 'Uploading' : 'Submit' }}
      </v-btn>

      <v-btn
        :disabled="!valid && !submitProcess"
        v-if="!('id' in department)"
        @click="sub"

      >
        {{ submitProcess ? 'Uploading' : 'Submit And Add Another' }}
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import departmentApi from '../../../api/department'
import hospitalApi from '../../../api/hospital'
export default {
  name: 'department-form',

  props: {
    department: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      valid: false,
      next: false,
      name: '',
      id: '',
      hospitals: [],
      errorMessage: [],
      errorDialog: false,
      submitProcess: false,
      dnameRefs: [v => !!v || 'Department name is required']
    }
  },
  created () {
    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    }
  },
  methods: {
    sub (e) {
      this.next = true
      this.submit(e)
    },
    clear () {
      this.$refs.department_form.reset()
    },

    submit () {
      if (!this.valid) {
        return 0
      }
      console.log(this.department)
      if ('id' in this.department) {
        this.submitProcess = true
        departmentApi
          .update(this.department)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.department.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      } else {
        this.submitProcess = true
        departmentApi
          .save(this.department)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.department.index'
            })
            if(this.next){
              setTimeout(()=>this.$router.push({ name: this.$auth.user().roleName + '.department.create', query: { reload: new Date().valueOf() } }))
            }
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
