<template>

  <div>

    <v-layout row wrap mb40>
      <v-flex md2 mb20>
        <h1>Departments</h1>
      </v-flex>
         <v-flex md4>
          <v-text-field
            v-model="query.search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-flex>
      <v-flex
        v-if="routePermissionExists($auth.user().roleName+'.department.create')"
       justify-end>
        <v-btn fab :to="{ name: $auth.user().roleName+'.department.create' }" class="float-right"><v-icon>add</v-icon></v-btn>
      </v-flex>
    </v-layout>
    <v-model
        v-model="processDialog"
       >
         <v-process>
        <div style="text-align:-webkit-center;">
          <v-progress-circular
            v-if="processDialog"
            :size="80"
            :width="5"
            color="black"
            indeterminate
          ></v-progress-circular>
        </div>
         </v-process>
       </v-model>
     <v-dialog
      v-model="deleteDialog"
      max-width="400"
    >
      <v-card>
       <v-card-title v-if="!dialogMessage" class="headline">Are you sure?</v-card-title>
        <v-card-title v-else class="header">{{dialogMessageData}}</v-card-title>
        <v-card-text v-if="!dialogMessage">
          <v-form v-model="remarkValid">
            <v-text-field :rules="remarkRules" autofocus label="Why do you want to delete" v-model="remark"/>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

         <v-btn
            color="green darken-1"
            flat="flat"
            @click="()=>{if(dialogMessage){dialogMessage = false}deleteDialog = false}"
          >
            {{dialogMessage?'Ok':'No'}}
          </v-btn>

          <v-btn
          :disabled="!remarkValid"
            color="green darken-1"
            flat="flat"
            @click="deleteservice"
             v-if="!dialogMessage"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-data-table
     v-if="!processDialog"
      :headers="headers"
      :items="items"
      :total-items="totalItems"
      :pagination.sync="query"
      :rows-per-page-items="[20, 50, 100]"
      class="elevation-1"
    >
      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
        <span slot="activator">
          {{ props.header.text }}
        </span>
          <span>
          {{ props.header.text }}
        </span>
        </v-tooltip>
      </template>
      <template slot="items" slot-scope="props">
        <td>{{ (query.rowsPerPage * (query.page - 1)) + props.index + 1 }}</td>
        <td>{{ props.item.dname }}</td>
        <td v-if="!('hospital_id' in $auth.user())">{{ props.item.hospital_name }}</td>
        <td>
          <div class="d-inline-flex">
          <v-btn v-if="routePermissionExists($auth.user().roleName+'.department.delete')" danger flat @click=" showDeleteDialog(props.item) "><v-icon>delete</v-icon></v-btn>
          <v-btn v-if="routePermissionExists($auth.user().roleName+'.department.edit')" :to="{ name: $auth.user().roleName+'.department.edit', params: { id: props.item.id } }" primary flat><v-icon>create</v-icon></v-btn>
          </div>
        </td>
      </template>
    </v-data-table>

  </div>

</template>

<script>

import departmentApi from '../../../api/department'
export default {
  beforeMount () {
    if (!('hospital_id' in this.$auth.user())) {
      let len = this.headers.length
      this.headers[len] = this.headers[len - 1]
      this.headers[len - 1] = { text: 'Hospital', value: 'hospital_name' }
      // this.headers.push({ text: 'Hospital', value: 'dname' });
    }
  },
  created () {
    this.getDataFromApi()
  },

  data () {
    return {
      search: '',
      query: {
        search: null,
        rowsPerPage: 20,
        page: 1
      },
      totalItems: null,
      headers: [
        {
          text: '#',
          align: 'left',
          sortable: true,
          value: 'id'
        },
        { text: 'Department', value: 'dname' },
        { text: 'Actions', value: 'actions', width: '20%' }
      ],
      remarkRules: [
        v => !!v || 'Remark is required'
      ],
      remark: null,
      remarkValid: false,
      items: [],
      deletingItem: null,
      deleteDialog: false,
      errorMessage: null,
      processDialog: false,
      dialogMessage: false,
      dialogMessageData: ''
    }
  },
  watch: {
    query: {
      handler () {
        this.getDataFromApi()
      },
      deep: true
    }
  },
  methods: {
    getDataFromApi () {
      departmentApi.search(this.query).then(res => {
        this.items = res.data.results
        this.totalItems = res.data.count
        this.processDialog = false
        console.log(res)
      }).catch(e => {
        console.log(e)
      })
    },
    deleteservice () {
      if (this.errorMessage) {
        this.errorMessage = null
        this.deleteDialog = false
      } else {
        departmentApi.delete(this.deletingItem.id, this.remark).then((response) => {
          if (response.body.success) {
            let index = this.items.indexOf(this.deletingItem)
            this.items.splice(index, 1)
            this.dialogMessage = true
            this.dialogMessageData = 'Successfully Deleted'
          } else {
            this.dialogMessage = true
            this.dialogMessageData = 'message' in response.data ? response.data.message : 'Deletion Unsuccessful'
          }
        })
      }
    },
    showDeleteDialog (item) {
      this.deletingItem = item

      this.deleteDialog = true
    }
  }
}
</script>

<style scoped>

</style>

// WEBPACK FOOTER //
// src/pages/admin/types/Index.vue
4 / 30
6 / 30
