<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add Hospital</h2>
      </v-flex>
      <v-flex md1>
        <v-btn fab :to="{ name: 'admin.hospital.index' }">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <hospital-form :hospital="blankHospital"></hospital-form>
  </div>
</template>

<script>
import HospitalForm from './Form'

export default {
  components: { HospitalForm },
  created () {},

  data () {
    return {
      blankHospital: {
        created_by: this.$auth.user().id
      }
    }
  }
}
</script>

<style scoped>
</style>
