<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit Hospital</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: 'admin.hospital.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <hospital-form :hospital="hospital"></hospital-form>
  </div>
</template>

<script>
import HospitalForm from './Form'
import HospitalApi from '../../../api/hospital'

export default {
  components: { HospitalForm },

  data () {
    return {
      hospital: {
        id: ''
      }
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    HospitalApi.findById(this.$route.params.id).then(response => {
      this.hospital = response.body
    })
  }
}
</script>
