<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>
        <v-card-body>
          <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        </v-card-body>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="() => { this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="hospital_form" v-on:submit.prevent="submit">
      <v-text-field
        v-model="hospital.name"
        :rules="titleRules"
        :counter="30"
        label="Name"
        required
        autofocus
      ></v-text-field>

      <v-text-field
        v-model="hospital.location"
        :rules="titleRules"
        :counter="30"
        label="Location"
        required
      ></v-text-field>

      <v-autocomplete
        v-model="hospital.ward"
        label="Ward"
        :items="wards"
        item-text="name"
        item-value="id"
        required
      ></v-autocomplete>

      <v-text-field
        v-model="hospital.phone"
        :rules="titleRules"
        :counter="10"
        label="Mobile/Phone"
        type="number"
        required
      ></v-text-field>

      <v-btn :disabled="!valid" type="submit">submit</v-btn>
      <v-model v-model="submitProcess">
        <v-process>
          <v-progress-circular
            v-if="submitProcess"
            :size="30"
            :width="2"
            color="black"
            indeterminate
          ></v-progress-circular>
        </v-process>
      </v-model>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import HospitalApi from '../../../api/hospital'
import WardApi from '../../../api/ward'
export default {
  name: 'hospital-form',

  props: {
    hospital: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      valid: false,
      name: '',
      id: '',
      submitProcess: false,
      wards: [],
      errorMessage: [],
      errorDialog: false,
      titleRules: [v => !!v || 'Name is required'],
      contentRules: [v => !!v || 'Content is required']
    }
  },

  created () {
    WardApi.index().then(res => {
      this.wards = res.body.results
    })
  },
  methods: {
    clear () {
      this.$refs.hospital_form.reset()
    },

    submit () {
      if (!this.valid) {
        return 0
      }
      if ('id' in this.hospital) {
        this.submitProcess = true
        HospitalApi.update(this.hospital)
          .then(response => {
            this.submitProcess = false
            this.$router.push({ name: 'admin.hospital.index' })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      } else {
        this.submitProcess = true
        HospitalApi.save(this.hospital)
          .then(response => {
            this.submitProcess = false
            this.$router.push({ name: 'admin.hospital.index' })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
