<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md2 mb20>
        <h2>Hospitals</h2>
      </v-flex>

      <v-flex md4>
        <v-text-field
          v-model="query.search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-flex>
      <v-flex justify-end>
        <v-btn v-if="routePermissionExists($auth.user().roleName+'.hospital.create')" fab :to="{ name: 'admin.hospital.create' }" class="float-right">
          <v-icon>add</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-model v-model="processDialog">
      <v-process>
        <div style="text-align:-webkit-center;">
          <v-progress-circular
            v-if="processDialog"
            :size="80"
            :width="5"
            color="black"
            indeterminate
          ></v-progress-circular>
        </div>
      </v-process>
    </v-model>
    <v-dialog v-model="deleteDialog" max-width="400">
      <v-card>
        <v-card-title v-if="!dialogMessage" class="headline">Are you sure?</v-card-title>
        <v-card-title v-else class="header">{{dialogMessageData}}</v-card-title>
        <v-card-text v-if="!dialogMessage">
          <v-form v-model="remarkValid">
            <v-text-field :rules="remarkRules" autofocus label="Why do you want to delete" v-model="remark"/>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
          :disabled="!remarkValid"
            color="green darken-1"
            flat="flat"
            @click="()=>{if(dialogMessage){dialogMessage = false}deleteDialog = false}"
          >{{dialogMessage?'Ok':'No'}}</v-btn>

          <v-btn color="green darken-1" flat="flat" @click="deleteItem" v-if="!dialogMessage">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-data-table
      v-if="!processDialog"
      :headers="headers"
      :items="hospital"
      class="elevation-1"
      :pagination.sync="query"
      :rows-per-page-items="[20, 50, 100]"
      :total-items="totalItems"
    >
      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
          <span slot="activator">{{ props.header.text }}</span>
          <span>{{ props.header.text }}</span>
        </v-tooltip>
      </template>
      <template slot="items" slot-scope="props">
      <td>{{ (query.rowsPerPage * (query.page - 1)) + props.index + 1 }}</td>
        <td>{{ props.item.code }}</td>
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.ward }}</td>
        <td>{{ props.item.phone }}</td>
        <td>{{ props.item.location }}</td>
        <td>
          <div class="d-inline-flex">
            <v-btn v-if="routePermissionExists($auth.user().roleName+'.hospital.delete')" danger flat @click=" showDeleteDialog(props.item) ">
              <v-icon>delete</v-icon>
            </v-btn>
            <v-btn info flat @click=" loginAsHospital(props.item) ">
              <v-icon>person_outline</v-icon>
            </v-btn>
            <v-btn
v-if="routePermissionExists($auth.user().roleName+'.hospital.edit')"
              :to="{ name: 'admin.hospital.edit', params: { id: props.item.id } }"
              primary
              flat
            >
              <v-icon>create</v-icon>
            </v-btn>
          </div>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import HospitalApi from '../../../api/hospital'
import Bus from '../../../Bus'

export default {
  created () {
    this.getDataFromApi()
  },

  watch: {
    query: {
      handler () {
        this.getDataFromApi()
      },
      deep: true
    }
  },
  data () {
    return {
      dialog: false,
      loading: true,
      query: {
        page: 1,
        search: null,
        rowsPerPage: 20
      },
      hospital: [],
      deletingItem: null,
      processDialog: true,
      deleteDialog: false,
      dialogMessage: false,
      dialogMessageData: '',
      totalItems: null,
      remarkRules: [
        v => !!v || 'Remark is required'
      ],
      remark: null,
      remarkValid: false,
      headers: [
        {
          text: 'SN',
          align: 'left',
          sortable: false,
          value: 'sn'
        },
        { text: 'Code', value: 'code', sortable: true },
        { text: 'Name', value: 'name', sortable: true },
        { text: 'Ward', value: 'ward', sortable: true },
        { text: 'Phone', value: 'phone', sortable: true },
        { text: 'Location', value: 'location', sortable: true },
        { text: 'Actions', value: 'Actions', sortable: false }
      ]
    }
  },
  methods: {
    getDataFromApi () {
      this.loading = true
      return HospitalApi.index(this.query).then(response => {
        this.hospital = response.body.results
        this.totalItems = response.body.length
        this.processDialog = false
        console.log(response)
      })
    },

    deleteItem () {
      HospitalApi.delete(this.deletingItem.id,this.remark).then(response => {
        if (response.data.success) {
          let index = this.hospital.indexOf(this.deletingItem)
          this.hospital.splice(index, 1)
          this.dialogMessage = true
          this.dialogMessageData = 'Successfully Deleted'
        } else {
          this.dialogMessage = true
          this.dialogMessageData =
            'message' in response.data
              ? response.data.message
              : 'Deletion Unsuccessful'
        }
      })
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    showDeleteDialog (item) {
      this.deletingItem = item
      this.deleteDialog = true
    },
    loginAsHospital (item) {
      this.$auth.impersonate({
        body: {
          id: item.huid,
          type: 'hospital'
        },
        success: function () {
          Bus.$emit('load.metas')
        },
        error: function () {
          alert('Look like hospital lacks hospital admin')
        },
        redirect: { name: 'hospital.dashboard' }
        // etc...
      })
    }
  }
}
</script>

<style scoped>
</style>
