<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New Medicine</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.medicine.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <medicine-form :medicine="medicine"></medicine-form>
  </div>
</template>

<script>
import MedicineForm from './Form'
import medicineinApi from '../../../../api/medicine'
export default {
  name: 'MedicineInCreate',
  components: {
    MedicineForm
  },
  watch: {
    $route (to, from) {
      this.created()
    }
  },
  data () {
    return {
      medicine: {
        name: '',
        quantity: 1,
        unit_price: 0,
        created_by: this.$auth.user().id
      }
    }
  },
  created () {
    medicineinApi.findById(this.$route.params.id).then(response => {
      this.medicine = response.body
    })
  }
}
</script>

<style scoped>
</style>
