<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>
        <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="medicine_form" v-on:submit.prevent="submit">
      <v-text-field
        v-model="medicine.name"
        :rules="snameRules"
        :counter="50"
        maxlength="50"
        label="Product/Medicine Name*"
        @input="medicine.name = medicine.name.toUpperCase()"
        required
        outlined
        shaped
        autofocus
      ></v-text-field>
      <v-text-field
        v-model="medicine.pack_unit"
        :counter="30"
        label="Pack Unit"
        @input="medicine.pack_unit = medicine.pack_unit.toUpperCase()"
        outlined
        shaped
      ></v-text-field>
      <v-text-field
        v-model="medicine.code"
        :counter="10"
        type="text"
        maxlength="10"
        label="Code"
        @input="medicine.code = medicine.code.toUpperCase()"
        outlined
        shaped
      />
      <v-text-field
        v-model="medicine.batch"
        :counter="10"
        type="number"
        label="Batch"
        max="9999999999"
        @input="medicine.batch = medicine.batch.toUpperCase()"
        outlined
        shaped
      />
      <v-text-field
        v-model="medicine.quantity"
        :rules="spriceRules"
        label="Quantity in a pack*"
        min="0"
        type="number"
        max="999999"
        required
        outlined
        shaped
      ></v-text-field>
      <v-btn :disabled="!valid" type="submit">submit</v-btn>
      <v-model v-model="submitProcess">
        <v-process>
          <v-progress-circular
            v-if="submitProcess"
            :size="30"
            :width="2"
            color="black"
            indeterminate
          ></v-progress-circular>
        </v-process>
      </v-model>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import medicineApi from '../../../../api/medicine'
export default {
  name: 'medicine-form',

  props: {
    medicine: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      valid: false,
      name: '',
      id: '',
      types: [],
      hospitals: [],
      submitProcess: false,
      errorMessage: [],
      errorDialog: false,
      snameRules: [v => !!v || 'Name is required'],
      spriceRules: [v => !!v || 'Unit Price is required'],
      stypeRules: [v => !!v || 'Type is required']
    }
  },
  watch: {
    $route (to, from) {
      this.created()
    }
  },

  methods: {
    clear () {
      this.$refs.medicine_form.reset()
    },

    submit () {
      if (!this.valid) {
        return 0
      }
      if ('id' in this.medicine) {
        this.submitProcess = true
        medicineApi
          .update(this.medicine)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.medicine.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      } else {
        this.submitProcess = true
        medicineApi
          .save(this.medicine)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.medicine.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
