<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add Income</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.incomes.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <income-form :income="blankIncome"></income-form>
  </div>
</template>

<script>
import IncomeForm from './Form'
export default {
  components: { IncomeForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.blankIncome['hospital'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      blankIncome: { amount: '', itype: '', received_by: '', year: this.$store.state.core.metas.current_year }
    }
  }
}
</script>

<style scoped>
</style>
