<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit Income</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.incomes.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <income-form :income="income"></income-form>
  </div>
</template>

<script>
import IncomeForm from './Form'
import Api from '../../../api/incomes'

export default {
  components: { IncomeForm },

  data () {
    return {
      income: {
        id: '',
        title: '',
        content: '',
        publishedDate: ''
      }
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    Api.findById(this.$route.params.id).then(response => {
      this.income = response.body
    })
  }
}
</script>
