<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>
        <v-card-body>
          <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        </v-card-body>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="income_form" v-on:submit.prevent="submit">
      <v-text-field
        v-model="income.received_by"
        :rules="snameRules"
        :counter="30"
        label="Received By"
        :items="staffs"
        item-text="sname"
        item-value="sname"
        required
        outlined
        shaped
        autofocus
      ></v-text-field>

      <v-text-field
        v-model="income.amount"
        :rules="spriceRules"
        label="Amount Received"
        type="number"
        required
        outlined
        shaped
        min="1"
      ></v-text-field>

      <v-select
        v-model="income.itype"
        :rules="stypeRules"
        :items="types"
        item-text="tname"
        item-value="id"
        label="Income Type"
        ref="servicetype"
        required
        outlined
        shaped
      ></v-select>
      <v-autocomplete
        v-if="!('hospital_id' in $auth.user())"
        v-model="income.hospital"
        :items="hospitals"
        :rules="!('hospital_id' in $auth.user())?hospitalRules:null"
        item-text="name"
        item-value="id"
        label="Hospital"
      ></v-autocomplete>
      <v-textarea
        v-model="income['remarks']"
        label="Remarks"
      />
      <v-btn
        :disabled="!valid && !submitProcess"
        type="submit"
      >
        {{ submitProcess ? 'Uploading' : 'Submit' }}
      </v-btn>

      <v-btn
        :disabled="!valid && !submitProcess"
        v-if="!('id' in income)"
        @click="sub"

      >
        {{ submitProcess ? 'Uploading' : 'Submit And Add Another' }}
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import Api from '../../../api/incomes'
import StaffApi from '../../../api/staff'
import TypeApi from '../../../api/incomeTypes'
import hospitalApi from '../../../api/hospital'
export default {
  name: 'income-form',

  props: {
    income: {
      type: Object,
      required: true
    }
  },
  created () {
    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    }
    StaffApi.index().then(res => {
      this.staffs = res.data.results
    })
  },

  data () {
    return {
      valid: false,
      next: false,
      name: '',
      id: '',
      types: [],
      staffs: [],
      hospitals: [],
      submitProcess: false,
      errorMessage: [],
      errorDialog: false,
      snameRules: [v => !!v || 'Name is required'],
      spriceRules: [v => !!v || 'Price is required'],
      stypeRules: [v => !!v || 'Type is required'],
      hospitalRules: [v => !!v || 'Hospital is required']
    }
  },
  watch: {
    $route (to, from) {
      this.created()
    }
  },
  beforeCreate () {
    TypeApi.index().then(res => {
      console.log(res.body)
      this.types = res.body.results
    })
  },

  methods: {
    sub (next) {
      this.next = true
      this.submit(next)
    },
    clear () {
      this.$refs.income_form.reset()
    },

    submit () {
      if (!this.valid) {
        return 0
      }
      if ('id' in this.income) {
        this.submitProcess = true
        Api.update(this.income)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.incomes.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      } else {
        this.submitProcess = true
        Api.save(this.income)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.incomes.index'
            })
            if(this.next){
              setTimeout(()=>this.$router.push({ name: this.$auth.user().roleName + '.incomes.create', query: { reload: new Date().valueOf() } }))
            }
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      }
    }
  }
}
</script>

<style scoped>
</style>

// WEBPACK FOOTER //
// src/pages/admin/services/Form.vue
