<template>
  <div>
    <v-layout row wrap>
      <v-flex md10>
        <h2>Add Store In</h2>
        <h4 class="red--text">Note: * fields are required</h4>
      </v-flex>
      <v-flex md2>
        <v-btn :to="{ name: this.$auth.user().roleName+'.product.storein.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <patient-form :print="true" @update="updateStorein"  :storein="storein"></patient-form>
  </div>
</template>

<script>
import patientForm from './Form'
export default {
  components: { patientForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.storein['hospital'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      storein: {
        hospital: '',
        bills: [
          {
            user: this.$auth.user().id,
            total: 0,
            year: this.$store.state.core.metas.current_year
          }
        ],
        seller_name: '',
        seller_address: '',
        seller_registration_number: '',
        seller_phone_number: '',
        purchase_number: '',
        purchase_decision_number: '',
        purchase_decision_date: null,
        purchase_date: null,
        total: 0,
        seller_pan_number: 0,
        created_by: this.$auth.user().id,
        products: [
          {
            product: '',
            name:'',
            quantity: 1,
            category_name:'',
            rate: 0,
            remarks: '',
            product_commodity_number: '',
            specification: '',
            unit: ''
          }
        ]
      }
    }
  },
  methods: {
    updateStorein (storein) {
      this.storein = storein
    }
  }
}
</script>

<style scoped>
</style>
