<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit StoreIn</h2>
      </v-flex>
      <v-flex md2>
        <v-btn :to="{ name: this.$auth.user().roleName+'.product.storein.index' }" class="float-right" fab>
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <patient-form :print="false" :storein="storein" @update="updatestorein"></patient-form>
  </div>
</template>

<script>
import patientForm from './Form'
import storeinApi from '../../../../api/productStorein'
import productApi from '../../../../api/product'
import retHtml from './retHtml'
export default {
  components: { patientForm },

  data () {
    return {
      storein: {
        seller_name: '',
        seller_address: '',
        seller_registration_number: '',
        seller_phone_number: '',
        purchase_number: '',
        purchase_decision_number: '',
        purchase_decision_date: null,
        purchase_date: null,
        total: 0,
        seller_pan_number: 0,
        created_by: this.$auth.user().id,
        bills: [
          {
            user: this.$auth.user().id,
            total: 0,
            year: this.$store.state.core.metas.current_year
          }
        ]
      },
      products: [],
      currentList: {}
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    storeinApi.findById(this.$route.params.id).then(response => {
      this.currentList = response.body
      this.storein = JSON.parse(response.bodyText)
      console.log(this.storein)
      this.storein['products'] = [
        {
          product: '',
          name: '',
          quantity: 1,
          category_name: '',
          rate: 0,
          remarks: '',
          product_commodity_number: '',
          specification: '',
          unit: ''
        }
      ]
      this.storein['bills'] = [
        {
          user: this.$auth.user().id,
          total: 0,
          year: this.$store.state.core.metas.current_year
        }
      ]
    })
    productApi.index().then(res => {
      this.products = res.body
    })
  },
  methods: {
    printBill (n) {
      let s = this.currentList
      s.bills.slice(n, 1)
      let w = window.open()
      w.document.write(retHtml(s, this.products))
    },
    updatestorein (storein) {
      this.storein = storein
    }
  }
}
</script>
