<template>
  <v-form v-model="valid" ref="subject_form">
    <v-layout>
      <v-flex md4>
        <div v-if="routePermissionExists($auth.user().roleName+'.settings.index')" v-for="meta in metas">
          <div :key="meta.key">
            <div v-if="meta.key === 'current_year'">
              <v-text-field v-model="meta.value" label="Operating Year" :rules="nameRules"></v-text-field>
            </div>

            <div v-if="meta.key === 'municipality_name'">
              <v-text-field v-model="meta.value" label="Municipal Name" :rules="nameRules"></v-text-field>
            </div>

            <div v-if="meta.key === 'application_name'">
              <v-text-field v-model="meta.value" label="Hospital Name" :rules="nameRules"></v-text-field>
            </div>
            <div v-if="meta.key === 'address'">
              <v-text-field v-model="meta.value" label="Address" :rules="nameRules"></v-text-field>
            </div>
            <div v-if="meta.key === 'province'">
              <v-text-field v-model="meta.value" label="Province" :rules="nameRules"></v-text-field>
            </div>
            <div v-if="meta.key === 'country'">
              <v-text-field v-model="meta.value" label="Country" :rules="nameRules"></v-text-field>
            </div>
            <div v-if="meta.key === 'bill_font_size'">
              <v-text-field v-model="meta.value" label="Bill Font Size" :rules="fontRules"></v-text-field>
            </div>
            <div v-if="meta.key === 'two_tab_based_entry'">
              <v-checkbox v-model="meta.value" label="Two tab based entry" color="red" value="true"></v-checkbox>
            </div>

            <div v-if="meta.key === 'result_published'">
              <v-checkbox v-model="meta.value" label="Published Result" color="red" value="true"></v-checkbox>
            </div>

            <div v-if="meta.key === 'manual_symbol_number'">
              <v-checkbox
                v-model="meta.value"
                label="Manual Symbol Number Entry"
                color="red"
                value="true"
              ></v-checkbox>
            </div>

            <div v-if="meta.key === 'th_marks_entry_school_side'">
              <v-checkbox
                v-model="meta.value"
                label="TH marks entry school side"
                color="red"
                value="true"
              ></v-checkbox>
            </div>

            <div v-if="meta.key === 'supp_marks_entry_school_side'">
              <v-checkbox
                v-model="meta.value"
                label="Supplementary marks entry school side"
                color="red"
                value="true"
              ></v-checkbox>
            </div>

            <div v-if="meta.key === 'use_supp_marks_for_calculation'">
              <v-checkbox
                v-model="meta.value"
                label="Used Supplementary marks for calculation"
                color="red"
                value="true"
              ></v-checkbox>
            </div>

            <div v-if="meta.key === 'centre_based_entry'">
              <v-checkbox v-model="meta.value" label="Centre Based Entry" color="red" value="true"></v-checkbox>
            </div>

            <div v-if="meta.key === 'student_entry_lock_date'">
              <div>
                <div>
                  <div class="v-input v-text-field v-input--is-label-active theme--light">
                    <div class="v-input__control">
                      <div class="v-input__slot">
                        <div class="v-text-field__slot">
                          <label
                            aria-hidden="true"
                            class="v-label v-label--active theme--light"
                            style="left: 0px; right: auto; position: absolute;"
                          >Student Entry Lock Date</label>
                          <nepali-date-picker v-model="meta.value"></nepali-date-picker>
                        </div>
                      </div>
                      <div class="v-text-field__details">
                        <div class="v-messages theme--light">
                          <div class="v-messages__wrapper"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="meta.key === 'marksheet_type'">
              <v-select
                :items="availableMarksheetTemplates"
                v-model="meta.value"
                label="Marksheet Template"
              ></v-select>
            </div>

            <div v-if="meta.key === 'province_text'">
              <v-text-field
                v-model="meta.value"
                label="Province Text (Marksheet)"
                :rules="nameRules"
              ></v-text-field>
            </div>

            <div v-if="meta.key === 'municipal_office_location'">
              <v-text-field
                v-model="meta.value"
                label="Municipal Office Location (Marksheet)"
                :rules="nameRules"
              ></v-text-field>
            </div>

            <div v-if="meta.key === 'symbol_listing_report_title'">
              <v-text-field
                v-model="meta.value"
                label="Symbol Number Listing Report Title"
                hint="Use semi colon for new line"
                :rules="nameRules"
              ></v-text-field>
            </div>

            <div v-if="meta.key === 'marksheet_issue_date'">
              <v-text-field
                v-model="meta.value"
                label="Marksheet Issue Date"
                hint="used in marksheet"
                :rules="nameRules"
              ></v-text-field>
            </div>

            <div v-if="meta.key === 'supp_minimum_grade'">
              <v-select
                v-model="meta.value"
                label="Minimum Grade applicable for supplementary examination."
                :items="modifiedGrades"
              ></v-select>
            </div>

            <div v-if="meta.key === 'supp_at_max_subject'">
              <v-text-field
                v-model="meta.value"
                label="At max subject count applicable for supplementary examination."
                :rules="nameRules"
              ></v-text-field>
            </div>

            <div v-if="meta.key === 'practical_entry_lock_date'">
              <div>
                <div>
                  <div class="v-input v-text-field v-input--is-label-active theme--light">
                    <div class="v-input__control">
                      <div class="v-input__slot">
                        <div class="v-text-field__slot">
                          <label
                            aria-hidden="true"
                            class="v-label v-label--active theme--light"
                            style="left: 0px; right: auto; position: absolute;"
                          >Practical Marks Entry Lock Date</label>
                          <nepali-date-picker v-model="meta.value"></nepali-date-picker>
                        </div>
                      </div>
                      <div class="v-text-field__details">
                        <div class="v-messages theme--light">
                          <div class="v-messages__wrapper"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <v-btn :disabled="!valid" @click="submit">submit</v-btn>
        <v-btn @click="clear">clear</v-btn>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import SettingsApi from '../../../api/metas'
import Bus from '../../../Bus'
import NepaliDatePicker from '../../../components/NepaliDatePicker'

export default {
  components: {
    NepaliDatePicker
  },
  created () {
    SettingsApi.index().then(res => {
      this.metas = res.body.results
    })
  },

  computed: {
    modifiedGrades () {
      let mm = []

      for (let key in this.grades) {
        mm.push({
          text: this.grades[key],
          value: key
        })
      }

      return mm
    }
  },

  data () {
    return {
      grades: {
        '4.0': 'A+',
        '3.6': 'A',
        '3.2': 'B+',
        '2.8': 'B',
        '2.4': 'C+',
        '2.0': 'C',
        '1.6': 'D+',
        '1.2': 'D',
        '0.8': 'E'
      },
      years:[],
      metas: [],
      valid: true,
      nameRules: [v => !!v || 'Field is required'],
      fontRules: [v => !!v || 'Font Size is required'],
      nepaliDate: '2075-11-29',
      availableMarksheetTemplates: [
        {
          text: 'Default',
          value: 'default'
        },

        {
          text: 'Without Photo',
          value: 'without_photo'
        },

        {
          text: 'New Template',
          value: 'melamchi'
        },

        {
          text: 'Indrawati Template',
          value: 'indrawati'
        },

        {
          text: 'Aathbiskot Template',
          value: 'aathbiskot'
        },

        {
          text: 'Aathbiskot 5 Template',
          value: 'aathbiskot_5'
        },

        {
          text: 'Budhanilkantha Template',
          value: 'budhanilkantha'
        },

        {
          text: 'Bidur Template',
          value: 'bidur'
        },

        {
          text: 'Besishahar Template',
          value: 'besishahar'
        },

        {
          text: 'Madhyanepal Template',
          value: 'madhyanepal'
        },

        {
          text: 'Deumai Template',
          value: 'deumai'
        },

        {
          text: 'Changunarayan Template',
          value: 'changunarayan'
        },

        {
          text: 'Ghorahi Template',
          value: 'ghorahi'
        },
        {
          text: 'Mangsebung Template',
          value: 'mangsebung'
        }
      ]
    }
  },

  methods: {
    clear () {
      this.$refs.subject_form.reset()
    },

    submit () {
      this.metas.map((value, key) => {
        SettingsApi.save(value).then(response => {
          // this.$router.push({ name: this.$auth.user().roleName+'.subjects.index' })
          Bus.$emit('load.metas')
        })
      })
      alert('Settings Saved')
    }
  }
}
</script>

<style scoped>
</style>
