<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New Staff</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.staff.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <staff-form :staff="blankStaff"></staff-form>
  </div>
</template>

<script>
import staffForm from './Form'
export default {
  components: { staffForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.blankStaff['hospital'] = this.$auth.user().hospital_id
    }
  },
  data () {
    return {
      blankStaff: {
        stype: '',
        scode: '',
        sname: '',
        sdepart: '',
        snmc: '111',
        sphone: '',
        semail: '',
        year: this.$store.state.core.metas.current_year
      }
    }
  }
}
</script>

<style scoped>
</style>
