<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit Staff</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.staff.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <staff-form :staff="staff"></staff-form>
  </div>
</template>

<script>
import staffForm from './Form'
import staffApi from '../../../api/staff'

export default {
  components: { staffForm },

  data () {
    return {
      staff: {
        id: '',
        scode: '',
        sname: '',
        sdepart: '',
        snmc: '',
        sphone: '',
        semail: '',
        screated: '',
        screated_by: '',
        publishedDate: ''
      }
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    staffApi.findById(this.$route.params.id).then(response => {
      console.log(response)
      this.staff = response.body
    })
  }
}
</script>

// WEBPACK FOOTER //
// src/pages/admin/staff/Edit.vue
