<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>

        <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" v-on:submit.prevent="submit" ref="staff_form">
      <v-text-field
        v-model="staff.sname"
        @input="staff.sname= staff.sname.toUpperCase()"
        :rules="snameRules"
        :counter="30"
        label="Staff Name"
        required
        shaped
        outlined
        autofocus
      ></v-text-field>
      <v-select
        v-model="staff.stype"
        :rules="stypeRules"
        :items="types"
        item-text="tname"
        item-value="id"
        label="Staff Type"
        ref="servicetype"
        required
        outlined
        shaped
      ></v-select>
      <v-autocomplete
        v-if="!('hospital_id' in $auth.user())"
        v-model="staff.hospital"
        :items="hospitals"
        item-text="name"
        item-value="id"
        label="Hospital"
        ref="hospital"
        @change="hospitalValueChange"
      ></v-autocomplete>
      <v-select
        v-model="staff.sdepart"
        :items="departments"
        :rules="sdepartRules"
        item-text="dname"
        item-value="id"
        ref="servicetype"
        label="Department "
        required
        shaped
        outlined
      ></v-select>
      <!--<v-text-field-->
        <!--v-model="staff.snmc"-->
        <!--:rules="snmcRules"-->
        <!--:counter="30"-->
        <!--label="Staff NMC"-->
        <!--@input="staff.snmc = staff.snmc.toUpperCase()"-->
        <!--required-->
        <!--shaped-->
        <!--outlined-->
      <!--&gt;</v-text-field>-->

      <v-text-field
        v-model="staff.sphone"
        :rules="sphoneRules"
        :counter="10"
        label="Staff Phone"
        required
        shaped
        outlined
      ></v-text-field>

      <v-text-field
        v-model="staff.semail"
        :rules="semailRules"
        :counter="30"
        label="Staff Email"
        type="email"
        ref="email"
        required
        shaped
        outlined
      ></v-text-field>

      <v-btn :disabled="!valid" type="submit">submit</v-btn>
      <v-model v-model="submitProcess">
        <v-process>
          <v-progress-circular
            v-if="submitProcess"
            :size="30"
            :width="2"
            color="black"
            indeterminate
          ></v-progress-circular>
        </v-process>
      </v-model>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import staffApi from '../../../api/staff'
import staffTypeApi from '../../../api/stafftypes'
import departmentApi from '../../../api/department'
import Util from '../../../utils'
import hospitalApi from '../../../api/hospital'
export default {
  name: 'staff-form',
  props: {
    staff: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      valid: false,
      activate: 'hospital_id' in this.$auth.user(),
      name: '',
      id: '',
      types: [],
      departments: [],
      alldepartments: [],
      errorMessage: [],
      submitProcess: false,
      errorDialog: false,
      hospitals: [],
      scodeRules: [v => !!v || 'Code is required'],
      snameRules: [v => !!v || 'Name is required',
        v => (v.split(' ').length >= 2 && v.split(' ')[1] !== '') || 'Full name is required'
      ],
      sdepartRules: [v => !!v || 'Department is required'],
      snmcRules: [v => !!v || 'NMC is required'],
      stypeRules: [v => !!v || 'Type is required'],
      sphoneRules: [
        v => !!v || 'Phone Number is required',
        v =>
          (v && /(^9\d{9})$|(^0\d{8})$/.test(v)) ||
          'Please provide valid telephone number or mobile number'
      ],
      semailRules: [
        v => !!v || 'Email is required',
        v => (v && Util.validateEmail(v)) || 'Please provide valid email'
      ]
    }
  },
  beforeCreate () {
    departmentApi.index().then(res => {
      this.departments = res.body.results
      this.alldepartments = res.data
      console.log(this.departments.results)
    })

    staffTypeApi.index().then(res => {
      this.types = res.body.results
      console.log(res.body)
    })
  },
  created () {
    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    }
  },
  methods: {
    clear () {
      this.$refs.staff_form.reset()
    },

    submit () {
      if (!this.valid) {
        return 0
      }
      if ('id' in this.staff) {
        this.submitProcess = true
        staffApi
          .update(this.staff)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.staff.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      } else {
        this.submitProcess = true
        staffApi
          .save(this.staff)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.staff.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      }
    },
    hospitalValueChange (e) {
      console.log(this.activate)
      this.departments = this.alldepartments.filter(data => {
        return data.hospital === e
      })
      this.activate = true
    }
  }
}
</script>

<style scoped>
</style>

// WEBPACK FOOTER //
// src/pages/admin/staff/Form.vue
