<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New product</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.product.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <product-form :product="blankproductIn"></product-form>
  </div>
</template>

<script>
import productForm from './Form'
export default {
  name: 'productInCreate',
  components: {
    productForm
  },
  data () {
    return {
      blankproductIn: {
        name: '',
        unit: 0,
        rate: 0,
        category: '',
        type: '',
        quantity: 1,
        specification: '',
        created_by: this.$auth.user().id,
        year: this.$store.state.core.metas.current_year
      }
    }
  }
}
</script>

<style scoped>
</style>
