<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit product</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.product.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <product-form :product="product"></product-form>
  </div>
</template>

<script>
import productForm from './Form'
import productinApi from '../../../../api/product'
export default {
  name: 'productInCreate',
  components: {
    productForm
  },
  watch: {
    $route (to, from) {
      this.created()
    }
  },
  data () {
    return {
      product: {
        name: '',
        unit: 0,
        category: '',
        type: '',
        quantity: 1,
        specification: '',
        created_by: this.$auth.user().id,
        year: this.$store.state.core.metas.current_year
      }
    }
  },
  created () {
    productinApi.findById(this.$route.params.id).then(response => {
      this.product = response.body
    })
  }
}
</script>

<style scoped>
</style>
