<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>
        <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="product_form" v-on:submit.prevent="submit">
      <v-text-field
        v-model="product.name"
        :rules="snameRules"
        :counter="50"
        maxlength="50"
        label="Product Name*"
        @input="product.name = product.name.toUpperCase()"
        required
        outlined
        shaped
        autofocus
      ></v-text-field>
      <v-text-field
        v-model="product.unit"
        :counter="30"
        label=" Unit"
        type="number"
        max="999999"
        @input="product.unit = product.unit.toUpperCase()"
        outlined
        shaped
      ></v-text-field>
      <v-text-field
        v-model="product.rate"
        :counter="30"
        label=" Rate"
        type="number"
        max="999999"
        @input="product.unit = product.unit.toUpperCase()"
        outlined
        shaped
      ></v-text-field>
      <v-text-field
        v-model="product.quantity"
        :rules="spriceRules"
        label="Quantity *"
        min="0"
        type="number"
        max="999999"
        required
        outlined
        shaped
      ></v-text-field>
      <v-select
        v-model="product.category"
        :items="category"
        :rules="scategoryRules"
        item-text="name"
        item-value="id"
        ref="category"
        label="Category"
        required
        shaped
        outlined
      ></v-select>
      <v-select
        v-model="product.type"
        :items="['TO BE SPENT','NOT TO BE SPENT','REPAIR','MISCELLANEOUS']"
        :rules="typeRules"
        item-text="type"
        item-value="id"
        ref="type"
        label="Type"
        required
        shaped
        outlined
      ></v-select>
      <v-text-field
        v-model="product.specification"
        :rules="specificationRules"
        label="Specification "
        type="text"
        outlined
        shaped
      ></v-text-field>
      <v-select
        v-if="!('hospital_id' in $auth.user())"
        v-model="product.hospital"
        :items="hospitals"
        item-text="name"
        item-value="id"
        label="Hospital"
        ref="hospital"
        @change="hospitalValueChange"
      ></v-select>
      <v-btn :disabled="!valid" type="submit">submit</v-btn>
      <v-model v-model="submitProcess">
        <v-process>
          <v-progress-circular
            v-if="submitProcess"
            :size="30"
            :width="2"
            color="black"
            indeterminate
          ></v-progress-circular>
        </v-process>
      </v-model>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import catrgoryApi from '../../../../api/productcategory'
import hospitalApi from '../../../../api/hospital'
import productApi from '../../../../api/product'
export default {
  name: 'product-form',

  props: {
    product: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      valid: false,
      activate: 'hospital_id' in this.$auth.user(),
      name: '',
      id: '',
      types: [],
      category: [],
      allcategory: [],
      hospitals: [],
      submitProcess: false,
      errorMessage: [],
      errorDialog: false,
      typeRules: [v => !!v || 'Type is required'],
      snameRules: [v => !!v || 'Name is required'],
      specificationRules: [v => !!v || 'specification is required'],
      scategoryRules: [v => !!v || 'category is required'],
      spriceRules: [v => !!v || 'Unit Price is required'],
      stypeRules: [v => !!v || 'Type is required']
    }
  },
  beforeCreate () {
    catrgoryApi.index().then(res => {
      this.category = res.data.results
      this.allcategory = res.data
      console.log(res.data.results)
    })

    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    }
  },
  watch: {
    $route (to, from) {
      this.created()
    }
  },

  methods: {
    clear () {
      this.$refs.product_form.reset()
    },

    submit () {
      if (!this.valid) {
        return 0
      }
      if ('id' in this.product) {
        this.submitProcess = true
        productApi
          .update(this.product)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.product.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      } else {
        this.submitProcess = true
        productApi
          .save(this.product)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.product.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
