<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add Expenses</h2>
      </v-flex>
      <v-flex md2>
        <v-btn
          fab
          :to="{ name: this.$auth.user().roleName+'.expenditures.index' }"
          class="float-right"
        >
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <expenditure-form :expenditure="blankExpenditure"></expenditure-form>
  </div>
</template>

<script>
import ExpenditureForm from './Form'
export default {
  components: { ExpenditureForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.blankExpenditure['hospital'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      blankExpenditure: { amount: '', itype: '', received_by: '', year: this.$store.state.core.metas.current_year }
    }
  }
}
</script>

<style scoped>
</style>
