<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit Expenses</h2>
      </v-flex>
      <v-flex md2>
        <v-btn
          fab
          :to="{ name: this.$auth.user().roleName+'.expenditures.index' }"
          class="float-right"
        >
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <expenditure-form :expenditure="expenditure"></expenditure-form>
  </div>
</template>

<script>
import ExpenditureForm from './Form'
import Api from '../../../api/expenditures'

export default {
  components: { ExpenditureForm },

  data () {
    return {
      expenditure: {
        id: '',
        title: '',
        content: '',
        publishedDate: ''
      }
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    Api.findById(this.$route.params.id).then(response => {
      this.expenditure = response.body
    })
  }
}
</script>
