<template>
  <div>
  <v-toolbar
    color="primary"
  >
    <v-toolbar-side-icon class="hidden-lg-and-up" color="primary" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
    <v-toolbar-items v-if="$auth.impersonating() || $auth.check('ROLE_ADMIN')" class="hidden-sm-and-down">
      <v-menu :close-on-content-click="false"
        v-for="menuItem in menuItems"
        :key="menuItems.indexOf(menuItem)"
        open-on-hover bottom offset-y>
        <template v-slot:activator="{ on }">
          <v-btn
            color="primary"
            dark
            depressed
            v-on="on"
            :to=" ('route' in menuItem && menuItem.route != null && routePermissionExists(menuItem.route)) ?{ name: menuItem.route } : null "
          >
            {{menuItem.title}}
          </v-btn>
        </template>

        <v-list
          v-if=" 'childGroup' in menuItem "
        >
          <v-list-group
            v-for="item in menuItem.childGroup"
            :key="item.title"
            v-model="item.active"
            :prepend-icon="item.action"
            open-on-hover
            no-action
          >
            <template v-slot:activator>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>

            <v-list-tile
              v-for="subItem in item.children"
              :key="subItem.title"
              v-if="routePermissionExists(subItem.route)"
              :to="{ name:subItem.route }"
            >
              <v-list-tile-content>
                <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-icon>{{ subItem.action }}</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </v-list>
      </v-menu>
    </v-toolbar-items>
    <v-toolbar-items v-else class="hidden-sm-and-down">
      <v-menu :close-on-content-click="false"
              v-for="menuItem in menuItems"

              :key="menuItems.indexOf(menuItem)"
              open-on-hover bottom offset-y>
        <template v-slot:activator="{ on }">
          <v-btn
            color="primary"
            dark
            depressed
            v-on="on"
            v-if="menuItem.display"
            :to=" ('route' in menuItem && menuItem.route != null && routePermissionExists(menuItem.route)) ?{ name: menuItem.route } : null "
          >
            {{menuItem.title}}
          </v-btn>
        </template>

        <v-list
          v-if=" 'childGroup' in menuItem && menuItem.childGroup.display"
        >
          <v-list-group
            v-for="item in menuItem.childGroup"
            :key="item.title"
            v-model="item.active"
            :prepend-icon="item.action"
            open-on-hover
            no-action
          >
            <template v-slot:activator>
              <v-list-tile>
                <v-list-tile-content>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>

            <v-list-tile
              v-for="subItem in item.children"
              :key="subItem.title"
              v-if="routePermissionExists(subItem.route)"
              :to="{ name:subItem.route }"
            >
              <v-list-tile-content>
                <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-icon>{{ subItem.action }}</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </v-list>
      </v-menu>
    </v-toolbar-items>

    <v-spacer></v-spacer>
    <router-link
      v-if="!$auth.check()"
      class="my-link"
      :to="{name:'auth.login'}"
      style="text-decoration:none;"
    >
      <v-toolbar-title class="white--text">Login<v-icon class="white--text">map</v-icon>
      </v-toolbar-title>
    </router-link>
    <div
      v-if="$auth.check()"
      class="my-link"
      @click="()=>{    this.$auth.logout();  this.$bus.$emit('menu.change')
}"
      style="text-decoration:none;cursor:pointer"
    >
      <v-toolbar-title class="white--text">Logout</v-toolbar-title>
    </div>
    <v-toolbar-title
      v-if="$auth.check()"
      class="white--text"
    >
      <v-icon class="white--text">person</v-icon>{{$auth.user().username}} <router-link
      style="text-decoration: none;"
      :to="{ name: 'auth.change-password' }"
    >
      <v-icon class="white--text">vpn_key</v-icon>
    </router-link>
    </v-toolbar-title>

  </v-toolbar>
    <v-navigation-drawer  class="hidden-lg-and-up primary"  :clipped="clipped" v-model="drawer" enable-resize-watcher app dark>
      <v-list>
        <div v-for="menuItem in menuItems" :key="menuItem.title" >
        <v-list-group v-if=" 'childGroup' in menuItem" :value="menuItem.active" class="white--text"
                      active-class="red--text">
          <template v-slot:activator>
            <v-list-tile active-class="white--text" link :to="('route' in menuItem && menuItem.route) ?{ name: menuItem.route } : null ">
              <v-list-tile-action>
              <v-icon>{{ menuItem.action }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ menuItem.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
          <v-list
            v-if=" 'childGroup' in menuItem "
          >
            <v-list-group
              v-for="item in menuItem.childGroup"
              :key="item.title"
              v-model="item.active"
              :prepend-icon="item.action"
              open-on-hover
              no-action
              class="white--text"
              active-class="red--text"
            >
              <template v-slot:activator>
                <v-list-tile active-class="white--text">
                  <v-list-tile-content>
                    <v-list-tile-title  :to=" 'route' in item && item.route ? {name:item.route } : ''">{{ item.title }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>

              <v-list-tile
                v-for="subItem in item.children"
                :key="subItem.title"
                v-model="subItem.active"
                v-if="routePermissionExists(subItem.route)"
                :to="{ name:subItem.route }"
                class="white--text"
                active-class="white--text tile-active-case"
              >
                <v-list-tile-content>
                  <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                </v-list-tile-content>

                <v-list-tile-action>
                  <v-icon>{{ subItem.action }}</v-icon>
                </v-list-tile-action>
              </v-list-tile>
            </v-list-group>
          </v-list>

          <!--<v-list-tile slot="item"-->
                       <!--:to=" 'route' in item && item.route ? {name:item.route } : ''"-->
                       <!--class="white&#45;&#45;text"-->
                       <!--active-class="red&#45;&#45;text">-->
            <!--<v-list-tile-action>-->
              <!--<v-icon>{{ item.action }}</v-icon>-->
            <!--</v-list-tile-action>-->
            <!--<v-list-tile-content>-->
              <!--<v-list-tile-title >{{ item.title }}</v-list-tile-title>-->
            <!--</v-list-tile-content>-->
            <!--<v-list-tile-action v-if=" 'childGroup' in item && item.childGroup.length > 0">-->
              <!--<v-icon>keyboard_arrow_down</v-icon>-->
            <!--</v-list-tile-action>-->
          <!--</v-list-tile>-->
        </v-list-group>
          <v-list-tile link :to=" 'route' in menuItem && menuItem.route ? {name: menuItem.route } : ''" active-class="white--text" v-else>
            <v-list-tile-content>
              <v-list-tile-title>{{ menuItem.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </div>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>
<script>

import MenuItems from '../menus'
export default {
  name: 'nav-bar',

  mounted () {
    this.changeMenuItems()

    this.$bus.$on('user.fetched', this.setUser)

    this.$bus.$on('menu.change', this.changeMenuItems)
  },

  data () {
    return {
      menuItems: MenuItems.general,
      authLogin: 'auth.login',
      goDark: false,
      drawer: false,
      clipped: false
    }
  },
  methods: {
    changeMenuItems () {
      let items = []
      if (this.$auth.check('ROLE_DOCTOR')) { items = MenuItems.doctor }
      if (this.$auth.check('ROLE_CASHIER')) { items = MenuItems.cashier }
      if (this.$auth.check('ROLE_HOSPITAL')) { items = MenuItems.hospital }
      if (this.$auth.check('ROLE_STAFF')) { items = MenuItems.staff }

      if (!this.$auth.check()) { items = MenuItems.general }
      if (this.$auth.check('ROLE_ADMIN')) {
        this.menuItems = MenuItems.admin
      } else {
        this.menuItems = items
        if (this.$auth.impersonating()) {
          this.menuItems = this.menuItems.filter((item) => {
            if ('childGroup' in item) {
              if (!this.routePermissionExists(item.route)) {
                item.route = null
              }
              item['childGroup'] = item.childGroup.filter(each => {
                if ('children' in each) {
                  each.children = each.children.filter(e => {
                    return this.routePermissionExists(e.route)
                  })
                  return each.children.length !== 0
                }
              })
              return item.childGroup.length !== 0
            } else {
              return this.routePermissionExists(item.route)
            }
          })
        } else {
          var hasChildrens = 0
          var hasChildGroup = 0
          items.map((item) => {
            if ('childGroup' in item) {
              item['display'] = false
              hasChildGroup = 0
              item.childGroup.map(each => {
                hasChildrens = 0
                each.children.map(e => {
                  e['display'] = this.routePermissionExists(e.route)
                  if (this.routePermissionExists(e.route)) {
                    hasChildrens++
                  }
                })
                if (hasChildrens) {
                  hasChildGroup++
                  item.childGroup['display'] = true
                } else {
                  item.childGroup['display'] = true
                }
              })
              item['display'] = !!hasChildGroup
            } else {
              item['display'] = this.routePermissionExists(item.route)
            }
            // if ('childGroup' in item) {
            //   if (!this.routePermissionExists(item.route)) {
            //     item.route = null
            //   } else {
            //     item['display'] = false
            //   }
            //   item.childGroup.map(each => {
            //     if ('children' in each) {
            //       each.children.map(e => {
            //         e[''] = this.routePermissionExists(e.route)
            //       })
            //       item.childGroup['display'] = each.children.length !== 0
            //     }
            //   })
            //   item['display'] = item.childGroup.length !== 0
            // } else {
            //   item['display'] = this.routePermissionExists(item.route)
            // }
          })
          console.log(items)
          this.menuItems = items
        }
      }
    },

    setUser (user) {
      this.$store.commit('core/setUser', user)
      this.changeMenuItems()
    }
  }
}
</script>

<style scoped>
  .tile-active-case {
    background: hsla(0,0%,100%,.08);
  }
</style>
