<template>

  <v-text-field
    v-model="pickedDate"
    :id="errors.vmId"
    @change="blurEvent"
    type="text"
  />
</template>
<script>
export default {
  name: 'nepali-date-picker',
  mounted () {
    let innerThis = this
    let element = this.$el.children[0].children[0].children[0].children[0]
    window.$(element).nepaliDatePicker({
      dateFormat: '%y-%m-%d',
      closeOnDateSelect: true
    })
    window.$(element).on('dateSelect', function (event) {
      innerThis.pickedDate = event.target.value
      innerThis.$emit('input', event.target.value)
    })
  },

  beforeDestroy: function () {
    window.$(this.$el).remove()
  },

  props: ['value'],

  data () {
    return {
      pickedDate: this.value
    }
  },

  methods: {
    blurEvent (event) {
      this.$nextTick(() => {
        console.log(event.target.value)
        this.$emit('input', event.target.value)
      })
    }
  }
}
</script>

<style scoped>
  input {
    /*display: none;*/
  }

</style>
