<template>
  <v-container

    fluid
    class="no-print"
  >
    <v-layout
      row
      wrap
    >

      <v-flex md1>
        <router-link :to="{ name: $auth.user().roleName+'.dashboard'  }">
          <v-img
            height="84px"
            style="margin-top:7px;"
            :contain="true"
            src="/static/logo_1.png"
          ></v-img>
        </router-link>
      </v-flex>

      <v-flex
        md7
        class="logo-text"
      >
        <router-link
          class="my-link"
          v-if="$auth.check()"
          :to="{ name: $auth.user().roleName+'.dashboard'}"
        >
          <p>{{ $store.state.core.metas.application_name }}</p>
        </router-link>
        <p
          :style="$auth.check() && 'hospital_id' in $auth.user()?'margin-bottom: 10px;':''"
          :class="$auth.check() && 'hospital_id' in $auth.user()?'body-2':''"
        >{{ $store.state.core.metas.municipality_name }}</p>
        <p
          style="margin-bottom: 10px;"
          class="logo-text-small"
        >{{ $store.state.core.metas.address }}</p>
        <p
          style="margin-bottom: 10px;"
          class="logo-text-small"
        >{{ $store.state.core.metas.province+', '+$store.state.core.metas.country}}</p>
      </v-flex>
      <v-flex
        md4
        v-if="$auth.check()"
      >
        <v-flex md12>
        <v-btn
          flat
          color="black"
          outline
          v-if="$auth.impersonating()"
          v-on:click="()=>{$auth.unimpersonate();$bus.$emit('load.metas')}"
        >Back to Admin
          Panel
        </v-btn>
          <v-btn
            dark
            flat
            v-if="$auth.check() && checkRouteExists($auth.user().roleName + '.patients.create')&& 'hospital_id' in $auth.user()"
            color="primary"
            :to="checkRouteExists($auth.user().roleName + '.patients.create')?{name: $auth.user().roleName + '.patients.create'}: null"
          >
            <v-icon>add</v-icon>
            Add Patient
          </v-btn>
        </v-flex>
        <v-text-field
          class="md-11"
          v-model="search"
          label="Patient Code/Name/Bill Code/Address"
          @keydown.prevent.enter="submit"
          append-outer-icon="search"
          @click:append-outer="submit"
          @keyup="keyup"
        >
        </v-text-field>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import PatientApi from '../api/patient'

export default {
  name: 'top-header',
  data () {
    return {
      search: ''
    }
  },
  methods: {
    logout () {
      this.$auth.logout()
      this.$bus.$emit('menu.change')
    },
    submit (e) {
      if (this.search.length > 2) {
        this.$router.replace({ name: this.$auth.user().roleName + '.patients.search', params: { search: this.search } })
      }
    },
    searchPatient (s) {
      PatientApi.search(s).then((res) => {
        if (res.body) {
          this.$store.dispatch('patient/loadPatient', res.data.results)
        } else {
          this.notFound = true
        }
      })
    },
    keyup (e) {
      this.$router.replace({ name: this.$auth.user().roleName + '.patients.search', params: { search: this.search } })
    }
  }
}
</script>

<style scoped>
.logo-text {
  font-size: 20px;
  float: left;
  margin-top: 1%;
  line-height: 0.6;
}

.logo-text-small {
  font-style: italic;
  font-size: 10px;
}

.my-link {
  text-decoration: none;
  color: black;
}

.my-link:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
