<template>
  <div>
    <v-layout row wrap>
      <v-flex md10>
        <h2>Add Store Out</h2>
        <h4 class="red--text">Note: * fields are required</h4>
      </v-flex>
      <v-flex md2>
        <v-btn :to="{ name: this.$auth.user().roleName+'.product.storeout.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <patient-form :print="true" :storeout="storeout" @update="updatestoreout"></patient-form>
  </div>
</template>

<script>
  import patientForm from './Form'
export default {
  components: { patientForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.storeout['hospital'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      storeout: {
        hospital: '',
        bills: [
          {
            user: this.$auth.user().id,
            total: 0,
            year: this.$store.state.core.metas.current_year
          }
        ],
        invoice_out_number: '',
        aawa: '',
        date: '',
        created_by: this.$auth.user().id,
        products: [
          {
            product: '',
            name: '',
            quantity: 1,
            category_name: '',
            rate: 0,
            remarks: '',
            product_commodity_number: '',
            specification: '',
            unit: ''
          }
        ]
      }
    }
  },
  methods: {
    updatestoreout (storeout) {
      this.storeout = storeout
    }
  }
}
</script>

<style scoped>
</style>
