<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit Store Product</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.storeout.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <store-out-form :storeout="store" :productservices="store.orders"></store-out-form>
  </div>
</template>

<script>
import StoreOutForm from './Form'
import storeoutApi from '../../../../api/storeout'
export default {
  name: 'StoreOutCreate',
  components: {
    StoreOutForm
  },
  watch: {
    $route (to, from) {
      this.created()
    }
  },
  data () {
    return {
      store: {
        name: '',
        quantity: 1,
        unit_price: 0
      }
    }
  },
  created () {
    storeoutApi.findById(this.$route.params.id).then(response => {
      this.store = response.body
    })
  }
}
</script>

<style scoped>
</style>
