<template>
  <v-layout>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>
        <v-card-text>
          <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-flex column>
      <div>
        <v-alert type="error" v-if="errors.any('myPatientform')" value="1">
          <ul>
            <li v-for="error in errors.all()">{{ error }}</li>
          </ul>
        </v-alert>
      </div>
      <div class="A4">
        <br/>
        <v-form ref="myPatientform" v-on:submit.prevent="submitForm">
          <section class="sheet padding-3mm" style="height:auto">
            <article>
              <article style="height:auto">
                <div
                  class="header"
                  style="display:inline-flex;justify-content:space-between;height:72px;border-bottom:0px"
                >
                  <div style="float:left;">
                    <img height="50px" src="/static/logo_1.png"/>
                  </div>
                  <div style="float:left;text-align:center">
                    <div style="height:15px;">{{ $store.state.core.metas.municipality_name }}</div>
                    <div
                      style="font-size:1rem;font-weight:bold;line-height:1.5"
                    >{{ $store.state.core.metas.application_name }}
                    </div>
                    <div
                      style=" font-style: italic;font-size: 12px;"
                    >{{ $store.state.core.metas.address }}
                    </div>
                    <div
                      style=" font-style: italic;font-size: 11px;"
                    >{{ $store.state.core.metas.province+', '+$store.state.core.metas.country}}
                    </div>
                  </div>

                  <div class="float:right;position:relative;right:0">Date: {{date}}</div>
                </div>
                <div
                  class="header"
                  style="display:inline-flex;justify-content:space-between;border-top:0px;height:15mm"
                >
                  <div style="float:left;">
                    <div
                      style=" font-style: italic;font-size: 15px;"
                    ><span style="">
                     निकास नम्बर
                      <span class="red--text">*</span> :
                    </span>
                      <input
                        :class="{ 'is-invalid': (invoice_out_number && errors.has('invoice_out_number')) }"
                        :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                        @blur="invoice_out_number=false"
                        @focus="invoice_out_number=true"
                        @input="storeout.invoice_out_number"
                        @keydown.prevent.shift.tab="movePrev"
                        @keydown.prevent.tab.exact="moveNext"
                        @keyup="handleSubmit"
                        class="input-items"
                        name="invoice_out_number"
                        v-model="storeout.invoice_out_number"
                        v-validate="'required'"
                      /></div>
                  </div>

                  <div style="float:left;text-align:center">
                    <div
                      style=" font-style: italic;font-size: 15px;"
                    ><span style="">
                      आ.व.:
                      <span class="red--text">*</span> :
                    </span>
                      <input
                        :class="{ 'is-invalid': (aawa && errors.has('aawa')) }"
                        :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                        @blur="aawa=false"
                        @focus="aawa=true"
                        @input="storeout.aawa = storeout.aawa.toUpperCase()"
                        @keydown.prevent.shift.tab="movePrev"
                        @keydown.prevent.tab.exact="moveNext"
                        @keyup="handleSubmit"
                        class="input-items"
                        name="aawa"
                        type='date'
                        v-model="storeout.aawa"
                        v-validate="'required'"
                      /></div>

                    <div
                      style=" font-style: italic;font-size: 15px;"
                    ><span style="">
                       मिति
                      <span class="red--text">*</span> :
                    </span>
                      <input
                        :class="{ 'is-invalid': (date && errors.has('date')) }"
                        :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                        @blur="date=false"
                        @focus="date=true"
                        @keydown.prevent.shift.tab="movePrev"
                        @keydown.prevent.tab.exact="moveNext"
                        @keyup="handleSubmit"
                        class="input-items"
                        name="date"
                        type='date'
                        v-model="storeout.date"
                        v-validate="'required'"
                      /></div>
                  </div>
                </div>
                <table>
                  <tr style="font-weight: bold;">
                    <td style="width:500px">
                    </td>
                    <td style="width:344px">
                      सामानको
                    </td>
                    <td style="width:197px">

                    </td>
                  </tr>
                </table>
                <div style="overflow-y: scroll;">
                  <table style="">
                    <thead>
                    <tr>
                      <th> क्र.नम्बर.</th>
                      <th>नाम</th>
                      <th>
                        जिन्सी खाता पाना नम्बर
                        <span class="red--text">*</span>
                      </th>
                      <th>
                        कोड नम्बर
                        <span class="red--text">*</span>
                      </th>
                      <th>
                        विशिष्टता
                        <span class="red--text">*</span>
                      </th>
                      <th>
                        इकाई
                        <span class="red--text">*</span>
                      </th>
                      <th>
                        प्रमाण
                        <span class="red--text">*</span>
                      </th>
                      <th>
                        दर
                        <span class="red--text">*</span>
                      </th>
                      <th>
                        कुल राकम
                        <span class="red--text">*</span>
                      </th>

                      <th>
                        कैफियात
                        <span class="red--text">*</span>
                      </th>
                      <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr :key="'product'+n" v-for="(product,n) in storeout.products">
                      <td style="width:10px">{{n+1}}</td>
                      <td style="width:100px">
                        <select
                          :class="{ 'is-invalid': errors.has('product_name_'+n) }"
                          :name="'product_name_'+n"
                          :ref="'product_name_'+n"
                          @change="(e)=>callUpdate(n,e)"
                          @keydown.prevent.shift.tab="movePrev"
                          @keydown.prevent.tab.exact="moveNext"
                          class="input-items minimal"
                          v-model="storeout.products[n].product"
                          v-validate="'required'"
                        >
                          <option disabled selected value>products</option>
                          <option
                            :key="'product_'+n"
                            :value="product.id"
                            v-for="(product,n) in products"
                          >{{product.name}}
                          </option>
                        </select>
                      </td>
                      <td class="first" style="height:5px">
                        <input
                          :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                          @keydown.prevent.shift.tab="movePrev"
                          @keydown.prevent.tab.exact="moveNext"
                          class="input-items"
                          disabled
                          style="border:0px"
                          v-model="storeout.products[n].category_name"
                        />
                      </td>
                      <td class="first" style="height:5px">
                        <input
                          :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                          @keydown.prevent.shift.tab="movePrev"
                          @keydown.prevent.tab.exact="moveNext"
                          class="input-items"
                          disabled
                          style="border:0px"
                          v-model="storeout.products[n].code"
                        />
                      </td>
                      <td class="first" style="height:5px;">
                        <input
                          :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                          @keydown.prevent.shift.tab="movePrev"
                          @keydown.prevent.tab.exact="moveNext"
                          class="input-items"
                          disabled
                          style="border:0px"
                          v-model="storeout.products[n].specification"
                        />
                      </td>
                      <td class="first" style="height:5px">
                        <input
                          :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                          @keydown.prevent.shift.tab="movePrev"
                          @keydown.prevent.tab.exact="moveNext"
                          class="input-items"
                          disabled
                          style="border:0px"
                          v-model="storeout.products[n].unit"
                        />
                      </td>
                      <td class="first" style="height:5px">
                        <input
                          :class="{ 'is-invalid': errors.has('product_quantity_'+n) }"
                          :max="productfilter[0]?productfilter[0].quantity:10"

                          :name="'product_quantity_'+n"
                          :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                          @change="(e)=>callUpdate(n,e)"
                          @keydown.prevent.shift.tab="movePrev"
                          @keydown.prevent.tab.exact="moveNext"
                          @keyup="(e)=>change(n,e)"
                          class="input-items"
                          min="1"
                          type="number"
                          v-model="storeout.products[n].quantity"
                          v-validate="'required'"

                        />
                      </td>
                      <td class="first" style="height:5px">
                        <input
                          :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                          @keydown.prevent.shift.tab="movePrev"
                          @keydown.prevent.tab.exact="moveNext"
                          class="input-items"
                          disabled
                          style="border:0px"
                          v-model="storeout.products[n].rate"
                        />
                      </td>

                      <td class="first" style="height:5px;width:100px">{{sum}}</td>

                      <td class="first" style="height:5px">
                        <input
                          :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                          class="input-items"
                          v-model="storeout.products[n].remarks"
                        />
                      </td>
                      <td class="first">
                        <button
                          @click="(e)=>{e.preventDefault();clickAdd(n)}"
                          class="input-items"
                          style="cursor:pointer;"
                          v-if="(storeout.products.length-1==n)&&(storeout.products.length!=products.length)"
                        >
                          <v-icon color="#0F0">add</v-icon>
                        </button>
                        <button @click="deleteClick(n)" style="cursor:pointer;height:5px;">
                          <v-icon color="#F00">delete</v-icon>
                        </button>
                      </td>
                    </tr>
                    </tbody>


                    <td style="width:100px">Total</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{sum}}</td>


                  </table>

                </div>

                <div
                  class="header"
                  style="display:inline-flex;justify-content:space-between;border-bottom:0px"
                >
                  <div style="float:left;">
                    <div style="height:15px;padding-top:10px">
                      फाटवालाको हस्ताक्षर <span class="red--text">*</span> :
                    </div>
                    <div
                      style=" font-style: italic;font-size: 15px;padding-top:20px"
                    ><span style="">
                      नाम
                      <span class="red--text">*</span> :
                    </span>
                    </div>
                    <div
                      style=" font-style: italic;font-size: 15px;"
                    ><span style="">
                      मिति
                      <span class="red--text">*</span> :
                    </span>
                    </div>
                  </div>
                  <div style="float:left;text-align:center ;padding-top:30px;">
                    <div style=" font-style: italic;font-size: 15px;margin-right:56px">
                      साखा प्रामुख हस्ताक्षर :
                    </div>
                    <div
                      style=" font-style: italic;font-size: 15px;"
                    ><span style="">
                      नाम
                      <span class="red--text">*</span> :
                    </span>
                    </div>
                    <div
                      style=" font-style: italic;font-size: 15px;"
                    ><span style="">
                      मिति
                      <span class="red--text">*</span> :
                    </span>
                    </div>
                  </div>
                  <div style="float:left;text-align:center ;padding-top:30px;margin-right:65px">
                    <div style=" font-style: italic;font-size: 15px;margin-right:56px">
                      स्वीकृति गरेको हस्ताक्षर :
                    </div>
                    <div
                      style=" font-style: italic;font-size: 15px;"
                    ><span style="">
                      नाम
                      <span class="red--text">*</span> :
                    </span>
                    </div>
                    <div
                      style=" font-style: italic;font-size: 15px;"
                    ><span style="">
                      मिति
                      <span class="red--text">*</span> :
                    </span>
                    </div>
                  </div>
                </div>
                <v-layout row wrap>
                  <v-flex md12>
                    <v-btn type="submit">Submit</v-btn>
                    <v-dialog v-model="submitProcess">
                      <v-progress-circular
                        :size="30"
                        :width="2"
                        color="black"
                        indeterminate
                        v-if="submitProcess"
                      ></v-progress-circular>
                    </v-dialog>
                    <v-btn @click="clear">Clear</v-btn>
                  </v-flex>
                </v-layout>
              </article>
            </article>
          </section>
        </v-form>
      </div>
    </v-flex>
  </v-layout>
</template>
<script>
  import utils from './../../../../utils'
  import patientApi from '../../../../api/patient'
  import productstoreoutApi from '../../../../api/productStoreout'
  import serviceApi from '../../../../api/services'
  import productApi from '../../../../api/product'
  import doctorApi from '../../../../api/doctor'
import billprint from './billprint'
export default {
  props: {
    patient: {
      type: Object,
      required: true
    },
    storeout: {
      type: Object,
      required: true
    },
    print: {
      type: Boolean,
      required: true
    }
  },
  created () {
    doctorApi.index().then(response => {
      this.doctors = response.body.results
    })
    serviceApi.index().then(res => {
      this.products = res.body.results
    })
    productApi.index().then(res => {
      this.products = res.data.results
      this.products.map((each, index) => {
        this.mapProducts[each.id] = index
      })
    })
  },
  updated () {
    // console.log(this.product, 'product', this.storeout.products.length)
    if (this.product < this.storeout.products.length) {
      this.product++
      document
        .querySelectorAll('select')
        [document.querySelectorAll('select').length - 1].focus()
    }
  },
  mounted () {
    if (!this.print) {
      document
        .querySelectorAll('select')[document.querySelectorAll('select').length - 1]
        .focus()
    } else {
      this.moveFocus(0)
    }
  },
  data () {
    return {
      num: 3,
      pname: true,
      pphone: false,
      products: [],
      page: false,
      total: [],
      date: utils.formatDate(),
      doctors: [],
      mapProducts: {},
      validated: false,
      submitProcess: false,
      submitted: false,
      sum: 0,
      productfilter: [],
      service: 1,
      product: 1,
      errorMessage: [],
      errorDialog: false,
      serviceIds: [],
      productIds: []
    }
  },
  computed: {
    lists () {
      console.log('work')
      return Array.from(Array(this.num).keys())
    },
    elements () {
      return document.getElementsByClassName('input-items')
    }
  },
  methods: {
    handleSubmit () {
      this.$emit('update', this.storeout)
      this.submitted = false
      this.$validator.validate().then(valid => {
        if (valid) {
          this.validated = true
        }
      })
    },
    submitForm () {
      console.log('clicked', this.errorsCount)
      this.$validator.validate().then(valid => {
        if (valid) {
          let datas = this.storeout
          console.log(this.sum)
          datas.bills[0]['total'] = this.sum
          datas.bills[0]['products'] = this.storeout.products
          // alert(JSON.stringify(datas));
          if (this.print) {
            this.submitProcess = true
            productstoreoutApi
              .save(datas)
              .then(res => {
                this.submitProcess = false
                // this.storeout = res.body
                // this.storeout['products'] = res.body['bills'][0]['products']
                this.printPdf(false)
              })
              .catch(err => {
                let er = Object.keys(err.body)
                er.forEach(each => {
                  if (each === 'non_field_errors') {
                    err.body[each].forEach(item => {
                      console.log(item)
                      this.errorMessage.push(item)
                    })
                  } else {
                    this.errorMessage.push(err.body[each])
                  }
                })
                this.errorDialog = true
              })
          } else {
            this.submitProcess = true
            productstoreoutApi
              .update(datas)
              .then(res => {
                this.submitProcess = false
                this.storeout = res.body
                this.storeout['products'] = res.body['bills'][0]['products']
                this.submitted = true
                this.printPdf(true)
              })
              .catch(err => {
                let i = 0
                let er = Object.keys(err.body)
                er.forEach(each => {
                  if (each === 'non_field_errors') {
                    err.body[each].forEach(item => {
                      console.log(item)
                      this.errorMessage.push(item)
                    })
                  } else {
                    this.errorMessage.push(err.body[each])
                  }
                })
                this.errorDialog = true
              })
          }
        }
      })
    },
    printPdf (print) {
      if (1) {
        var mywindow = window.open()
        var is_chrome = Boolean(mywindow.chrome)
        console.log('mystoreout', this.sum)
        mywindow.document.write(billprint(this.storeout, print, this.sum))
        if (1) {
          if (is_chrome) {
            setTimeout(function () {
              // wait until all resources loaded
              mywindow.document.close() // necessary for IE >= 10
              mywindow.focus() // necessary for IE >= 10
              mywindow.print() // change window to winPrint
              mywindow.close() // change window to winPrint
            }, 250)
          } else {
            mywindow.document.close() // necessary for IE >= 10
            mywindow.focus() // necessary for IE >= 10

            mywindow.print()
            mywindow.close()
          }
          this.$router.push({
            name: this.$auth.user().roleName + '.product.storeout.index'
          })
        }
      }
    },
    clear () {
      this.$emit('update', {
        bills: [
          {
            user: this.$auth.user().id,
            products: [
              {
                product: '',
                name: '',
                quantity: 1,
                category_name: '',
                rate: 0,
                remarks: '',
                product_commodity_number: '',
                specification: '',
                unit: ''
              }
            ],
            total: 0
          }
        ]
      })
    },
    findIndex (target, my = false) {
      if (my) {
        return [].findIndex.call(
          document.getElementsByClassName('button-items'),
          e => e === target
        )
      }
      return [].findIndex.call(this.elements, e => e === target)
    },
    handleChange (e) {
      console.log(e.target.value.length)
      if (e.target.value.length === 2) {
        this.handleSubmit()
        console.log(this.findIndex(e.target) + 1)
        this.moveFocus(this.findIndex(e.target) + 1)
      }
    },
    handlePhoneChange (e) {
      if (e.target.value.length > 0) {
        if (e.target.value[0] === 9) {
          if (e.target.value.length === 10) {
            this.handleSubmit()
            this.moveFocus(this.findIndex(e.target) + 1)
          }
        } else if (e.target.value[0] === 0) {
          if (e.target.value.length === 9) {
            this.handleSubmit()
            this.moveFocus(this.findIndex(e.target) + 1)
          }
        }
      }
    },
    change (n, e) {
      this.handleSubmit()
      if (e.target.value > 0 && e.target.value < 100) {
        this.total[n] =
          this.storeout.products[n].rate * this.storeout.products[n].quantity
        this.sum = this.sumArray(this.total)
        console.log(this.sum)
        this.$emit('update', this.storeout)
      }
    },
    increment (n, e) {
      if (this.storeout.products[n].rate != 0) {
        if (this.storeout.products[n].quantity <= 100) {
          this.storeout.products[n].quantity++
          e.target.value++
          this.total[n] =
            this.storeout.products[n].rate *
            this.storeout.products[n].quantity
          this.sum = this.sumArray(this.total)
          console.log(this.sum)
          this.$emit('update', this.storeout)
        }
      }
    },
    decrement (n, e) {
      // this.products[n].squnatity = parseInt(this.products[n].squnatity,10)+1
      if (this.storeout.products[n].rate != 0) {
        if (this.storeout.products[n].quantity != 1) {
          this.storeout.products[n].quantity--
          e.target.value--
          this.total[n] =
            this.storeout.products[n].rate *
            this.storeout.products[n].quantity
          this.sum = this.sumArray(this.total)
          this.$emit('update', this.storeout)
        }
      }
    },
    moveFocus (index) {
      this.handleSubmit()
      if (this.elements[index]) {
        this.elements[index].focus()
      }
    },
    moveNext (event) {
      const index = this.findIndex(event.target)
      this.moveFocus(index + 1)
    },
    movePrev (event) {
      const index = this.findIndex(event.target)
      this.moveFocus(index - 1)
    },
    remove (event) {
      const index = this.findIndex(event.target, true)
      let el = document.getElementsByClassName('button-items')
      el[index].remove()
      this.$emit('update', this.storeout)
      this.handleSubmit()
      console.log(index)
    },
    callUpdate (n, e) {
      let result = this.products.filter(
        product => product.id === this.storeout.products[n].product
      )
      console.log(result)
      this.productfilter = result
      this.storeout.products[n].rate = result[0].rate
      this.storeout.products[n].category_name = result[0].category_name
      this.storeout.products[n].specification = result[0].specification
      this.storeout.products[n].code = result[0].code
      this.storeout.products[n].unit = result[0].unit
      this.storeout.hospital = this.$auth.user().hospital_id
      this.total[n] =
        this.storeout.products[n].rate * this.storeout.products[n].quantity
      this.sum = this.sumArray(this.total)
      this.$emit('update', this.storeout)
      this.handleSubmit()
      // this.moveFocus(this.findIndex(e.target)+1);
    },
    clickAdd (n) {
      if (this.products.length !== this.storeout.products.length) {
        // console.log(document.querySelector('select'));
        this.$emit('update', this.storeout)
        this.storeout.products.push({
          product: '',
          name: '',
          quantity: 1,
          category_name: '',
          rate: 0,
          remarks: '',
          product_commodity_number: '',
          specification: '',
          unit: ''
        })
        this.handleSubmit()
        this.validated = false
      }

      // console.log(this.findIndex(e.target));
    },
    deleteClick (n) {
      if (this.storeout.products.length > 1) {
        this.product--
        this.storeout.products.splice(n, 1)
        this.total.splice(n, 1)
        this.$emit('update', this.storeout)
        this.handleSubmit()
      }
    }
  }
}
</script>
<style scoped>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  li {
    margin: 5px 0;
    list-style: none;
  }

  input.is-invalid,
  select.is-invalid {
    border: 1px solid rgb(235, 38, 38) !important;
  }

  input.input-items,
  select.input-items {
    font-size: 12px;
    min-width: 150px;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: left;
    color: #000;
  }

  input.input-items {
    text-transform: uppercase;
  }

  select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
  }

  select.minimal:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }

  html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  .hide {
    display: none;
  }

  body {
    margin: 0;
  }

  .body {
    display: flex;
  }

  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  figcaption,
  figure,
  main {
    display: block;
  }

  figure {
    margin: 1em 40px;
  }

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }

  b,
  strong {
    font-weight: inherit;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  dfn {
    font-style: italic;
  }

  mark {
    background-color: #ff0;
    color: #000;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  audio,
  video {
    display: inline-block;
  }

  audio:not([controls]) {
    display: none;
    height: 0;
  }

  img {
    border-style: none;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  button,
  input {
    overflow: visible;
  }

  button,
  select {
    text-transform: none;
  }

  [type="reset"],
  [type="submit"],
  button,
  html [type="button"] {
    -webkit-appearance: button;
  }

  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring,
  button:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }

  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }

  progress {
    display: inline-block;
    vertical-align: baseline;
  }

  textarea {
    overflow: auto;
  }

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  details,
  menu {
    display: block;
  }

  summary {
    display: list-item;
  }

  canvas {
    display: inline-block;
  }

  template {
    display: none;
  }

  [hidden] {
    display: none;
  }

  @page {
    margin: 0;
  }

  body {
    margin: 0;
    border-right: 1px #eee solid;
  }

  .sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
  }

  body.A3 .sheet {
    width: 297mm;
    height: 419mm;
  }

  body.A3.landscape .sheet {
    width: 420mm;
    height: 296mm;
  }

  body.A4 .sheet {
    width: 210mm;
    height: 296mm;
  }

  body.A4.landscape .sheet {
    width: 297mm;
    height: 209mm;
  }

  body.A5 .sheet {
    width: 148mm;
    height: 209mm;
  }

  body.A5.landscape .sheet {
    width: 210mm;
    height: 147mm;
  }

  body.letter .sheet {
    width: 216mm;
    height: 279mm;
  }

  body.letter.landscape .sheet {
    width: 280mm;
    height: 215mm;
  }

  body.legal .sheet {
    width: 216mm;
    height: 356mm;
  }

  body.legal.landscape .sheet {
    width: 357mm;
    height: 215mm;
  }

  .sheet.padding-3mm {
    padding: 3mm;
  }

  .sheet.padding-10mm {
    padding: 10mm;
  }

  .sheet.padding-15mm {
    padding: 15mm;
  }

  .sheet.padding-20mm {
    padding: 20mm;
  }

  .sheet.padding-25mm {
    padding: 25mm;
  }

  @media screen {
    body {
      background: #e0e0e0;
    }

    .sheet {
      background: #fff;
      box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
      margin: 5mm auto;
    }
  }

  @media print {
    body.A3.landscape {
      width: 420mm;
    }

    body.A3,
    body.A4.landscape {
      width: 297mm;
    }

    body.A4,
    body.A5.landscape {
      width: 210mm;
    }

    body.A5 {
      width: 148mm;
    }

    body.legal,
    body.letter {
      width: 216mm;
    }

    body.letter.landscape {
      width: 280mm;
    }

    body.legal.landscape {
      width: 357mm;
    }
  }

  .header {
    width: 100%;
    height: 30mm;
    border-right: 1px #eee solid;
    border-left: 1px #eee solid;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
  }

  .header .logo {
    width: 15%;

    height: inherit;
    float: left;
  }

  .header .content {
    width: 85%;

    height: inherit;
    float: right;
  }

  section.body {
    width: 100%;
    height: 88mm;
    border-right: 1px #eee solid;
    border-left: 1px #eee solid;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
  }

  .col1 {
    width: 50%;
    height: inherit;
    float: left;
    border-right: 1px #eee solid;
  }

  .col2 {
    width: 49%;
    height: inherit;
    float: left;
  }

  .logo h4 {
    margin-top: 110px;
    margin-left: 10px;
  }

  .Details {
    width: auto;
    margin-left: 216px;
  }

  .Details p {
    margin-top: 2px;
  }

  /* table */
  tr th,
  tr td {
    text-align: center;
    /* margin-left: 24.5%; */
    /* border-bottom: 1px #eee solid; */
    text-decoration: none;
  }

  .patient {
    margin-left: 10px;
    width: 30%;
    height: auto;
  }

  @page {
    size: A4;
  }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 4px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #17a2b8;
    color: white;
  }
</style>
