<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New Staff Type</h2>
      </v-flex>
      <v-flex md2>
        <v-btn
          fab
          :to="{ name: this.$auth.user().roleName+'.stafftypes.index' }"
          class="float-right"
        >
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <staff-type-form :type="blankStaffType" :permissions="blankStaffType.permissions"></staff-type-form>
  </div>
</template>

<script>
import StaffTypeForm from './Form'
export default {
  components: { StaffTypeForm },
  created () {
    console.log(this.$auth.user().hospital_id)
    if ('hospital_id' in this.$auth.user()) {
      this.blankStaffType['hospital'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      blankStaffType: {
        tname: '',
        permissions: {}
      }
    }
  }
}
</script>

<style scoped>
</style>

// WEBPACK FOOTER //
// src/pages/admin/notices/Create.vue
