<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>

        <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="servicetype_form" v-on:submit.prevent="submit">
      <v-text-field
        v-model="type.tname"
        :rules="tnameRules"
        :counter="30"
        label="Staff Type"
        required
        autofocus
        @input="type.tname = type.tname.toUpperCase()"
      ></v-text-field>
      <v-autocomplete
        v-if="!('hospital_id' in $auth.user())"
        v-model="type.hospital"
        :items="hospitals"
        item-text="name"
        item-value="id"
        label="Hospital"
        @keydown.prevent="(e)=>{e.preventDefault();console.log('prevent enter');}"
      ></v-autocomplete>

      <ul>
        <li :key="menu.title" v-for="menu in menusItem['hospital']">
          <div class="d-inline-flex">
            <div>{{menu.title}}</div>
            <v-checkbox
              v-for="rout in menu.crud"
              :key="rout"
              v-if=" 'route' in menu"
              :label="rout.toUpperCase()"
              v-model="permissions[parseRoute(menu.route,rout)]"
            ></v-checkbox>
          </div>
          <ul v-if=" 'childGroup' in menu ">
            <li :key="group.title" v-for="group in menu.childGroup">
              {{group.title}}
              <ul v-if=" 'children' in group ">
                <li :key="module.title" v-for="module in group.children">
                  <div class="d-inline-flex">
                    <div>{{module.title}}</div>
                    <v-checkbox
                      ml2
                      v-for="rout in module.crud"
                      :key="rout"
                      v-if=" 'route' in module"
                      :label="rout.toUpperCase()"
                      v-model="permissions[parseRoute(module.route,rout)]"
                    ></v-checkbox>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <v-btn
        :disabled="!valid && !submitProcess" type="submit"

      >
        {{ submitProcess ? 'Uploading' : 'Submit' }}
      </v-btn>

      <v-btn
        :disabled="!valid && !submitProcess"
        v-if="!('id' in type)"
        @click="sub"

      >
        {{ submitProcess ? 'Uploading' : 'Submit And Add Another' }}
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import staffTypeApi from '../../../api/stafftypes'
import hospitalApi from '../../../api/hospital'
import menus from '../../../menus'
// import type from '../../../api/type'
import utils from '../../../utils'
export default {
  name: 'staff-type-form',

  props: {
    type: {
      type: Object,
      required: true
    },
    permissions: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      valid: false,
      next: false,
      tnameEr: true,
      errorMessage: [],
      submitProcess: false,
      errorDialog: false,
      menusItem: [],
      name: '',
      id: '',
      hospitals: [],
      crudRoute: ['index', 'create', 'edit', 'delete'],
      tnameRules: [
        v => !!v || 'Staff Type is required',
        v => this.tnameEr || 'Staff Type already exists'
      ]
    }
  },
  created () {
    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    }
    this.menusItem = menus
  },

  methods: {
    sub (next) {
      this.next = true
      this.submit(next)
    },
    clear () {
      this.$refs.servicetype_form.reset()
    },

    checkIfRouteExists (key, route) {
      key = key.split('.index')[0]
      return this.checkRouteExists(key + '.' + route)
    },
    parseRoute (key, route = 'index') {
      return key.split('.index')[0].split('hospital.')[1] + '.' + route
    },

    submit (e) {
      e.preventDefault()
      this.type.permissions = this.permissions
      if (this.valid) {
        if ('id' in this.type) {
          this.submitProcess = true
          staffTypeApi
            .update(this.type)
            .then(response => {
              this.submitProcess = false
              this.$router.push({
                name: this.$auth.user().roleName + '.stafftypes.index'
              })
            })
            .catch(err => {
              this.errorMessage = []
              if (err.status !== 500) {
                let er = Object.keys(err.data)
                er.forEach(each => {
                  if (each === 'non_field_errors') {
                    this.errorMessage.push(JSON.stringify(err.data[each]))
                  } else {
                    this.errorMessage.push(err.data[each])
                  }
                })
              } else {
                this.errorMessage.push('Value Error')
              }
              this.errorDialog = true
            })
        } else {
          this.submitProcess = true
          staffTypeApi
            .save(this.type)
            .then(response => {
              this.submitProcess = false
              this.$router.push({
                name: this.$auth.user().roleName + '.stafftypes.index'
              })
              if(this.next){
                setTimeout(()=>this.$router.push({ name: this.$auth.user().roleName + '.stafftypes.create', query: { reload: new Date().valueOf() } }))
              }
            })
            .catch(err => {
              this.errorMessage = []
              if (err.status !== 500) {
                let er = Object.keys(err.data)
                er.forEach(each => {
                  if (each === 'non_field_errors') {
                    this.errorMessage.push(JSON.stringify(err.data[each]))
                  } else {
                    this.errorMessage.push(err.data[each])
                  }
                })
              } else {
                this.errorMessage.push('Value Error')
              }
              this.errorDialog = true
            })
        }
      }
    }
  }
}
</script>

<style scoped>
</style>
