<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New Service</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.services.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <service-form :service="blankService"></service-form>
  </div>
</template>

<script>
import ServiceForm from './Form'
export default {
  components: { ServiceForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.blankService['hospital'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      blankService: { scode: '', sname: '', sprice: '', stype: '', year: this.$store.state.core.metas.current_year }
    }
  }
}
</script>

<style scoped>
</style>
