<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Edit service</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.services.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <service-form :service="service"></service-form>
  </div>
</template>

<script>
import serviceForm from './Form'
import serviceApi from '../../../api/services'

export default {
  components: { serviceForm },

  data () {
    return {
      service: {
        id: '',
        title: '',
        content: '',
        publishedDate: ''
      }
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    serviceApi.findById(this.$route.params.id).then(response => {
      this.service = response.body
    })
  }
}
</script>
