<template>
  <v-flex md6>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>
        <v-card-body>
          <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        </v-card-body>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="service_form" v-on:submit.prevent="submit">
      <v-text-field
        v-model="service.sname"
        :rules="snameRules"
        :counter="30"
        label="Serivce Name"
        @input="service.sname = service.sname.toUpperCase()"
        required
        outlined
        shaped
        autofocus
      ></v-text-field>

      <v-text-field
        v-model="service.sprice"
        :rules="spriceRules"
        :counter="30"
        label="Service Price"
        min="0"
        type="number"
        required
        outlined
        shaped
      ></v-text-field>

      <v-select
        v-model="service.stype"
        :rules="stypeRules"
        :items="types"
        item-text="tname"
        item-value="id"
        label="Service Type"
        ref="servicetype"
        required
        outlined
        shaped
      ></v-select>
      <v-autocomplete
        v-if="!('hospital_id' in $auth.user())"
        v-model="service.hospital"
        :items="hospitals"
        item-text="name"
        item-value="id"
        label="Hospital"
      ></v-autocomplete>

      <v-btn
        :disabled="!valid && !submitProcess" type="submit"

      >
        {{ submitProcess ? 'Uploading' : 'Submit' }}
      </v-btn>

      <v-btn
        :disabled="!valid && !submitProcess"
        v-if="!('id' in service)"
        @click="sub"

      >
        {{ submitProcess ? 'Uploading' : 'Submit And Add Another' }}
      </v-btn>
      <!--<v-model v-model="submitProcess">-->
        <!--<v-process>-->
          <!--<v-progress-circular-->
            <!--v-if="submitProcess"-->
            <!--:size="30"-->
            <!--:width="2"-->
            <!--color="black"-->
            <!--indeterminate-->
          <!--&gt;</v-progress-circular>-->
        <!--</v-process>-->
      <!--</v-model>-->
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
</template>

<script>
import serviceApi from '../../../api/services'

import serviceTypeApi from '../../../api/serviceTypes'
import hospitalApi from '../../../api/hospital'
export default {
  name: 'service-form',

  props: {
    service: {
      type: Object,
      required: true
    }
  },
  created () {
    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    }
  },

  data () {
    return {
      valid: false,
      next: false,
      name: '',
      id: '',
      types: [],
      validationRules: [
        [v => !!v || 'Percentage is required'],
        [v => !!v || 'Price is required']
      ],
      hospitals: [],
      errorMessage: [],
      submitProcess: false,
      errorDialog: false,
      snameRules: [v => !!v || 'Name is required'],
      spriceRules: [v => !!v || 'Price is required'],
      stypeRules: [v => !!v || 'Type is required']
    }
  },
  watch: {
    $route (to, from) {
      this.created()
    }
  },
  beforeCreate () {
    serviceTypeApi.index().then(res => {
      this.types = res.body.results
    })
  },

  methods: {
    sub (next) {
      this.next = true
      this.submit(next)
    },
    clear () {
      this.$refs.service_form.reset()
    },
    validationRulesForPercentage (i) {
      return [v => !!v || 'Percentage is required']
    },
    submit (e) {
      e.preventDefault()
      if (!this.valid) {
        return 0
      }
      this.service.sprice = parseFloat(this.service.sprice)
      if ('id' in this.service) {
        this.submitProcess = true
        serviceApi
          .update(this.service)
          .then(response => {
            this.submitProcess = false
            this.$router.push({
              name: this.$auth.user().roleName + '.services.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      } else {
        this.submitProcess = true
        serviceApi
          .save(this.service)
          .then(response => {
            this.submitProcess = false
            // this.$router.push({
            //   name: this.$auth.user().roleName + '.services.index'
            // })
            // if (this.next) {
            //   setTimeout(() => this.$router.push({ name: this.$auth.user().roleName + '.services.create', query: { reload: new Date().valueOf() } }))
            // }
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
