<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Bills</h2>
      </v-flex>
      <v-flex md2>
        <v-btn
          fab
          :to="{ name: this.$auth.user().roleName+'.patients.edit',params:{id:$route.params.id} }"
          class="float-right"
        >
          <v-icon>add</v-icon>
        </v-btn>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.patients.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex md12>
        <v-data-table
          :headers="headers"
          :items="patient.bills"
          class="elevation-1"
          :rows-per-page-items="[-1]"
        >
          <template slot="headerCell" slot-scope="props">
            <v-tooltip bottom>
              <span slot="activator">{{ props.header.text }}</span>
              <span>{{ props.header.text }}</span>
            </v-tooltip>
          </template>
          <template slot="items" slot-scope="props">
            <td>{{ props.index+1 }}</td>
            <td>{{ props.item.bcode }}</td>
            <td>{{ props.item.services.length }}</td>
            <td>Rs. {{ props.item.total }}</td>
            <td>{{ formatDateComplete(props.item.created_at)+' '+(new Date(props.item.created_at)).getHours()+':'+(new Date(props.item.created_at)).getMinutes() }}</td>
            <td>
              <div class="d-flex">
                <v-btn danger flat @click="printBill(patient.bills.indexOf(props.item),true)">
                  <v-icon>print</v-icon>
                </v-btn>
                <v-btn danger flat @click="printBill(patient.bills.indexOf(props.item),false)">
                  <v-icon>remove_red_eye</v-icon>
                </v-btn>
              </div>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import patientApi from '../../../api/patient'
import billprint from './billprint'

export default {
  name: 'patient-bill',
  created () {
    patientApi.findById(this.$route.params.id).then(response => {
      this.patient = JSON.parse(response.bodyText)
    })
  },
  watch: {
    $route (to, from) {
      this.created()
    }
  },

  data () {
    return {
      services: [],
      headers: [
        {
          text: '#',
          align: 'left',
          sortable: true,
          value: 'id'
        },
        { text: 'Bill', value: 'bcode' },

        { text: 'Services', value: 'services.length' },
        { text: 'Amount', value: 'total' },
        { text: 'Date', value: 'created_at' },
        { text: 'Actions', value: 'actions', width: '20%' }
      ],
      patient: {}
    }
  },
  methods: {
    printBill (n, print) {
      var mywindow = window.open()
      var isChrome = Boolean(mywindow.chrome)
      mywindow.document.write(billprint(this.patient, print, n))
      if (print) {
        if (isChrome) {
          setTimeout(function () {
            // wait until all resources loaded
            mywindow.document.close() // necessary for IE >= 10
            mywindow.focus() // necessary for IE >= 10
            mywindow.print() // change window to winPrint
            mywindow.close() // change window to winPrint
          }, 250)
        } else {
          mywindow.document.close() // necessary for IE >= 10
          mywindow.focus() // necessary for IE >= 10

          mywindow.print()
          mywindow.close()
        }
      }
    }
  }
}
</script>
