<template>
  <v-layout>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>
        <v-card-text>
          <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-flex column>
      <!--      <div>-->
      <!--        <v-alert v-if="errors.any('myPatientform')" type="error" value="1"><ul>-->
      <!--  <li v-for="error in errors.all()">{{ error }}</li>-->
      <!--</ul></v-alert>-->
      <!--      </div>-->
      <div class="A4">
        <br />
        <v-form ref="myPatientform" v-on:submit.prevent="submitForm">
          <section class="sheet padding-3mm">
            <article>
              <article style="height:103mm">
                <div
                  class="header"
                  style="display:inline-flex;justify-content:space-between;height:72px;"
                >
                  <div style="float:left;">
                    <img src="/static/logo_1.png" height="50px" />
                  </div>
                  <div style="float:left;text-align:center">
                    <div style="height:15px;">{{ $store.state.core.metas.municipality_name }}</div>
                    <div
                      style="font-size:1rem;font-weight:bold;line-height:1.5"
                    >{{ $store.state.core.metas.application_name }}</div>
                    <div
                      style=" font-style: italic;font-size: 12px;"
                    >{{ $store.state.core.metas.address }}</div>
                    <div
                      style=" font-style: italic;font-size: 11px;"
                    >{{ $store.state.core.metas.province+', '+$store.state.core.metas.country}}</div>
                  </div>
                  <div class="float:right;position:relative;right:0">Date: {{date}}</div>
                </div>
                <div
                  class="patient-details"
                  style="display:flex;justify-content:space-between;padding:5px 0 0 0;"
                >
                  <div class="first">
                    <span style="font-weight:bold">Bill Code:</span> B2342432
                  </div>
                  <div class="first">
                    <span style="font-weight:bold">
                      Patient Name
                      <span class="red--text">*</span> :
                    </span>
                    <input
                      class="input-items"
                      v-model="patient.pname"
                      name="pname"
                      v-validate="'required'"
                      @input="patient.pname = patient.pname.toUpperCase()"
                      @keydown.prevent.tab.exact="moveNext"
                      @keydown.prevent.shift.tab="movePrev"
                      :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                      @keyup="handleSubmit"
                      :class="{ 'is-invalid': (pname && errors.has('pname')) }"
                      @focus="pname=true"
                      @blur="pname=false"
                    />
                    <!-- <span class="red--text" v-if="pname &&  errors.has('pname')">{{errors.first('pname')}}</span> -->
                    &emsp;
                    <span style="font-weight:bold">
                      Age/Gender
                      <span class="red--text">*</span>:
                    </span>
                    <input
                      class="input-items"
                      v-model="patient.page"
                      v-validate="'required|between:1,100'"
                      name="page"
                      type="number"
                      :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                      @keydown.prevent.tab.exact="moveNext"
                      @keydown.prevent.shift.tab="movePrev"
                      @focus="page=true"
                      @blur="page=false"
                      min="1"
                      @keyup="handleChange"
                      :class="{ 'is-invalid': (page && errors.has('page')) }"
                    />
                    <!-- <span class="red--text" v-if="page &&  errors.has('page')">{{errors.first('page')}}</span> -->
                    /
                    <select
                      class="input-items minimal"
                      v-model="patient.psex"
                      @keydown.prevent.tab.exact="moveNext"
                      @keydown.prevent.shift.tab="movePrev"
                      v-validate="'required'"
                      @change="moveNext"
                      name="psex"
                      @focus="psex=true"
                      @blur="psex=false"
                      :class="{ 'is-invalid': errors.has('psex') }"
                    >
                      <option value selected disabled>Sex</option>
                      <option value="MALE">Male</option>
                      <option value="FEMALE">Female</option>
                      <option value="OTHER">Other</option>
                    </select>
                    <!-- <span class="red--text" v-if="psex &&  errors.has('psex')">{{errors.first('psex')}}</span> -->
                  </div>
                </div>
                <div
                  class="patient-details"
                  style="display:flex;justify-content:space-between;padding:0px 0 5px 0;"
                >
                  <div class="first">
                    <span style="font-weight:bold">Patient Code:</span>
                    {{patient.pcode!=''?patient.pcode:'P2020081'}}&emsp;
                  </div>
                  <div class="first">
                    <span style="font-weight:bold">Phone :</span>
                    <input
                      class="input-items"
                      v-model="patient.pphone"
                      v-validate="{required:true,min:10}"
                      @keydown.prevent.tab.exact="moveNext"
                      @keydown.prevent.shift.tab="movePrev"
                      :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                      @keyup="handlePhoneChange"
                      name="pphone"
                      :class="{ 'is-invalid': errors.has('pphone') }"
                      @blur="pphone=false"
                      @focus="pphone=true"
                    />
                    <!-- <span class="red--text" v-if="pphone &&  errors.has('pphone')">{{errors.first('pphone')}}</span> -->
                    <span style="font-weight:bold">
                      Address
                      <span class="red--text">*</span> :
                    </span>
                    <input
                      class="input-items"
                      v-model="patient.paddress"
                      @input="patient.paddress = patient.paddress.toUpperCase()"
                      v-validate="{required:true,min:3}"
                      @keydown.prevent.tab.exact="moveNext"
                      @keydown.prevent.shift.tab="movePrev"
                      @keyup="handleSubmit"
                      name="paddress"
                      :class="{ 'is-invalid': errors.has('paddress') }"
                      @foucs="paddress=true"
                      @blur="paddress=false"
                    />
                    <!-- <span class="red--text" v-if="paddress &&  errors.has('paddress')">{{errors.first('paddress')}}</span> -->
                    &emsp;
                    <span style="font-weight:bold">
                      Doctor
                      <span class="red--text">*</span> :
                    </span>
                    <select
                      class="input-items minimal"
                      v-model="patient.referred_by"
                      @keydown.prevent.tab.exact="moveNext"
                      @keydown.prevent.shift.tab="movePrev"
                      v-validate="'required'"
                      @change="moveNext"
                      name="referred_by"
                      @focus="referred_by=true"
                      @blur="referred_by=false"
                      :class="{ 'is-invalid': errors.has('referred_by') }"
                    >
                      <option value selected disabled>Doctor</option>
                      <option
                        v-for="(doctor,n) in doctors"
                        :key="'doctor'+n"
                        :value="doctor.id"
                      >{{doctor.dname}}</option>
                      <option :value="0">NONE</option>
                    </select>
                    <!-- <span class="red--text" v-if="referred_by &&  errors.has('referred_by')">{{errors.first('referred_by')}}</span> -->
                  </div>
                </div>
                <div style="overflow-y: scroll;height:200px;">
                  <table style="line-height: normal;">
                    <thead>
                      <tr>
                        <th style="width:5%;">S.N.</th>
                        <th style="width:50%;">
                          Services
                          <span class="red--text">*</span>
                        </th>
                        <th>Rate</th>
                        <th>
                          Quantity
                          <span class="red--text">*</span>
                        </th>
                        <th>Total</th>
                        <th>Actions</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr v-for="(service,n) in patient.services" :key="'service'+n">
                        <td style="width:5%;">{{n+1}}</td>
                        <td style="width:50%;">
                          <select
                            class="input-items minimal"
                            v-model="patient.services[n].service"
                            v-validate="'required'"
                            @keydown.prevent.tab.exact="moveNext"
                            @keydown.prevent.shift.tab="movePrev"
                            @change="(e)=>callUpdate(n,e)"
                            :name="'service_name_'+n"
                            :ref="'service_name_'+n"
                            :class="{ 'is-invalid': errors.has('service_name_'+n) }"
                          >
                            <option value selected disabled>Services</option>
                            <option
                              v-for="(service,n) in services"
                              :key="'service_'+n"
                              :value="service.id"
                            >{{service.sname}}</option>
                          </select>
                        </td>
                        <td class="first" style="height:5px">{{patient.services[n].sprice}}</td>
                        <td class="first" style="height:5px">
                          <input
                            class="input-items"
                            v-model="patient.services[n].squantity"
                            v-validate="'required'"
                            :style="'font-size:'+$store.state.core.metas.bill_font_size+'px'"
                            @keydown.prevent.tab.exact="moveNext"
                            @keydown.prevent.shift.tab="movePrev"
                            @keydown.prevent.down="(e)=>decrement(n,e)"
                            @keydown.prevent.up="(e)=>increment(n,e)"
                            @keyup="(e)=>change(n,e)"
                            @change="(e)=>callUpdate(n,e)"
                            :name="'service_quantity_'+n"
                            :class="{ 'is-invalid': errors.has('service_quantity_'+n) }"
                            type="number"
                            min="1"
                            max="10"
                          />
                        </td>
                        <td class="first">{{total[n]}}</td>
                        <td class="first">
                          <button
                            v-if="(patient.services.length-1==n)&&(patient.services.length!=services.length)"
                            class="input-items"
                            @click="(e)=>{e.preventDefault();clickAdd(n)}"
                            style="cursor:pointer;"
                          >
                            <v-icon color="#0F0">add</v-icon>
                          </button>
                          <button @click="deleteClick(n)" style="cursor:pointer;height:5px;">
                            <v-icon color="#F00">delete</v-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tr>
                      <td></td>
                      <td>Total</td>
                      <td></td>
                      <td></td>
                      <td>{{sum}}</td>
                      <td></td>
                    </tr>
                  </table>
                </div>
                <v-layout row wrap>
                  <v-flex md12>
                    <v-btn :disabled="!validated || submitted" type="submit">Submit</v-btn>
                    <v-dialog v-model="submitProcess">
                        <v-progress-circular
                          v-if="submitProcess"
                          :size="30"
                          :width="2"
                          color="black"
                          indeterminate
                        ></v-progress-circular>
                    </v-dialog>
                    <v-btn @click="clear">Clear</v-btn>
                  </v-flex>
                </v-layout>
              </article>
            </article>
          </section>
        </v-form>
      </div>
    </v-flex>
  </v-layout>
</template>
<script>
import utils from './../../../utils'
import patientApi from '../../../api/patient'
import serviceApi from '../../../api/services'
import doctorApi from '../../../api/doctor'
import billprint from './billprint'
export default {
  props: {
    patient: {
      type: Object,
      required: true
    },
    print: {
      type: Boolean,
      required: true
    }
  },
  created () {
    doctorApi.index().then(response => {
      this.doctors = response.body.results
    })
    serviceApi.index().then(res => {
      this.services = res.body.results
    })
  },
  updated () {
    console.log(this.service, 'service', this.patient.services.length)
    if (this.service < this.patient.services.length) {
      this.service++
      document
        .querySelectorAll('select')
        [document.querySelectorAll('select').length - 1].focus()
    }
  },
  mounted () {
    if (!this.print) {
      document
        .querySelectorAll('select')[document.querySelectorAll('select').length - 1]
        .focus()
    } else {
      this.moveFocus(0)
    }
  },
  data () {
    return {
      num: 3,
      pname: true,
      pphone: false,
      page: false,
      total: [0, 0, 0],
      date: utils.formatDate(),
      doctors: [],
      services: [],
      validated: false,
      submitProcess: false,
      submitted: false,
      sum: 0,
      service: 1,
      errorMessage: [],
      errorDialog: false,
      serviceIds: []
    }
  },
  computed: {
    lists () {
      console.log('work')
      return Array.from(Array(this.num).keys())
    },
    elements () {
      return document.getElementsByClassName('input-items')
    }
  },
  methods: {
    handleSubmit () {
      this.$emit('update', this.patient)
      this.submitted = false
      this.$validator.validate().then(valid => {
        if (valid) {
          this.validated = true
        }
      })
    },
    submitForm () {
      console.log('clicked', this.errorsCount)
      this.$validator.validate().then(valid => {
        if (valid) {
          let datas = this.patient
          console.log(this.sum)
          datas.bills[0]['total'] = this.sum
          datas.bills[0]['services'] = this.patient.services
          // alert(JSON.stringify(datas));
          if (this.print) {
            this.submitProcess = true
            patientApi
              .save(datas)
              .then(res => {
                this.submitProcess = false
                this.patient = res.body
                this.patient['services'] = res.body['bills'][0]['services']
                this.printPdf(false)
              })
              .catch(err => {
                let er = Object.keys(err.body)
                er.forEach(each => {
                  if (each === 'non_field_errors') {
                    err.body[each].forEach(item => {
                      console.log(item)
                      this.errorMessage.push(item)
                    })
                  } else {
                    this.errorMessage.push(err.body[each])
                  }
                })
                this.errorDialog = true
              })
          } else {
            this.submitProcess = true
            patientApi
              .update(datas)
              .then(res => {
                this.submitProcess = false
                this.patient = res.body
                this.patient['services'] = res.body['bills'][0]['services']
                this.submitted = true
                this.printPdf(true)
              })
              .catch(err => {
                let i = 0
                let er = Object.keys(err.body)
                er.forEach(each => {
                  if (each === 'non_field_errors') {
                    err.body[each].forEach(item => {
                      console.log(item)
                      this.errorMessage.push(item)
                    })
                  } else {
                    this.errorMessage.push(err.body[each])
                  }
                })
                this.errorDialog = true
              })
          }
        }
      })
    },
    printPdf (print) {
      if (1) {
        var mywindow = window.open()
        var is_chrome = Boolean(mywindow.chrome)
        console.log('mypatient', this.patient)
        mywindow.document.write(billprint(this.patient, print, 0))
        if (1) {
          if (is_chrome) {
            setTimeout(function () {
              // wait until all resources loaded
              mywindow.document.close() // necessary for IE >= 10
              mywindow.focus() // necessary for IE >= 10
              mywindow.print() // change window to winPrint
              mywindow.close() // change window to winPrint
            }, 250)
          } else {
            mywindow.document.close() // necessary for IE >= 10
            mywindow.focus() // necessary for IE >= 10

            mywindow.print()
            mywindow.close()
          }
          this.$router.push({
            name: this.$auth.user().roleName + '.patients.index'
          })
        }
      }
    },
    clear () {
      this.$emit('update', {
        bills: [
          {
            user: this.$auth.user().id,
            services: [
              {
                sname: '',
                squantity: 1,
                sprice: 1,
                service: ''
              }
            ],
            total: 0
          }
        ],
        pname: '',
        page: '',
        psex: '',
        paddress: '',
        pphone: '',
        referred_by: ''
      })
    },
    findIndex (target, my = false) {
      if (my) {
        return [].findIndex.call(
          document.getElementsByClassName('button-items'),
          e => e === target
        )
      }
      return [].findIndex.call(this.elements, e => e === target)
    },
    handleChange (e) {
      console.log(e.target.value.length)
      if (e.target.value.length === 2) {
        this.handleSubmit()
        console.log(this.findIndex(e.target) + 1)
        this.moveFocus(this.findIndex(e.target) + 1)
      }
    },
    handlePhoneChange (e) {
      if (e.target.value.length > 0) {
        if (e.target.value[0] === 9) {
          if (e.target.value.length === 10) {
            this.handleSubmit()
            this.moveFocus(this.findIndex(e.target) + 1)
          }
        } else if (e.target.value[0] === 0) {
          if (e.target.value.length === 9) {
            this.handleSubmit()
            this.moveFocus(this.findIndex(e.target) + 1)
          }
        }
      }
    },
    change (n, e) {
      this.handleSubmit()
      if (e.target.value > 0 && e.target.value < 100) {
        this.total[n] =
          this.patient.services[n].sprice * this.patient.services[n].squantity
        this.sum = this.sumArray(this.total)
        console.log(this.sum)
        this.$emit('update', this.patient)
      }
    },
    increment (n, e) {
      if (this.patient.services[n].sprice != 0) {
        if (this.patient.services[n].squantity <= 100) {
          this.patient.services[n].squantity++
          e.target.value++
          this.total[n] =
            this.patient.services[n].sprice *
            this.patient.services[n].squantity
          this.sum = this.sumArray(this.total)
          console.log(this.sum)
          this.$emit('update', this.patient)
        }
      }
    },
    decrement (n, e) {
      // this.services[n].squnatity = parseInt(this.services[n].squnatity,10)+1
      if (this.patient.services[n].sprice != 0) {
        if (this.patient.services[n].squantity != 1) {
          this.patient.services[n].squantity--
          e.target.value--
          this.total[n] =
            this.patient.services[n].sprice *
            this.patient.services[n].squantity
          this.sum = this.sumArray(this.total)
          this.$emit('update', this.patient)
        }
      }
    },
    moveFocus (index) {
      this.handleSubmit()
      if (this.elements[index]) {
        this.elements[index].focus()
      }
    },
    moveNext (event) {
      const index = this.findIndex(event.target)
      this.moveFocus(index + 1)
    },
    movePrev (event) {
      const index = this.findIndex(event.target)
      this.moveFocus(index - 1)
    },
    remove (event) {
      const index = this.findIndex(event.target, true)
      let el = document.getElementsByClassName('button-items')
      el[index].remove()
      this.$emit('update', this.patient)
      this.handleSubmit()
      console.log(index)
    },
    callUpdate (n, e) {
      let result = this.services.filter(
        service => service.id === this.patient.services[n].service
      )

      this.patient.services[n].sprice = result[0].sprice
      this.patient.services[n].sname = result[0].sname
      this.total[n] =
        this.patient.services[n].sprice * this.patient.services[n].squantity
      this.sum = this.sumArray(this.total)
      this.$emit('update', this.patient)
      this.handleSubmit()
      // this.moveFocus(this.findIndex(e.target)+1);
    },
    clickAdd (n) {
      if (this.services.length !== this.patient.services.length) {
        // console.log(document.querySelector('select'));
        this.$emit('update', this.patient)
        this.patient.services.push({ sname: '', squantity: 1, sprice: 0 })
        this.handleSubmit()
        this.validated = false
      }

      // console.log(this.findIndex(e.target));
    },
    deleteClick (n) {
      if (this.patient.services.length > 1) {
        this.service--
        this.patient.services.splice(n, 1)
        this.total.splice(n, 1)
        this.$emit('update', this.patient)
        this.handleSubmit()
      }
    }
  }
}
</script>
<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
li {
  margin: 5px 0;
  list-style: none;
}
input.is-invalid,
select.is-invalid {
  border: 1px solid rgb(235, 38, 38) !important;
}
input.input-items,
select.input-items {
  font-size: 12px;
  min-width: 150px;
  padding: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  text-align: left;
  color: #000;
}
input.input-items {
  text-transform: uppercase;
}
select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.hide {
  display: none;
}
body {
  margin: 0;
}
.body {
  display: flex;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
@page {
  margin: 0;
}

body {
  margin: 0;
  border-right: 1px #eee solid;
}

.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

body.A3 .sheet {
  width: 297mm;
  height: 419mm;
}

body.A3.landscape .sheet {
  width: 420mm;
  height: 296mm;
}

body.A4 .sheet {
  width: 210mm;
  height: 296mm;
}

body.A4.landscape .sheet {
  width: 297mm;
  height: 209mm;
}

body.A5 .sheet {
  width: 148mm;
  height: 209mm;
}

body.A5.landscape .sheet {
  width: 210mm;
  height: 147mm;
}

body.letter .sheet {
  width: 216mm;
  height: 279mm;
}

body.letter.landscape .sheet {
  width: 280mm;
  height: 215mm;
}

body.legal .sheet {
  width: 216mm;
  height: 356mm;
}

body.legal.landscape .sheet {
  width: 357mm;
  height: 215mm;
}

.sheet.padding-3mm {
  padding: 3mm;
}
.sheet.padding-10mm {
  padding: 10mm;
}

.sheet.padding-15mm {
  padding: 15mm;
}

.sheet.padding-20mm {
  padding: 20mm;
}

.sheet.padding-25mm {
  padding: 25mm;
}

@media screen {
  body {
    background: #e0e0e0;
  }

  .sheet {
    background: #fff;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    margin: 5mm auto;
  }
}

@media print {
  body.A3.landscape {
    width: 420mm;
  }

  body.A3,
  body.A4.landscape {
    width: 297mm;
  }

  body.A4,
  body.A5.landscape {
    width: 210mm;
  }

  body.A5 {
    width: 148mm;
  }

  body.legal,
  body.letter {
    width: 216mm;
  }

  body.letter.landscape {
    width: 280mm;
  }

  body.legal.landscape {
    width: 357mm;
  }
}

.header {
  width: 100%;
  height: 30mm;
  border-right: 1px #eee solid;
  border-left: 1px #eee solid;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
}

.header .logo {
  width: 15%;

  height: inherit;
  float: left;
}

.header .content {
  width: 85%;

  height: inherit;
  float: right;
}

section.body {
  width: 100%;
  height: 88mm;
  border-right: 1px #eee solid;
  border-left: 1px #eee solid;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
}

.col1 {
  width: 50%;
  height: inherit;
  float: left;
  border-right: 1px #eee solid;
}

.col2 {
  width: 49%;
  height: inherit;
  float: left;
}
.logo h4 {
  margin-top: 110px;
  margin-left: 10px;
}
.Details {
  width: auto;
  margin-left: 216px;
}
.Details p {
  margin-top: 2px;
}

/* table */
tr th,
tr td {
  text-align: center;
  /* margin-left: 24.5%; */
  /* border-bottom: 1px #eee solid; */
  text-decoration: none;
}
.patient {
  margin-left: 10px;
  width: 30%;
  height: auto;
}

@page {
  size: A4;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 4px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #17a2b8;
  color: white;
}
</style>
