<template>
  <v-layout row wrap mb40>
  <v-flex md6>
    <v-form v-model="valid" ref="patient_form">
      <div  class="d-inline-flex">
      <v-text-field
        v-model="patient.pname"
        :rules="pnameRules"
        :counter="30"
        label="Patient Name"
        required
        class="mr-2"
        height="20px"
        ref="patientname"
      ></v-text-field>

      <v-text-field
        v-model="patient.page"
        :rules="pageRules"
        :counter="2"
        label="Patient Age"
        required
        class="mr-2"
        height="20px"
        ref="patientAge"
      ></v-text-field>
      <v-select
          v-model="patient.psex"
          :items="states"
          menu-props="auto"
          hide-details
          label="Patient Sex"
          required
          ref="patientsex"
          height="20px"
        ></v-select>
      </div>
       <div  class="d-inline-flex">
      <v-text-field
        v-model="patient.paddress"
        :rules="paddressRules"
        :counter="30"
        label="Patient Address"
        required
        class="mr-2"
        ref="patientAddress"
        height="20px"
      ></v-text-field>

      <v-text-field
        v-model="patient.pphone"
        :rules="pphoneRules"
        :counter="10"
        label="Patient Phone"
        height="20px"
        required
        class="mr-2"
      ></v-text-field>
      <v-autocomplete
          v-model="patient.referred_by"
          :rules="referred_byRules"
          :items="doctors"
          menu-props="auto"
          hide-details
          label="Referred By"
          single-line
          required
          height="20px"
        ></v-autocomplete>
       </div>
        <field-array :services="services"  @update="updateServices"></field-array>


      <v-btn
        :disabled="!valid"
        @click="submit"
      >
        submit
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </v-flex>
  <v-flex id="sampleBill" md6>
    {{returnBill()}}
  </v-flex>
  </v-layout>
</template>

<script>
  import patientApi from '../../../api/patient'
  import serviceApi from '../../../api/services'
  import doctorApi from '../../../api/doctor'
  import Util from '../../../utils'
  import retHtml from './retHtml'
  import fieldArray from './FieldArray'
import returnHtml from './retHtml'
export default {
  name: 'patient-form',
  components: {
    fieldArray,
  },
   beforeCreate() {
    // serviceApi.index().then((response) => {
    //   let service = response.body
    //   let se=[];
    //   service.map(function(each){
    //     let s = new Object();
    //     s['id']=each.id;
    //     s['sname']=each.sname;
    //     s['sprice']=each.sprice;
    //     se.push(s);
    //   })
    //   this.service = se;
    //   console.log(this.service)
    // })
    doctorApi.index().then((response)=>{
      let d = response.body
      let doc = [];
      d.map(function(each){
        doc.push(each.dname);
      })
      doc.push('None')
      this.doctors = doc;
    })
  },
  created(){
    this.goTo(this.$refs.patientName)
  },
  props: {
    patient: {
      type: Object,
      required: true
    },
    print:{
      type: Boolean,
      required: true
    },
  },

  data () {
    return {
      valid: false,
      name: '',
      id: '',
      displayBill:false,
      services:[
        {service:null,sname:"",squantity:1,sprice:0},
      ],
      states:['MALE','FEMALE','OTHER'],
      service:[],
      doctors:[],
      pnameRules: [
        v => !!v || 'Name is required',
      ],
      pageRules: [
        v => !!v || 'Age is required',
        v => (v && v.length <=2) || 'Please provide valid age.'
      ],
      psexRules: [
        v => !!v || 'Sex is required',
      ],
      paddressRules: [
        v => !!v || 'Address is required',
      ],
      pphoneRules: [
        v => !!v || 'Phone Number is required',
        v => (v && (/(^9\d{9})$|(^0\d{8})$/).test(v)) || 'Please provide valid telephone number or mobile number'
      ],
      quantityRules:[
        v => !!v || 'Quantity is required',
        v => (v && !isNaN(v) && v>0) || 'Quantity should be +ve'
      ],
      serviceRules: [
        v => !!v || 'Services is required',
        v => (v && v.length > 0) || 'Please provide services'
      ],

      contentRules: [
        v => !!v || 'Content is required',
      ],
      referred_byRules : [
        v => !!v || 'Refered by is required',
      ]
    }
  },

  methods: {
    clear () {
      this.goTo('patientsex')
      this.$refs.patient_form.reset()
    },
    returnBill(){
      returnHtml(this.patient)
      return '<h1>Hello</h1>';
    },
    updateServices(services,total){
      this.patient['bills'][0]['services']=services;
      this.patient['bills'][0]['total']=total;
       returnHtml(this.patient)
      //console.log(this.patient.services);
    },

    submit () {
      //console.log(this.patient)
      this.patient['pcreated_by']=this.$auth.user().username
      if(this.print){
      patientApi.save(this.patient).then((response) => {
        this.patient['pcode'] = response.body.pcode;
        this.patient.bills[0]['bcode']=response.body.bills[0].bcode;
          let w = window.open();
          w.document.write(retHtml(this.patient));
        //this.$router.push({ name: this.$auth.user().roleName+'.patients.index' })
      })
      }else{
        patientApi.update(this.patient).then((response)=>{
            this.patient['pcode'] = response.body.pcode;
        this.patient.bills[0]['bcode']=response.body.bills[0].bcode;
          let w = window.open();
          w.document.write(retHtml(this.patient));
          this.$router.push({ name: this.$auth.user().roleName+'.patients.index'})
        })
      }

    }
  }
}
</script>

<style scoped>

</style>



// WEBPACK FOOTER //
// src/pages/admin/patient/Form.vue
