<template template slot-scope="template">
  <div>
    <v-flex xs11 sm12>
      <h2 style="margin-bottom: 20px">Reports</h2>
    </v-flex>
    <v-layout row wrap mt40>
      <v-flex xs11 sm12>
        <h4 style="margin-bottom: 20px">User Bill Details</h4>
      </v-flex>
      <v-flex xs11 sm3>
        <nepali-date-picker v-model="query.fromDate"/>
      </v-flex>

      <v-flex xs11 sm3>
        <nepali-date-picker v-model="query.toDate"/>
      </v-flex>
      <v-flex xs11 sm3>
        <v-select label="User" v-model="query.user" :items="users" item-text="name" item-value="id"></v-select>
      </v-flex>
      <v-flex xs5 sm3>
        <v-btn @click="downloadReport">Download</v-btn>
      </v-flex>
    </v-layout>
    <v-layout mt40 row wrap>
      <v-flex sm12 xs11>
        <h4 style="margin-bottom: 20px">User Service Details</h4>
      </v-flex>
      <v-flex sm3 xs11>
        <nepali-date-picker v-model="servquery.fromDate"/>
      </v-flex>

      <v-flex sm3 xs11>
        <nepali-date-picker v-model="servquery.toDate"/>
      </v-flex>
      <v-flex sm3 xs11>
        <v-select :items="users" item-text="name" item-value="id" label="User" v-model="servquery.user"></v-select>
      </v-flex>
      <v-flex sm3 xs11>
        <v-select :items="types" item-text="tname" item-value="id" label="Service Type"
                  v-model="servquery.service"></v-select>
      </v-flex>
      <v-flex sm3 xs5>
        <v-btn @click="downloadUserServiceReport">Download</v-btn>
      </v-flex>
    </v-layout>
    <v-layout mt40 row wrap>
      <v-flex sm12 xs11>
        <h4 style="margin-bottom: 20px">Income Details</h4>
      </v-flex>
      <v-flex sm3 xs11>
        <nepali-date-picker v-model="incquery.fromDate"/>
      </v-flex>

      <v-flex sm3 xs11>
        <nepali-date-picker v-model="incquery.toDate"/>
      </v-flex>
      <v-flex sm3 xs11>
        <v-select :items="users" item-text="name" item-value="id" label="User" v-model="incquery.user"></v-select>
      </v-flex>
      <v-flex sm3 xs11>
        <v-select :items="incomeTypes" item-text="tname" item-value="id" label="Income Type"
                  v-model="incquery.type"></v-select>
      </v-flex>
      <v-flex sm3 xs5>
        <v-btn @click="downloadUserAccountReport('income')">Download</v-btn>
      </v-flex>
    </v-layout>
    <v-layout mt40 row wrap>
      <v-flex sm12 xs11>
        <h4 style="margin-bottom: 20px">Expense Details</h4>
      </v-flex>
      <v-flex sm3 xs11>
        <nepali-date-picker v-model="expquery.fromDate"/>
      </v-flex>

      <v-flex sm3 xs11>
        <nepali-date-picker v-model="expquery.toDate"/>
      </v-flex>
      <v-flex sm3 xs11>
        <v-select :items="users" item-text="name" item-value="id" label="User" v-model="expquery.user"></v-select>
      </v-flex>
      <v-flex sm3 xs11>
        <v-select :items="expenseTypes" item-text="tname" item-value="id" label="Expense Type"
                  v-model="expquery.type"></v-select>
      </v-flex>
      <v-flex sm3 xs5>
        <v-btn @click="downloadUserAccountReport('expense')">Download</v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import NepaliDatePicker from '../../../components/NepaliDatePicker'
import UserApi from '../../../api/users'
import TypeApi from '../../../api/type'
import IncomeTypeApi from '../../../api/incomeTypes'
import ExpenseTypeApi from '../../../api/expenditureTypes'
import DownloadApi from '../../../api/downloads'
import jsPDF from 'jspdf'
import 'jspdf-autotable'
export default {
  components: {
    NepaliDatePicker
  },
  data () {
    return {
      users: [
        {
          id: 0,
          name: 'All'
        }
      ],
      remarkRules: [
        v => !!v || 'Remark is required'
      ],
      remark: null,
      remarkValid: false,
      types: [
        {
          id: 0,
          tname: 'All'
        }
      ],
      incomeTypes: [
        {
          id: 0,
          tname: 'All'
        }
      ],
      expenseTypes: [
        {
          id: 0,
          tname: 'All'
        }
      ],
      query: {
        toDate: window.getCurrentNepaliDate(),
        fromDate: window.getCurrentNepaliDate(),
        user: 0
      },
      servquery: {

        toDate: window.getCurrentNepaliDate(),
        fromDate: window.getCurrentNepaliDate(),
        user: 0,
        service: 0
      },
      incquery: {

        toDate: window.getCurrentNepaliDate(),
        fromDate: window.getCurrentNepaliDate(),
        user: 0,
        type: 0
      },
      expquery: {

        toDate: window.getCurrentNepaliDate(),
        fromDate: window.getCurrentNepaliDate(),
        user: 0,
        type: 0
      }
    }
  },
  created () {
    UserApi.index().then(res => {
      this.users = this.convertToArray(this.users, res.body)
    })
    TypeApi.index().then(res => {
      this.types = this.convertToArray(this.types, res.data.results)
    })
    IncomeTypeApi.index().then(res => {
      this.incomeTypes = this.convertToArray(this.incomeTypes, res.data.results)
    })
    ExpenseTypeApi.index().then(res => {
      this.expenseTypes = this.convertToArray(this.expenseTypes, res.data.results)
    })
  },
  methods: {
    convertToArray (a1, a2) {
      return JSON.parse(JSON.stringify(a1)).concat(JSON.parse(JSON.stringify(a2)))
    },
    downloadUserAccountReport (dtype = 'income') {
      var query = {}
      if (dtype === 'income') {
        query.fromDate = this.convertDate(window.getFormatedNepali(this.incquery.fromDate))
        query.toDate = this.convertDate(window.getFormatedNepali(this.incquery.toDate))
        query.user = this.incquery.user
        query.type = this.incquery.type
      } else {
        query.fromDate = this.convertDate(window.getFormatedNepali(this.expquery.fromDate))
        query.toDate = this.convertDate(window.getFormatedNepali(this.incquery.toDate))
        query.user = this.incquery.user
        query.type = this.incquery.type
      }
      query.dtype = dtype
      DownloadApi.downloadUserAccountReport(query)
    },
    downloadUserServiceReport () {
      var query = {}
      query.fromDate = this.convertDate(window.getFormatedNepali(this.servquery.fromDate))
      query.toDate = this.convertDate(window.getFormatedNepali(this.servquery.toDate))
      query.user = this.servquery.user
      query.servicetype = this.servquery.service
      DownloadApi.downloadUserServiceReport(query)
    },
    downloadReport () {
      var query = {}
      query.fromDate = this.convertDate(window.getFormatedNepali(this.query.fromDate))
      query.toDate = this.convertDate(window.getFormatedNepali(this.query.toDate))
      query.user = this.query.user
      console.log(query)
      DownloadApi.downloadDashReport(query).then(res => {
        var data = res.body

        let rows = []
        let columnHeader = [
          'Code',
          'Number of Services',
          'Amount(Rs)',
          'Created Date'
        ]
        let pdfName =
          'UserBillService' + this.query.fromDate + '-' + this.query.toDate
        data.users.forEach(element => {
          rows.push([
            {
              content: "User's name: " + element.name,
              colSpan: columnHeader.length,
              styles: { halign: 'center' }
            }
          ])
          data.bill[element.id].billdetails.forEach(element => {
            var temp = Object.values(element)
            rows.push(temp)
          })
          rows.push([
            {
              content: 'Total: Rs.' + data.bill[element.id].total.toString(),
              colSpan: columnHeader.length,
              styles: { halign: 'center' }
            }
          ])
        })
        console.log(data.bill)
        // data.bill.forEach((element,index)=>{
        //   console.log(element,index)

        // })
        // data.bill[0]
        if(rows.length==2){
          alert('No bill found')
        }else{
          var doc = new jsPDF()
          doc.autoTable(columnHeader, rows, { startY: 10 })
          doc.save(pdfName + '.pdf')
        }
      })
    }
  }
}
</script>
<style scoped>
</style>
