<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h3>Change Password</h3>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.users.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-form v-model="valid" ref="school_form">
      <v-layout>
        <v-flex md5>
          <v-text-field v-model="user.name" label="Name" class="my-text-uppercase" readonly outline></v-text-field>

          <v-text-field v-model="user.username" required label="Username" readonly outline></v-text-field>

          <v-text-field
            v-model="password"
            type="password"
            required
            label="Password"
            :rules="passwordRules"
          ></v-text-field>

          <v-btn :disabled="!valid" @click="changePassword">submit</v-btn>
        </v-flex>
      </v-layout>
    </v-form>
  </div>
</template>

<script>
import UserApi from '../../../api/users'

export default {
  created () {
    UserApi.findById(this.$route.params.id).then(response => {
      this.user = response.body
      this.user['name'] = this.user.first_name + ' ' + this.user.last_name
    })
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  data () {
    return {
      valid: false,
      password: null,
      user: {},
      passwordRules: [v => !!v || 'Password is required']
    }
  },
  methods: {
    changePassword () {
      this.user.password = this.password
      UserApi.changePassword(this.user)
        .then(res => {
          alert('Successfully changed')
        })
        .catch(err => {
          alert('Something Went Wrong')
        })
    }
  }
}
</script>

<style scoped>
</style>

// WEBPACK FOOTER //
// src/pages/admin/users/ChangePassword.vue
