<template>

  <div>

    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add User</h2>
      </v-flex>
      <v-flex md1>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.users.index' }" ><v-icon>arrow_back</v-icon></v-btn>
      </v-flex>
    </v-layout>

    <user-form :user="blankUser"></user-form>

  </div>

</template>

<script>

import UserForm from './Form'

export default {
  components: { UserForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.blankUser['hospital_id'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      blankUser: {

      }
    }
  }
}
</script>

<style scoped>

</style>

// WEBPACK FOOTER //
// src/pages/admin/users/Create.vue
