<template>

  <div>

    <v-layout row wrap mb40>
      <v-flex md2 mb20>
        <h2>Users</h2>
      </v-flex>

      <v-flex md4>
        <v-text-field
          v-model="query.search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-flex>
      <v-flex justify-end>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.users.create' }" class="float-right"><v-icon>add</v-icon></v-btn>
      </v-flex>
    </v-layout>

    <v-dialog
      v-model="deleteDialog"
      max-width="400"
    >
      <v-card>
        <v-card-title class="headline">Are you sure?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteDialog = false"
          >
            No
          </v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteItem"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-data-table
      :headers="headers"
      :items="users"
      class="elevation-1"
      :pagination.sync="query"
      :rows-per-page-items="[20, 50, 100]"
      :total-items="totalItems"
    >
      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
        <span slot="activator">
          {{ props.header.text }}
        </span>
          <span>
          {{ props.header.text }}
        </span>
        </v-tooltip>
      </template>
      <template slot="items" slot-scope="props">
        <td>{{ (query.rowsPerPage * (query.page - 1)) + props.index + 1 }}</td>
        <td>{{ props.item.username }}</td>
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.role }}</td>
        <td>{{ props.item.school ? props.item.school.name : '' }}</td>
        <td>
          <v-btn danger v-if=" props.item.username !== $auth.user().username " flat @click=" showDeleteDialog(props.item) "><v-icon>delete</v-icon></v-btn>
          <v-btn v-if=" props.item.role !== 'ROLE_ADMIN' " :to="{ name: this.$auth.user().roleName+'.users.edit', params: { id: props.item.id } }" primary flat><v-icon>create</v-icon></v-btn>
        </td>
      </template>
    </v-data-table>

  </div>

</template>

<script>

import UserApi from '../../../api/users'

export default {
  mounted () {
    this.getDataFromApi()
  },

  watch: {
    query: {
      handler () {
        this.getDataFromApi()
      },
      deep: true
    }
  },
  data () {
    return {
      dialog: false,
      loading: true,
      query: {
        search: null,
        rowsPerPage: 20
      },
      users: [],
      deletingItem: null,
      deleteDialog: false,
      totalItems: null,
      headers: [
        {
          text: 'SN',
          align: 'left',
          sortable: false,
          value: 'sn'
        },
        { text: 'Username', value: 'username' },
        { text: 'Name', value: 'name', sortable: false},
        { text: 'Role', value: 'role', sortable: false },
        { text: 'School', value: 'school', sortable: false },
        { text: 'Actions', value: 'Actions', sortable: false }
      ]
    }
  },
  methods: {
    getDataFromApi () {
      this.loading = true
      return UserApi.index(this.query).then((response) => {
        this.users = response.body.content
        this.totalItems = response.body.totalElements
      })
    },

    deleteItem () {
      UserApi.delete(this.deletingItem.id).then((response) => {
        let index = this.users.indexOf(this.deletingItem)
        this.users.splice(index, 1)
      })

      this.deleteDialog = false
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    showDeleteDialog (item) {
      this.deletingItem = item
      this.deleteDialog = true
    }
  }
}
</script>

<style scoped>

</style>



// WEBPACK FOOTER //
// src/pages/admin/users/Index.vue
