<template>
  <div>
    <v-layout row wrap>
      <v-flex md12>
        <h1>{{name}}</h1>
        <v-flex justify-end>
          <v-btn fab :to="{ name: this.$auth.user().roleName+'.users.create' }" title="Add User" class="float-right">
            <v-icon>add</v-icon>
          </v-btn>
          <v-btn fab @click="getDataFromApi" title="Refresh data" class="float-right">
            <v-icon>refresh</v-icon>
          </v-btn>
          <v-btn fab @click="downloadDatas('user',headers,users,'User Details')" title="Download data" class="float-right">
            <v-icon>get_app</v-icon>
          </v-btn>
        </v-flex>
        <v-dialog v-model="deleteDialog" max-width="400">
          <v-card>
            <v-card-title class="headline">{{this.errorMessage?this.errorMessage:'Are you sure?'}}</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn
                color="green darken-1"
                flat="flat"
                v-if="!this.errorMessage"
                @click="deleteDialog = false"
              >No</v-btn>

              <v-btn
                color="green darken-1"
                flat="flat"
                @click="deleteItem"
              >{{this.errorMessage?'Ok':'Yes'}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-data-table :headers="headers" :items="users">
          <template slot="headerCell" slot-scope="props">
            <v-tooltip bottom>
              <span slot="activator">{{ props.header.text }}</span>
              <span>{{ props.header.text }}</span>
            </v-tooltip>
          </template>
          <template slot="items" slot-scope="props">
            <td>{{ props.index +1}}</td>
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.role }}</td>
            <td>{{ props.item.last_login }}</td>
            <td v-if="!('hospital_id' in $auth.user())">{{ props.item.hospital }}</td>
            <td>
              <div class="d-inline-flex">
                <v-btn
                  v-if="(props.item.id!=$auth.user().id || props.item.role!='ROLE_ADMIN')"
                  danger
                  flat
                  @click=" showDeleteDialog(props.item) "
                >
                  <v-icon>delete</v-icon>
                </v-btn>
                <v-btn
                  :to="{ name: $auth.user().roleName+'.users.edit', params: { id: props.item.id } }"
                  primary
                  flat
                >
                  <v-icon>create</v-icon>
                </v-btn>
              </div>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import userApi from './../../../api/users'
export default {
  data () {
    return {
      name: 'Users',
      headers: [
        {
          text: '#',
          align: 'left',
          value: 'id'
        },
        { text: 'Name', value: 'name' },
        { text: 'Role', value: 'role' },
        { text: 'Last login', value: 'last_login' },
        { text: 'Actions', value: 'actions', width: '20%' }
      ],
      users: [],
      deleteDialog: false,
      deletingItem: null,
      errorMessage: null
    }
  },
  beforeMount () {
    if (!('hospital_id' in this.$auth.user())) {
      let len = this.headers.length
      this.headers[len] = this.headers[len - 1]
      this.headers[len - 1] = { text: 'Hospital', value: 'hospital' }
    }
  },
  created () {
    this.getDataFromApi()
  },
  methods: {
    getDataFromApi () {
      userApi.index().then(res => {
        this.users = res.data
      })
    },
    deleteItem () {
      if (this.errorMessage) {
        this.errorMessage = null
        this.deleteDialog = false
      } else {
        userApi.delete(this.deletingItem.id).then(res => {
          if (res.body.success) {
            let index = this.users.indexOf(this.deletingItem)
            this.users.splice(index, 1)
            this.deleteDialog = false
          } else {
            this.errorMessage = 'This data is linked! Deletion unsuccessful'
          }
        })
      }
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    showDeleteDialog (item) {
      this.deletingItem = item
      this.deleteDialog = true
    }
  }
}
</script>
<style scoped>
</style>
