<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h3>Permissions</h3>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.roles.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-form v-model="valid" ref="school_form">
      <v-layout>
        <v-flex md5>
          <v-text-field v-model="user.name" label="Name" class="my-text-uppercase" readonly outline></v-text-field>
          <ul>
            <li :key="menu.title" v-for="menu in menusItem['admin']">
              <div class="d-inline-flex">
                <div>{{menu.title}}</div>
                <v-checkbox
                  v-for="rout in menu.crud"
                  :key="rout"
                  v-if=" 'route' in menu"
                  :label="rout.toUpperCase()"
                  v-model="permissions[parseRoute(menu.route,rout)]"
                ></v-checkbox>
              </div>
              <ul v-if=" 'childGroup' in menu ">
                <li :key="group.title" v-for="group in menu.childGroup">
                  {{group.title}}
                  <ul v-if=" 'children' in group ">
                    <li :key="module.title" v-for="module in group.children">
                      <div class="d-inline-flex">
                        <div>{{module.title}}</div>
                        <v-checkbox
                          ml2
                          v-for="rout in module.crud"
                          :key="rout"
                          v-if=" 'route' in module"
                          :label="rout.toUpperCase()"
                          v-model="permissions[parseRoute(module.route,rout)]"
                        ></v-checkbox>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <v-btn :disabled="!valid" @click="changePassword">submit</v-btn>
        </v-flex>
      </v-layout>
    </v-form>
  </div>
</template>

<script>
import UserApi from '../../../api/users'
import menus from '../../../menus'
export default {
  created () {
    UserApi.findRoleById(this.$route.params.id).then(response => {
      this.user = response.body
      this.permissions = response.data.permissions
      this.menusItem = menus
    })
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  data () {
    return {
      valid: false,
      password: null,
      user: {},
      passwordRules: [v => !!v || 'Password is required'],
      menusItem: [],
      permissions: {},
    }
  },
  methods: {
    changePassword () {
      this.user.permissions = this.permissions
      UserApi.updateRoleById(this.user)
        .then(res => {
          alert('Successfully changed')
        })
        .catch(err => {
          alert('Something Went Wrong')
        })
    },
    checkIfRouteExists (key, route) {
      key = key.split('.index')[0]
      return this.checkRouteExists(key + '.' + route)
    },
    parseRoute (key, route = 'index'){
      console.log(key)
      return key.split('.index')[0].split('admin.')[1] + '.' + route
    }
  }
}
</script>

<style scoped>
</style>
