<template>
  <div>
    <v-layout row wrap>
      <v-flex md2>
        <h1>{{name}}</h1>
      </v-flex>
        <v-flex md4>
          <v-text-field
            v-model="query.search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-flex>

        <v-dialog v-model="deleteDialog" max-width="400">
          <v-card>
            <v-card-title class="headline">{{this.errorMessage?this.errorMessage:'Are you sure?'}}</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn
                color="green darken-1"
                flat="flat"
                v-if="!this.errorMessage"
                @click="deleteDialog = false"
              >No</v-btn>

              <v-btn
                color="green darken-1"
                flat="flat"
                @click="deleteItem"
              >{{this.errorMessage?'Ok':'Yes'}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      <v-flex md12>
        <v-data-table
          v-model="loading"
          :headers="headers"
          :items="users"
          :pagination.sync="query"
          :rows-per-page-items="[20, 50, 100]"
          :total-items="totalItems"
        >
          <!--<template slot="headerCell" slot-scope="props">-->
          <!--<v-tooltip bottom>-->
          <!--<span slot="activator">-->
          <!--{{ props.header.text }}-->
          <!--</span>-->
          <!--<span>-->
          <!--{{ props.header.text }}-->
          <!--</span>-->
          <!--</v-tooltip>-->
          <!--</template>-->
          <template slot="items" slot-scope="props">
            <td>{{ (query.rowsPerPage * (query.page - 1)) + props.index + 1 }}</td>
            <td>{{ props.item.name }}</td>
            <!--<td v-if="!('hospital_id' in $auth.user())">{{ props.item.hospital }}</td>-->
            <td>
              <div class="d-inline-flex">
                <!--<v-btn v-if="(props.item.id!=$auth.user().id || props.item.role!='ROLE_ADMIN')" danger flat @click=" showDeleteDialog(props.item) "><v-icon>delete</v-icon></v-btn>-->
                <v-btn
                  title="Edit Permissions"
                  :to="{ name: $auth.user().roleName+'.roles.edit', params: { id: props.item.id } }"
                  primary
                  flat
                >
                  <v-icon>create</v-icon>
                </v-btn>
              </div>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import userApi from './../../../api/users'
export default {
  data () {
    return {
      name: 'Roles',
      loading: true,
      processDialog: true,
      query: {
        search: null,
        rowsPerPage: 20,
        page: 1
      },
      headers: [
        {
          text: '#',
          align: 'left',
          value: 'id'
        },
        { text: 'Role', value: 'name', sortable: true },
        { text: 'Actions', value: 'actions', width: '20%', sortable: false }
      ],
      users: [],
      deleteDialog: false,
      deletingItem: null,
      totalItems: null,
      errorMessage: null
    }
  },
  beforeMount () {
    // if (!('hospital_id' in this.$auth.user())) {
    //   let len = this.headers.length
    //   this.headers[len] = this.headers[len - 1]
    //   this.headers[len - 1] = { text: 'Hospital', value: 'hospital' }
    // }
  },
  created () {
    this.getDataFromApi()
  },

  watch: {
    query: {
      handler () {
        this.getDataFromApi()
      },
      deep: true
    }
  },
  methods: {
    getDataFromApi () {
      userApi.role(this.query).then(res => {
        this.users = res.data.results
        this.totalItems = res.data.count
      })
    },
    deleteItem () {
      if (this.errorMessage) {
        this.errorMessage = null
        this.deleteDialog = false
      } else {
        userApi.delete(this.deletingItem.id).then(res => {
          if (res.body.success) {
            let index = this.users.indexOf(this.deletingItem)
            this.users.splice(index, 1)
            this.deleteDialog = false
          } else {
            this.errorMessage = 'This data is linked! Deletion unsuccessful'
          }
        })
      }
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    showDeleteDialog (item) {
      this.deletingItem = item
      this.deleteDialog = true
    }
  }
}
</script>
<style scoped>
</style>
