<template>
  <v-form v-model="valid" ref="hospital_form">
    <v-layout>
      <v-flex md5>
        <h3>Update Hospital Info</h3>

        <v-text-field
          v-model="hospital.name"
          label="Name"
          class="my-text-uppercase"
          readonly
          outline
        ></v-text-field>

        <v-text-field
          v-model="hospital.location"
          :counter="50"
          label="Address*"
          :rules="addressRules"
          ref="address"
          class="my-text-uppercase"
        ></v-text-field>

        <!--<v-text-field-->
          <!--v-model="hospital.email"-->
          <!--:counter="30"-->
          <!--label="Email*"-->
          <!--type="email"-->
          <!--ref="email"-->
          <!--:rules="emailRules"-->
        <!--&gt;</v-text-field>-->

        <!--<v-text-field-->
          <!--v-model="hospital.fax"-->
          <!--:counter="30"-->
          <!--label="Fax"-->
          <!--:rules="faxRules"-->
          <!--type="number"-->
        <!--&gt;</v-text-field>-->

        <v-text-field
          v-model="hospital.phone"
          :counter="10"
          label="Telephone / Mobile Number*"
          :rules="telephoneRules"
          type="number"
          v-validate="$route.params.id ? '' : 'hospital_telephone'"
          :error-messages="errors.collect('telephone')"
          :error="errors.has('telephone')"
          data-vv-name="telephone"
        ></v-text-field>
      </v-flex>
      <v-flex md5>
        <h3>Update Hospital and Pharmacy Info</h3>

        <v-text-field
          v-model="hospital.pharmacy.name"
          label="Name*"
          :rules="nameRules"
          class="my-text-uppercase"
          requrired
        ></v-text-field>
        <v-text-field
          v-model="hospital.pharmacy.pan"
          label="PAN*"
          :rules="panRule"
          :counter="9"
          requried
          class="my-text-uppercase"
        ></v-text-field>
        <v-text-field
          v-model="hospital.pharmacy.location"
          :counter="50"
          label="Address*"
          :rules="addressRules"
          ref="address"
          class="my-text-uppercase"
        ></v-text-field>

        <!--<v-text-field-->
          <!--v-model="hospital.email"-->
          <!--:counter="30"-->
          <!--label="Email*"-->
          <!--type="email"-->
          <!--ref="email"-->
          <!--:rules="emailRules"-->
        <!--&gt;</v-text-field>-->

        <!--<v-text-field-->
          <!--v-model="hospital.fax"-->
          <!--:counter="30"-->
          <!--label="Fax"-->
          <!--:rules="faxRules"-->
          <!--type="number"-->
        <!--&gt;</v-text-field>-->

        <v-text-field
          v-model="hospital.pharmacy.phone"
          :counter="10"
          label="Telephone / Mobile Number*"
          :rules="telephoneRules"
          type="number"
          v-validate="$route.params.id ? '' : 'hospital_telephone'"
          :error-messages="errors.collect('telephone')"
          :error="errors.has('telephone')"
          data-vv-name="telephone"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-btn
      :disabled="!valid"
      @click="updatehospitalInfo"
    >
      submit
    </v-btn>
  </v-form>
</template>

<script>

import HospitalApi from '../../api/hospital'
  import Util from '../../utils'

  export default {
    name: 'hospital-profile',

    created () {
      HospitalApi.getProfile().then((res) => {
        this.hospital = res.body
      })
    },

    methods: {
      updatehospitalInfo () {
        HospitalApi.update(this.hospital).then((res) => {
          alert('Updated Successfully!')
        })
      }
    },

    data () {
      return {
        hospital: {},
        valid: false,
        panRule:[
          v => !!v || 'PAN is required'
        ],
        nameRules: [
          v => !!v || 'Name is required',
          v => (v && v.length <= 80) || 'Name must be less than 80 characters',
          v => (v && (/^[A-z .\-()']+$/g).test(v)) || 'Please provide valid name'
        ],

        emailRules: [
          v => !!v || 'Email is required',
          v => (v && Util.validateEmail(v)) || 'Please provide valid email'
        ],

        telephoneRules: [
          v => !!v || 'Telephone number or Mobile number is required',
          v => (v && (/(^9\d{9})$|(^0\d{8})$/).test(v)) || 'Please provide valid telephone number or mobile number'
        ],

        faxRules: [
          v => !!v === false || v === null || v.length === 0 || (v && v.test(/^0\d{8}$/)) || 'Please provide valid fax number'
        ],

        addressRules: [
          v => !!v || 'Address is required',
          v => (v && (/^[A-z, ]+$/g).test(v)) || 'Please provide valid address'
        ],

        disciplineRules: [
          v => !!v || 'Discipline is required',
          v => (v && v.length > 0) || 'Please provide Disciplines'
        ],

        hospitalTypeRules: [
          v => !!v || 'hospital Type is required'
        ]
      }
    }
  }
</script>

<style scoped>

</style>



// WEBPACK FOOTER //
// src/pages/hospital/hospitalProfile.vue
