.float-right {
  float: right !important;
}


.my-text-uppercase input {
  text-transform: uppercase !important;
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }
}
