<template>
  <div>
    <v-dialog v-model="dialog" persistent max-width="400">
      <v-card>
        <v-card-title class="headline">{{ shown.title }}</v-card-title>
        <v-card-text>
          {{ shown.content }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="dialog = false">close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Notices</h2>
      </v-flex>
    </v-layout>

    <v-layout row wrap mb40>
      <v-flex offset-md3 md5>
        <v-data-table
          :headers="headers"
          :items="items"
          class="elevation-1"
          hide-actions
        >
          <template slot="items" slot-scope="props">
            <td @click="view(props.item)">{{ props.item.title }}</td>
            <td>{{ props.item.publishedDate }}</td>
            <td><a @click="view(props.item)">Read More</a></td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

  </div>
</template>
<script>

import NoticeAPi from '../../api/notices'

export default {
  created () {
    NoticeAPi.publicIndex().then((res) => {
      this.items = res.body
    })
  },
  data () {
    return {
      routines: {},
      dialog: false,
      headers: [
        {
          text: 'Title',
          align: 'left',
          sortable: true,
          value: 'title'
        },

        {
          text: 'Published Date',
          align: 'left',
          sortable: true,
          value: 'publishedDate'
        },

        {
          text: 'Actions',
          align: 'left',
          sortable: false,
          value: 'actions'
        }
      ],
      items: [],
      shown: ''
    }
  },

  methods: {
    view (notice) {
      this.shown = notice
      this.dialog = true
    }
  }
}
</script>

<style scoped>

</style>



// WEBPACK FOOTER //
// src/pages/public/Notices.vue