<template>
  <div>
    <v-layout row style="margin-bottom: 30px;">
      <v-flex md2 mb20>
        <h2>Check Result</h2>
      </v-flex>
    </v-layout>
    <v-layout row style="margin-bottom: 30px;">
      <v-flex md2 offset-md2 mb100>
        <v-text-field
          label="Symbol Number"
          v-model="marksheet.symbolNo"
        ></v-text-field>
        <p>Please use Symbol Number without alphabet, for example 0010102</p>
      </v-flex>

      <v-flex md2 offset-md2 mb100>
        <v-text-field
          label="DOB in BS"
          v-model="marksheet.dob"
        ></v-text-field>
        <p>Please use YYYY-MM-DD date format, For example 2063-04-05</p>
      </v-flex>

      <v-flex md2 offset-md1 mb100>
        <v-btn @click="loadResult()">Submit</v-btn>
      </v-flex>
    </v-layout>

    <v-layout v-show="notFound">
      <v-flex offset-md2 xs12 sm12 md5 style="color: #8b0000">
          Invalid Symbol Number or DOB so, We are unable to find record. Please verify it once again.
      </v-flex>
    </v-layout>

    <v-layout row style="margin-bottom: 30px;">
      <v-flex md10 offset-md1 mb100>
        <div ref="result-container"></div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>

import ResultApi from '../../api/results'

export default {
  name: 'result',
  data () {
    return {
      marksheet: {
        dob: null,
        symbolNo: null
      },
      notFound: false
    }
  },

  methods: {
    loadResult () {
      this.$refs['result-container'].innerHTML = ''
      ResultApi.publicFetchResult(this.marksheet).then((res) => {
        this.createIframe(res.body)
        this.notFound = false
      }).catch((err) => {
        this.notFound = true
      })
    },

    createIframe (html) {
      let newIframe = document.createElement('iframe')

      newIframe.width = '100%'
      newIframe.height = '500px'

      newIframe.src = 'about:blank'

      this.$refs['result-container'].innerHTML = ''
      this.$refs['result-container'].appendChild(newIframe)
      newIframe.contentWindow.document.open('text/html', 'replace')
      newIframe.contentWindow.document.write(html)
      newIframe.contentWindow.document.close()
    }
  }
}
</script>

<style scoped>

</style>



// WEBPACK FOOTER //
// src/pages/public/Result.vue