<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Routine</h2>
      </v-flex>

      <v-flex md2 mb20>
        <v-btn @click="download">Download</v-btn>
      </v-flex>
    </v-layout>

    <v-layout row wrap mb40>
      <v-flex offset-md2 md8>
        <v-data-table
          :headers="headers"
          :items="Object.keys(routines).sort()"
          class="elevation-1"
          hide-actions
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item }}</td>
            <td><span v-for=" (subject, index) in routines[props.item] ">{{ index + 1}}) {{ subject.subjectsBySubjectId.name }}<br></span></td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

  </div>
</template>
<script>

import RoutineApi from '../../api/routines'

export default {
  created () {
    RoutineApi.publicIndex().then((res) => {
      this.routines = res.body
    })
  },
  data () {
    return {
      routines: {},
      headers: [
        {
          text: 'Exam Date',
          align: 'left',
          sortable: false,
          value: 'examDate',
          width: '20%'
        },
        { text: 'Subjects', value: 'subjects',  sortable: false },
      ]
    }
  },

  methods: {
    download () {
      RoutineApi.download()
    }
  }
}
</script>

<style scoped>

</style>



// WEBPACK FOOTER //
// src/pages/public/Routines.vue