<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Bills</h2>
      </v-flex>
      <v-dialog
      v-model="deleteDialog"
      max-width="400"
    >
      <v-card>
       <v-card-title v-if="!dialogMessage" class="headline">Are you sure?</v-card-title>
        <v-card-title v-else class="header">{{dialogMessageData}}</v-card-title>

        <v-card-text v-if="!dialogMessage">
          <v-form v-model="remarkValid">
            <v-text-field :rules="remarkRules" autofocus label="Why do you want to delete" v-model="remark"/>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

         <v-btn
            color="green darken-1"
            flat="flat"
            @click="()=>{if(dialogMessage){dialogMessage = false}deleteDialog = false}"
          >
            {{dialogMessage?'Ok':'No'}}
          </v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deletebill"
            :disabled="!remarkValid"
            v-if="!dialogMessage"
          >
            Yes
          </v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

      <v-flex md2>
        <v-btn
          fab
          v-if=" 'hospital_id' in $auth.user()"
          :to="{ name: this.$auth.user().roleName+'.patients.edit',params:{id:$route.params.id} }"
          class="float-right"
        >
          <v-icon>add</v-icon>
        </v-btn>

        <v-btn fab @click="downloadDatas('bills',headers,patient.bills,patient.pname + '(' +patient.pcode+')'+ ' bills')" title="Download data" class="float-right">
          <v-icon>get_app</v-icon>
        </v-btn>

        <v-btn fab :to="{ name: this.$auth.user().roleName+'.patients.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex md12>
        <v-data-table
          :headers="headers"
          :items="patient.bills"
          class="elevation-1"
          :rows-per-page-items="[-1]"
        >
          <template slot="headerCell" slot-scope="props">
            <v-tooltip bottom>
              <span slot="activator">{{ props.header.text }}</span>
              <span>{{ props.header.text }}</span>
            </v-tooltip>
          </template>
          <template slot="items" slot-scope="props">
            <td>{{ props.item.index }}</td>
            <td>{{ props.item.bcode }}</td>
            <td>{{ props.item.serv }}</td>
            <td>{{ props.item.total }}</td>
            <td>{{ props.item.date}}</td>
            <td>
              <div class="d-flex" v-if=" 'refunded' in props.item && props.item.refunded">
                <div style="margin-top:15px">Refunded</div>
                <v-btn @click="()=>{props.item['refunded']=false;refund(props.item)}"
                       v-show=" 'undo' in props.item && props.item.undo">Undo
                </v-btn>
              </div>
              <div v-else class="d-inline-flex">
                 <v-btn danger flat @click="showDeleteDialog(props.item)">
                  <v-icon>delete</v-icon>
                </v-btn>
                <v-btn danger flat @click="printBill(patient.bills.indexOf(props.item),true)">
                  <v-icon>print</v-icon>
                </v-btn>
                <v-btn danger flat @click="printBill(patient.bills.indexOf(props.item),false)">
                  <v-icon>remove_red_eye</v-icon>
                </v-btn>
                <v-checkbox v-model="props.item['refunded']" @change="refund(props.item,true)" style="margin-top:10px" title="Refund"/>
              </div>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import patientApi from '../../../api/patient'
import billApi from '../../../api/bill'
import billprint from './billprint'

export default {
  name: 'patient-bill',
  created () {
    patientApi.findById(this.$route.params.id).then(response => {
      this.patient = JSON.parse(response.bodyText)
      this.patient.bills = this.patient.bills.map((each, j) => {
        each['index'] = j + 1
        each['serv'] = each.services.map((item, i) => {
          if (i <= 3) {
            return item.sname
          }
        }).join(', ')
        each['date'] = this.formatDateComplete(each.created_at) + ' ' + (new Date(each.created_at)).getHours() + ':' + (new Date(each.created_at)).getMinutes()
        if (each.services.length >= 4) {
          each['serv'] += '...'
        }
        return each
      })
    })
  },
  watch: {
    $route (to, from) {
      this.created()
    }
  },

  data () {
    return {
      services: [],
      deletingItem: null,
      deleteDialog: false,
      errorMessage: null,
      processDialog: false,
      dialogMessage: false,
      remarkValid: false,
      dialogMessageData: '',
      remarkRules: [
        v => !!v || 'Remark is required'
      ],
      remark: null,
      headers: [
        {
          text: '#',
          align: 'left',
          sortable: true,
          value: 'index'
        },
        { text: 'Bill No.', value: 'bcode' },

        { text: 'Services', value: 'serv' },
        { text: 'Amount(Rs.)', value: 'total' },
        { text: 'Date', value: 'date' },
        { text: 'Actions', value: 'actions', width: '20%' }
      ],
      patient: {}
    }
  },
  methods: {
    showDeleteDialog (item) {
      this.deletingItem = item

      this.deleteDialog = true
    },
    refund (item, ref = false) {
      billApi.update(item).then(res => {
        let index = this.patient.bills.indexOf(item)
        if (ref) {
          this.patient.bills[index]['refunded'] = false
          this.patient.bills[index]['undo'] = true
          this.patient.bills[index]['refunded'] = true
          console.log(this.patient.bills[index].undo)
          setTimeout(() => {
            this.patient.bills[index]['refunded'] = false
            this.patient.bills[index]['undo'] = false
            this.patient.bills[index]['refunded'] = true
          }, 10000)
        // this.patient.bills[index]['undo'] = true
        // setTimeout(() => this.patient.bills[index]['undo'] = false,500)
        }
      })
    },
    deletebill () {
      if (this.errorMessage) {
        this.errorMessage = null
        this.deleteDialog = false
      } else {
        billApi.delete(this.deletingItem.id, this.remark).then((response) => {
          if (response.status === 204) {
            this.remark = ''
            let index = this.patient.bills.indexOf(this.deletingItem)
            this.patient.bills.splice(index, 1)
            this.dialogMessage = true
            this.dialogMessageData = 'Successfully Deleted'
          } else {
            this.dialogMessage = true
            this.dialogMessageData = 'message' in response.data ? response.data.message : 'Deletion Unsuccessful'
          }
        })
      }
    },
    printBill (n, print) {
      var mywindow = window.open()
      var isChrome = Boolean(mywindow.chrome)
      mywindow.document.write(billprint(this.patient, print, n))
      if (print) {
        if (isChrome) {
          setTimeout(function () {
            // wait until all resources loaded
            mywindow.document.close() // necessary for IE >= 10
            mywindow.focus() // necessary for IE >= 10
            mywindow.print() // change window to winPrint
            mywindow.close() // change window to winPrint
          }, 250)
        } else {
          mywindow.document.close() // necessary for IE >= 10
          mywindow.focus() // necessary for IE >= 10

          mywindow.print()
          mywindow.close()
        }
      }
    }
  }
}
</script>
