<template>
  <div>
    <v-layout row wrap>
      <v-flex md10>
        <h2>Add New patient</h2>
        <h4 class="red--text">Note: * fields are required</h4>
      </v-flex>
      <v-flex md2>
        <v-btn :to="{ name: this.$auth.user().roleName+'.patients.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <patient-form :print="true" @update="updatePatient" :patient="patient"></patient-form>
  </div>
</template>

<script>
import patientForm from './Form'
export default {
  components: { patientForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.patient['hospital'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      patient: {
        bills: [
          {
            user: this.$auth.user().id,
            total: 0,
            year: this.$store.state.core.metas.current_year
          }
        ],
        pname: '',
        page: null,
        psex: '',
        paddress: '',
        pphone: '',
        referred_by: '',
        pcreated_by: this.$auth.user().id,
        services: [
          {
            sname: '',
            squantity: 1,
            sprice: 1,
            service: ''
          }
        ],
        year: this.$store.state.core.metas.current_year,
      }
    }
  },
  methods: {
    updatePatient (patient) {
      this.patient = patient
    }
  }
}
</script>

<style scoped>
</style>
