<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>New Bill</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.patients.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <patient-form @update="updatePatient" :print="false" :patient="patient"></patient-form>
  </div>
</template>

<script>
import patientForm from './Form'
import patientApi from '../../../api/patient'
import serviceApi from '../../../api/services'
import retHtml from './retHtml'
export default {
  components: { patientForm },

  data () {
    return {
      patient: {
        id: '',
        title: '',
        content: '',
        publishedDate: '',
        bills: [
          {
            user: this.$auth.user().id,
            total: 0,
            year: this.$store.state.core.metas.current_year
          }
        ]
      },
      services: [],
      headers: [
        {
          text: '#',
          align: 'left',
          sortable: true,
          value: 'id'
        },
        { text: 'Bill', value: 'bcode' },
        { text: 'Date', value: 'created_at' },
        { text: 'Actions', value: 'actions', width: '20%' }
      ],
      currentList: {}
    }
  },

  watch: {
    $route (to, from) {
      this.created()
    }
  },

  created () {
    patientApi.findById(this.$route.params.id).then(response => {
      this.currentList = response.body
      this.patient = JSON.parse(response.bodyText)
      this.patient['services'] = [
        {
          sname: '',
          squantity: 1,
          sprice: 1,
          service: ''
        }
      ]
      this.patient['bills'] = [
        {
          user: this.$auth.user().id,
          total: 0,
          year: this.$store.state.core.metas.current_year
        }
      ]
    })
    serviceApi.index().then(res => {
      this.services = res.body
    })
  },
  methods: {
    printBill (n) {
      let s = this.currentList
      s.bills.slice(n, 1)
      let w = window.open()
      w.document.write(retHtml(s, this.services))
    },
    updatePatient (patient) {
      this.patient = patient
    }
  }
}
</script>
