<template>
  <div>
    <div
      v-for="(service,n) in services"
      :key="n"
      class="services"
      style="font-size:0.85rem;display:flex;justify-content:space-evenly;"
    >
      <div align="center" class="first">{{n+1}}</div>
      <div
        align="left"
        class="first"
        style="text-transform:uppercase;width:50%"
      >{{services[n].sname}}</div>
      <div class="first">{{services[n].squantity}}</div>
      <div class="first">{{services[n].squnatity}}</div>
      <div class="first">{{total[n]}}</div>
    </div>
    <v-layout column wrap mb40>
      <div class="d-inline-flex" v-for="(service,n) in services" :key="n">
        <v-autocomplete
          v-model="services[n].service"
          :items="myservice"
          label="Services*"
          item-text="sname"
          item-value="id"
          :rules="serviceRules"
          @change="callUpdate(n)"
          height="20px"
        >
          <v-list-tile slot="append-item"></v-list-tile>
        </v-autocomplete>
        <v-text-field
          v-model="services[n].squantity"
          class="mr-2"
          label="Quantity"
          :rule="quantityRules"
          height="20px"
          append-outer-icon="add"
          @click:append-outer="increment(n)"
          prepend-icon="remove"
          @click:prepend="(e)=>decrement(n,e)"
        ></v-text-field>
        <v-text-field
          v-model="total[n]"
          class="mr-2"
          label="Total"
          type="number"
          height="20px"
          disabled
        ></v-text-field>
        <button @click="clickAdd()" style="cursor:pointer;height:20px;margin-top:10px;">
          <v-icon color="#0F0">add</v-icon>
        </button>
        <button @click="deleteClick(n)" style="cursor:pointer;height:20px;margin-top:10px;">
          <v-icon color="#F00">delete</v-icon>
        </button>
      </div>
    </v-layout>
  </div>
</template>
<script>
import serviceApi from '../../../api/services'
function sum (d) {
  return d.reduce((a, b) => a + b, 0)
}
export default {
  name: 'field-array',
  created () {
    serviceApi.index().then(response => {
      let service = response.body
      let se = []
      service.map(function (each) {
        let s = new Object()
        s['id'] = each.id
        s['sname'] = each.sname
        s['sprice'] = each.sprice
        se.push(s)
      })
      this.myservice = se
    })
  },
  props: {
    services: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      total: [0, 0, 0],
      myservice: [],
      serviceRules: [v => !!v || 'Services is required'],
      quantityRules: [
        v => !!v || 'Quantity is required',
        v => (v && v < 0) || 'Quantity shoud be positive integer'
      ]
    }
  },
  methods: {
    clickAdd () {
      this.$emit('update', this.services, sum(this.total))
      this.services.push({ sname: '', squantity: 1, sprice: 0 })
    },
    deleteClick (n) {
      if (this.services.length > 1) {
        this.services.splice(n, 1)
        this.$emit('update', this.services, sum(this.total))
      }
    },
    increment (n) {
      // this.services[n].squnatity = parseInt(this.services[n].squnatity,10)+1
      if (this.services[n].sprice != 0) {
        this.services[n].squantity++
        this.total[n] = this.services[n].sprice * this.services[n].squantity
        this.$emit('update', this.services, sum(this.total))
      }
    },
    decrement (n, e) {
      e.preventDefault()
      // this.services[n].squnatity = parseInt(this.services[n].squnatity,10)+1
      if (this.services[n].sprice != 0) {
        if (this.services[n].squantity != 1) {
          this.services[n].squantity--
          this.total[n] = this.services[n].sprice * this.services[n].squantity
          this.$emit('update', this.services, sum(this.total))
        }
      }
    },
    callUpdate (n) {
      let result = this.myservice.filter(
        service => service.id == this.services[n].service
      )
      console.log(result)
      this.services[n].sprice = result[0].sprice
      this.services[n].sname = result[0].sname
      console.log(this.services[n].sname)
      this.total[n] = this.services[n].sprice * this.services[n].squantity
      this.$emit('update', this.services, sum(this.total))
    }
  }
}
</script>

<style scoped>
.application {
  line-height: 0 !important;
}
</style>
