<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md2 mb20>
        <h2>Patients</h2>
      </v-flex>

      <v-flex  v-if="routePermissionExists($auth.user().roleName+'.patients.create') && 'hospital_id' in $auth.user()" justify-end>
        <v-btn
          fab
          :to="{ name: this.$auth.user().roleName+'.patients.create' }"
          class="float-right"
        >
          <v-icon>add</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-model v-model="processDialog">
      <v-process>
        <div style="text-align:-webkit-center;">
          <v-progress-circular
            v-if="processDialog"
            :size="80"
            :width="5"
            color="black"
            indeterminate
          ></v-progress-circular>
        </div>
      </v-process>
    </v-model>
    <v-dialog
      max-width="400"
      v-model="deleteDialog"
    >
      <v-card>
        <v-card-title v-if="!dialogMessage" class="headline">Are you sure?</v-card-title>
        <v-card-title v-else class="header">{{dialogMessageData}}</v-card-title>

        <v-card-text v-if="!dialogMessage">
          <v-form v-model="remarkValid">
            <v-text-field :rules="remarkRules" autofocus label="Why do you want to delete" v-model="remark"/>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="()=>{if(dialogMessage){dialogMessage = false}deleteDialog = false}"
          >
            {{dialogMessage?'Ok':'No'}}
          </v-btn>

          <v-btn
            :disabled="!remarkValid"
            @click="deleteItem"
            color="green darken-1"
            flat="flat"
            v-if="!dialogMessage"
          >
            Yes
          </v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

    <v-data-table v-if="!processDialog" :headers="headers" :items="items" class="elevation-1">
      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
          <span slot="activator">{{ props.header.text }}</span>
          <span>{{ props.header.text }}</span>
        </v-tooltip>
      </template>
      <template slot="items" slot-scope="props">
        <tr
          @click="()=>{$router.push({ name: $auth.user().roleName+'.patients.bill' , params: { id: props.item.id }})}"
        >
          <td>{{ props.index +1 }}</td>
          <td>{{ props.item.pcode }}</td>
          <td>{{ props.item.pname.toUpperCase() }}</td>
          <td>{{ props.item.paddress.toUpperCase() }}</td>
          <td>{{ props.item.pphone }}</td>
          <td>{{ props.item.bills.length}}</td>
          <td v-if="!('hospital_id' in $auth.user())">{{ props.item.hospital_name}}</td>
          <td>
            <div class="d-flex">
              <v-btn v-if="routePermissionExists($auth.user().roleName+'.patients.delete')"  md4 danger flat @click.stop=" showDeleteDialog(props.item) ">
                <v-icon>delete</v-icon>
              </v-btn>
              <v-btn
                md4
                primary
                flat
                :to="{name:$auth.user().roleName+'.patients.bill',params:{id:props.item.id}}"
              >
                <v-icon>remove_red_eye</v-icon>
              </v-btn>
              <!--          <v-btn md4 :to="{ name: this.$auth.user().roleName+'.patients.edit', params: { id: props.item.id } }" primary flat><v-icon>edit</v-icon></v-btn>-->
              <v-btn v-if="routePermissionExists($auth.user().roleName+'.patients.edit') &&  'hospital_id' in $auth.user()"  md4 @click.stop="routeToEdit(props.item.id)" primary flat>
                <v-icon>add</v-icon>
              </v-btn>
            </div>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import patientApi from '../../../api/patient'
export default {
  beforeMount () {
    if (!('hospital_id' in this.$auth.user())) {
      let len = this.headers.length
      this.headers[len] = this.headers[len - 1]
      this.headers[len - 1] = { text: 'Hospital', value: 'hospital_name' }
      // this.headers.push({ text: 'Hospital', value: 'dname' });
    }
  },
  created () {
    patientApi.index().then(response => {
      this.items = response.data.results
      this.processDialog = false
    })
  },

  data () {
    return {
      search: '',
      deletingItem: null,
      deleteDialog: false,
      processDialog: true,
      dialogMessage: false,
      remarkValid: false,
      dialogMessageData: '',
      remarkRules: [
        v => !!v || 'Remark is required'
      ],
      remark: null,
      headers: [
        {
          text: '#',
          align: 'left',
          sortable: true,
          value: 'id'
        },
        { text: 'Code', value: 'pcode' },
        { text: 'Name', value: 'pname' },
        { text: 'Address', value: 'paddress' },
        { text: 'Phone', value: 'pphone' },
        { text: 'Bills', value: 'bname' },
        { text: 'Actions', value: 'actions', width: '10%' }
      ],
      items: []
    }
  },

  methods: {
    routeToEdit (id) {
      this.$router.push({
        name: this.$auth.user().roleName + '.patients.edit',
        params: { id: id }
      })
    },
    deleteItem () {
      patientApi.delete(this.deletingItem.id, this.remark).then(response => {
        if (response.status === 204) {
          let index = this.items.indexOf(this.deletingItem)
          this.items.splice(index, 1)
          this.dialogMessage = true
          this.dialogMessageData = 'Successfully Deleted'
        } else {
          this.dialogMessage = true
          this.dialogMessageData = 'Sorry, the connection lost'
        }
      })
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    showDeleteDialog (item) {
      this.deletingItem = item
      this.deleteDialog = true
    }
  }
}
</script>

<style scoped>
</style>
