<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md2 mb20>
        <h2>Patients</h2>
      </v-flex>

      <v-flex justify-end>
        <v-btn fab :to="{ name: $auth.user().roleName+'.patients.create' }" class="float-right">
          <v-icon>add</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <v-dialog
      max-width="400"
      v-model="deleteDialog"
    >
      <v-card>
        <v-card-title v-if="!dialogMessage" class="headline">Are you sure?</v-card-title>
        <v-card-title v-else class="header">{{dialogMessageData}}</v-card-title>

        <v-card-text v-if="!dialogMessage">
          <v-form v-model="remarkValid">
            <v-text-field :rules="remarkRules" autofocus label="Why do you want to delete" v-model="remark"/>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="()=>{if(dialogMessage){dialogMessage = false}deleteDialog = false}"
          >
            {{dialogMessage?'Ok':'No'}}
          </v-btn>

          <v-btn
            :disabled="!remarkValid"
            @click="deleteItem"
            color="green darken-1"
            flat="flat"
            v-if="!dialogMessage"
          >
            Yes
          </v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

    <v-data-table :headers="headers" :items="items" class="elevation-1">
      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
          <span slot="activator">{{ props.header.text }}</span>
          <span>{{ props.header.text }}</span>
        </v-tooltip>
      </template>
      <template slot="items" slot-scope="props">
        <tr
          @click="()=>{$router.push({ name: $auth.user().roleName+'.patients.bill' , params: { id: props.item.id }})}"
        >
          <td>{{ props.index +1 }}</td>
          <td>{{ props.item.pcode }}</td>
          <td>{{ props.item.pname.toUpperCase() }}</td>
          <td>{{ props.item.paddress.toUpperCase() }}</td>
          <td>{{ props.item.pphone }}</td>
          <td>
            <div class="d-flex">
              <v-btn md4 danger flat @click=" showDeleteDialog(props.item) ">
                <v-icon>delete</v-icon>
              </v-btn>
              <v-btn
                md4
                primary
                flat
                :to="{name:$auth.user().roleName+'.patients.bill',params:{id:props.item.id}}"
              >
                <v-icon>print</v-icon>
              </v-btn>
              <!--          <v-btn md4 :to="{ name: this.$auth.user().roleName+'.patients.edit', params: { id: props.item.id } }" primary flat><v-icon>edit</v-icon></v-btn>-->
              <v-btn
                md4
                flat
                :to="{ name: $auth.user().roleName+'.patients.edit', params: { id: props.item.id } }"
                primary
              >
                <v-icon>add</v-icon>
              </v-btn>
            </div>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import patientApi from '../../../api/patient'
export default {
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      search: '',
      deleteDialog: false,
      deletingItem: null,
      remarkValid: false,
      dialogMessageData: '',
      remarkRules: [
        v => !!v || 'Remark is required'
      ],
      remark: null,
      headers: [
        {
          text: '#',
          align: 'left',
          sortable: true,
          value: 'id'
        },
        { text: 'Code', value: 'pcode' },
        { text: 'Name', value: 'pname' },
        { text: 'Address', value: 'paddress' },
        { text: 'Phone', value: 'pphone' },
        { text: 'Actions', value: 'actions', width: '20%' }
      ]
    }
  },

  methods: {
    deleteItem () {
      patientApi.delete(this.deletingItem.id, this.remark).then(response => {
        if (response.status === 204) {
          let index = this.items.indexOf(this.deletingItem)
          this.items.splice(index, 1)
          this.dialogMessage = true
          this.dialogMessageData = 'Successfully Deleted'
        } else {
          this.dialogMessage = true
          this.dialogMessageData = 'Sorry, the connection lost'
        }
        this.remark = null
      })
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    showDeleteDialog (item) {
      this.deletingItem = item
      this.deleteDialog = true
    }
  }
}
</script>

<style scoped>
</style>
