<template>
  <v-app :dark="isDark">
    <div v-if="$auth.ready() && metasLoaded">
       <nav-bar :goNightMode="goNightMode"></nav-bar>
      <top-header v-if="shouldBeVisible" style="border-bottom:1px solid #ebebeb"></top-header>

      <v-content>
        <v-container fluid>

          <router-view></router-view>

        </v-container>

      </v-content>

    </div>
    <div v-else>
      Site loading...
    </div>
    <!-- <v-btn
      dark
      fab
      v-if="$auth.check() && checkRouteExists($auth.user().roleName + '.patients.create')"
      style="postion:absolute;right:10px;bottom:10px;"
      color="primary"
      :to="checkRouteExists($auth.user().roleName + '.patients.create')?{name: $auth.user().roleName + '.patients.create'}: null"
    >
      <v-icon>add</v-icon>
    </v-btn> -->
  </v-app>
</template>

<script>

import NavBar from './components/NavBar'
import TopHeader from './components/TopHeader'
import MetaApi from './api/metas'
import Bus from './Bus'
import Utils from './utils'

export default {
  components: {
    TopHeader,
    NavBar
  },
  name: 'app',
  data () {
    return {
      shouldBeVisible: true,
      isDark: false,
      metasLoaded: false
    }
  },
  created () {
    this.$vuetify.theme.primary = '#17a2b8'
    this.$bus.$on('error.on.refresh',err => {
      this.$auth.logout()
      this.$router.push({ name: 'auth.login' })
    })

    Bus.$on('load.metas', () => {
      this.loadMetas()
    })
  },
  mounted () {
    Utils.sleep(100).then(() => {
      Bus.$emit('load.metas')
    })
  },
  updated () {
    this.shouldBeVisible = (window.location.hash === '#/admin/patients/create') ? false : !(/#\/admin\/patients\/\d\/edit/.test(window.location.hash))
  },
  methods: {
    goNightMode (dark = false) {
      this.isDark = dark
    },
    loadMetas () {
      if (!this.metasLoaded) {
        MetaApi.index().then((res) => {
          this.metasLoaded = true
          this.$store.commit('core/mapAndStoreAllMetas', res.body.results)
          Bus.$emit('menu.change')
        })
          .catch(err => {
            if (err) {
              this.loadMetas()
            }
          })
      } else {
        MetaApi.index().then((res) => {
          this.metasLoaded = true
          this.$store.commit('core/mapAndStoreAllMetas', res.body.results)
          Bus.$emit('menu.change')
        })
      }
    }
  }

}
</script>
<style>
  th, td {
    border: 1px solid black;
    border-collapse:collapse;
  }

  th :last-child {
    border: unset;
  }

  th {
    background-color: #E8E8E8;
    color: black !important;
    font-size: 14px !important;
    font-weight: bold !important;
  }
</style>
