<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Add New Income Type</h2>
      </v-flex>
      <v-flex md2>
        <v-btn
          fab
          :to="{ name: this.$auth.user().roleName+'.incometypes.index' }"
          class="float-right"
        >
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <income-type-form :type="blankIncomeType"></income-type-form>
  </div>
</template>

<script>
import IncomeTypeForm from './Form'
export default {
  components: { IncomeTypeForm },
  created () {
    if ('hospital_id' in this.$auth.user()) {
      this.blankIncomeType['hospital'] = this.$auth.user().hospital_id
    }
  },

  data () {
    return {
      blankIncomeType: {
        tname: ''
      }
    }
  }
}
</script>

<style scoped>
</style>
