<template slot-scope="template">
  <div>
    <div v-show="$store.state.core.metas.is_installed === '0'">
      <v-form v-model="valid" ref="subject_form">
        <v-layout>
          <v-flex md4>
            <p class="display-1 font-weight-light">Installation</p>
            <v-text-field type="number" v-model="installationData.noOfWards" label="No of Wards"></v-text-field>
            <v-btn @click="install">Submit</v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </div>

    <v-layout row mb40>
      <v-flex md6>
        <v-layout row mb40>
          <v-flex md3>
            <h2 style="margin-bottom: 20px">Monthly Income Detail
            </h2>          </v-flex>
          <v-flex md4 style="margin-left:10px">
            <v-select

              :items="accounts['years']"
              v-model="year"
              label="Year"
              outline
              @change="setAllAccountData"
            ></v-select>
          </v-flex>
          <v-flex md4>
            <v-btn @click="downloadAccountReports">Download</v-btn>
          </v-flex>
        </v-layout>

        <v-data-table dense :headers="accountsHeaders" :items="accountsBody" item-key="name" class="elevation-1">
          <template slot="items" slot-scope="props">
            <td>{{ props.item.sn }}</td>
            <td>{{ props.item.month }}</td>
            <td>{{ props.item.income_amount }}</td>
            <td>{{ props.item.expense_amount }}</td>
            <td>{{ props.item.net_amount }}</td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
    <p style="page-break-after: always">
      <span></span>
    </p>
    <v-layout row mb40>
      <v-flex md6>
        <v-layout row mb40>
          <v-flex md3>
            <h2 style="margin-bottom: 20px">User Bill Details</h2> </v-flex>
          <v-flex md4 style="margin-left:10px">
            <v-select

              :items="accounts['years']"
              v-model="year"
              label="Year"
              outline
              @change="setAllAccountData"
            ></v-select>
          </v-flex>
          <v-flex md4>
            <v-btn @click="downloadAccountReports">Download</v-btn>
          </v-flex>
        </v-layout>

        <v-data-table
          :headers="wardWiseHeaders"
          :items="userWiseTable.users"
          class="elevation-1"
          style="text-align: center;padding: 0px !important;"
        >
          <template slot="headers" slot-scope="props">
            <tr>
              <th>User</th>
              <th colspan="3">Bill/Service</th>
            </tr>
            <tr>
              <th></th>
              <th>Bill</th>
              <th>Total Charge</th>
            </tr>
          </template>
          <template slot="items" slot-scope="props">
            <td>{{ props.item.name }} ({{props.item.user}})</td>
            <td>
              {{ userWiseTable.bill[props.item.id] && userWiseTable.bill[props.item.id].bills ?
              userWiseTable.bill[props.item.id].bills : 0 }}
            </td>
            <td>
              Rs. {{ userWiseTable.bill[props.item.id] && userWiseTable.bill[props.item.id].total ?
              userWiseTable.bill[props.item.id].total : 0 }}
            </td>
          </template>

          <template slot="footer">
            <tr>
              <td>
                <b>Total</b>
              </td>
              <td>{{ billTotalCountUser }}</td>
              <td>Rs. {{ totalChargeCountUser }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>

      <v-flex offset-md1 md5 class="width-100">
        <v-tabs>
          <v-tab :key="0" ripple>User Chart</v-tab>

          <v-tab :key="1" ripple>User Bill Chart</v-tab>

          <v-tab-item :key="0">
            <user-bill-chart v-if="userWiseTable.users.length > 0" :value="userWiseTable"></user-bill-chart>
          </v-tab-item>

          <v-tab-item :key="1">
            <user-total-chart v-if="userWiseTable.users.length > 0" :value="userWiseTable"></user-total-chart>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>

    <v-layout row mb40>
      <v-flex md6>
        <h2 style="margin-bottom: 20px">Service Bill Details</h2>
        <v-data-table
          :headers="wardWiseHeaders"
          :items="serviceWiseTable.service"
          class="elevation-1"
          style="text-align: center;padding: 0px !important;"
        >
          <template slot="headers" slot-scope="props">
            <tr>
              <th>S.N.</th>
              <th colspan="3">Services/Bills</th>
            </tr>
            <tr>
              <th></th>
              <th>Service</th>
              <th>Bill</th>
              <th>Total Amount(Rs.)</th>
            </tr>
          </template>
          <template slot="items" slot-scope="props">
            <td>{{ props.item.id+1 }}</td>
            <td>{{ props.item.service}}</td>
            <td>
              {{ serviceWiseTable.bill[props.item.id] && serviceWiseTable.bill[props.item.id].bills ?
              serviceWiseTable.bill[props.item.id].bills : 0 }}
            </td>

            <td>
              {{ serviceWiseTable.bill[props.item.id] && serviceWiseTable.bill[props.item.id].total ?
              serviceWiseTable.bill[props.item.id].total : 0 }}
            </td>
          </template>

          <template slot="footer">
            <tr>
              <td colspan="2">
                <b>Total</b>
              </td>
              <!-- <td>{{ billTotalCount }}</td> -->

              <td>{{ billTotalCountUser }}</td>
              <td>{{ totalChargeCountServiceWise }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>

      <v-flex offset-md1 md5 class="width-100">
        <v-tabs>
          <v-tab :key="0" ripple>Service Chart</v-tab>

          <v-tab :key="1" ripple>Service Bill Chart</v-tab>

          <v-tab-item :key="0">
            <service-bill-chart
              v-if="serviceWiseTable.service.length > 0"
              :value="serviceWiseTable"
            ></service-bill-chart>
          </v-tab-item>

          <v-tab-item :key="1">
            <service-total-chart
              v-if="serviceWiseTable.service.length > 0"
              :value="serviceWiseTable"
            ></service-total-chart>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>
    <p style="page-break-after: always">
      <span></span>
    </p>
  </div>
</template>

<style scoped>
table th {
  /*font-size: 8px !important;*/
}
</style>

<script>
import IncomeApi from '../../api/incomes'
import PatientApi from '../../api/patient'
import DownloadApi from '../../api/downloads'
import InstallerApi from '../../api/ward'
import UserApi from '../../api/users'
import GradePieChart from '../../components/GradePieChart'
import ServiceBillChart from '../../components/ServiceBillChart'
import ServiceTotalChart from '../../components/ServiceTotalChart'
import UserBillChart from '../../components/UserBillChart'
import UserTotalChart from '../../components/UserTotalChart'
import NepaliDatePicker from '../../components/NepaliDatePicker'
import jsPDF from 'jspdf'
import 'jspdf-autotable'

export default {
  components: {
    ServiceBillChart,
    GradePieChart,
    ServiceTotalChart,
    UserBillChart,
    UserTotalChart,
    NepaliDatePicker
  },
  created () {
    IncomeApi.acconts().then(res => {
      this.accounts = res.data
      let d =
        this.accounts['account']['income'] -
        this.accounts['account']['expenses']
      this.netDiff = d < 0 ? '(' + -d + ')' : d
      this.setAllAccountData()
    })
    PatientApi.age().then(res => {
      this.ageWiseTable = res.body

      // this.gradeWiseData = this.setAllWardData()
    })
    PatientApi.servicebillamount().then(res => {
      this.serviceWiseTable = res.body
      // this.gradeWiseData = this.setAllWardData()
    })
    PatientApi.userbillamount().then(res => {
      this.userWiseTable = res.body

      // this.gradeWiseData = this.setAllWardData()
    })
    UserApi.index().then(res => {
      this.users = res.body
    })

    // SchoolTypeApi.index().then((response) => {
    //   this.schoolTypes = response.body
    //
    //   this.schoolTypes.unshift({
    //     id: null,
    //     name: 'All'
    //   })
    // })
    //
    // SubjectApi.index().then((res) => {
    //   this.subjects = res.body
    //
    //   this.subjects.unshift({
    //     id: null,
    //     name: 'All'
    //   })
    // })
  },
  // components: [WardChartSchool],
  computed: {
    refinedWards () {
      let wards = this.wardWiseTable.wards.map(i => i.id)
      wards.unshift('All')

      return wards
    },

    refinedWardsForReport () {
      let wards = [{ text: 'All', value: null }]

      this.wardWiseTable.wards
        .map(i => i.id)
        .forEach(i => {
          wards.push({
            text: i,
            value: i
          })
        })

      return wards
    },

    billTotalCount () {
      let total = 0
      for (let age in this.ageWiseTable.bills) {
        total += this.ageWiseTable.bills[age].bill
      }

      return total
    },
    serviceTotalCount () {
      let total = 0
      for (let age in this.ageWiseTable.bills) {
        total += this.ageWiseTable.bills[age].service
      }

      return total
    },
    billTotalCountServiceWise () {
      let total = 0
      for (let age in this.serviceWiseTable.bill) {
        total += this.serviceWiseTable.bill[age].bills
      }

      return total
    },
    billTotalCountUser () {
      let total = 0
      for (let age in this.userWiseTable.bill) {
        total += this.userWiseTable.bill[age].bills
      }

      return total
    },
    totalChargeCountServiceWise () {
      let total = 0
      for (let age in this.serviceWiseTable.bill) {
        total += this.serviceWiseTable.bill[age].total
      }

      return total
    },
    totalChargeCountUser () {
      let total = 0
      for (let age in this.userWiseTable.bill) {
        total += this.userWiseTable.bill[age].total
      }

      return total
    },
    totalChargeCount () {
      let total = 0
      for (let age in this.ageWiseTable.bills) {
        total += this.ageWiseTable.bills[age].total
      }

      return total
    },

    privateTotalSchoolCount () {
      let total = 0
      for (let ward in this.wardWiseTable.school) {
        total += this.wardWiseTable.school[ward].private_s
      }

      return total
    },

    maleTotalStudentCount () {
      let total = 0
      for (let ward in this.wardWiseTable.student) {
        total += this.wardWiseTable.student[ward].male
      }

      return total
    },

    femaleTotalStudentCount () {
      let total = 0
      for (let ward in this.wardWiseTable.student) {
        total += this.wardWiseTable.student[ward].female
      }

      return total
    },

    totalSchoolCount () {
      let total = 0
      for (let ward in this.wardWiseTable.school) {
        total += this.wardWiseTable.school[ward].total
      }

      return total
    },

    totalStudentCount () {
      let total = 0
      for (let ward in this.wardWiseTable.student) {
        total += this.wardWiseTable.student[ward].total
      }

      return total
    },

    dataForPie () {
      let datasets = []
      let data = this.gradeWiseData
      // console.log(ranges)
      this.ranges.forEach(item => {
        let total = 0;
        ['male', 'female'].forEach(gender => {
          total += data[gender] && data[gender][item] ? data[gender][item] : 0
        })
        datasets.push(total)
      })

      return {
        labels: this.ranges,
        datasets: [
          {
            backgroundColor: [
              '#2fc32f',
              '#b0dc0b',
              '#eab404',
              '#de672c',
              '#ec2e2e',
              '#d5429b',
              '#6f52b8',
              '#1c7cd5',
              '#56b9f7',
              '#0ae8eb'
            ],
            data: datasets
          }
        ]
      }
    }
  },
  data () {
    return {
      year: '20' + this.$store.state.core.metas.current_year,
      valid: true,
      tabActive: 0,
      menu1: false,
      menu2: false,
      installationData: {
        noOfWards: null
      },
      mydate: '२०७७-३-२५',
      query: {
        toDate:  window.getCurrentNepaliDate(),
        fromDate:  window.getCurrentNepaliDate(),
        user: '1'
      },
      users: [],
      selectedWardForTable: 'All',
      ageWiseTable: { age: [], bills: {} },
      wardWiseTable: { wards: [], school: {}, student: {} },
      serviceWiseTable: { service: [], bill: {} },
      userWiseTable: { users: [] },
      ranges: [
        '0 - 0.79',
        '0.80 - 1.19',
        '1.20 - 1.59',
        '1.60 - 1.99',
        '2.00 - 2.39',
        '2.40 - 2.79',
        '2.80 - 3.19',
        '3.20 - 3.59',
        '3.60 - 3.99',
        '4',
        'NA'
      ],
      accounts: [],
      accountsBody:[],
      accountsHeaders: [
        {
          text: 'S.N.',
          align: 'start',
          value: 'sn'
        },
        { text: 'Month', value: 'month' },
        { text: 'Income(Rs)', value: 'income_amount' },
        { text: 'Expenses(Rs)', value: 'expense_amount' },
        { text: 'Net(Rs)', value: 'net_amount' }
      ],
      incomeHeaders: [
        {
          text: 'Date',
          value: 'date'
        },
        {
          text: 'Received By',
          value: 'received_by'
        },
        {
          text: 'Type',
          value: 'type'
        },
        {
          text: 'Amount (Rs.)',
          value: 'amount'
        }
      ],
      expenseHeaders: [
        {
          text: 'Date',
          value: 'date'
        },
        {
          text: 'Paid By',
          value: 'paid_by'
        },
        {
          text: 'Type',
          value: 'type'
        },
        {
          text: 'Amount (Rs.)',
          value: 'amount'
        }
      ],
      months: {
        '01': 'Baishak',
        '02': 'Jestha',
        '03': 'Ashar',
        '04': 'Shrawan',
        '05': 'Bhadra',
        '06': 'Ashoj',
        '07': 'Kartik',
        '08': 'Mangshir',
        '09': 'Poush',
        '10': 'Magh',
        '11': 'Falgun',
        '12': 'Chaitra'
      },
      netDiff: 0,

      reportParameters: {
        ward: null,
        sex: null,
        schoolType: null,
        subject: null,
        thType: null
      },

      stdReportParameters: {
        ward: null,
        sex: null,
        schoolType: null,
        subject: null,
        thType: null
      },

      thType: [
        {
          text: 'All',
          value: null
        },
        {
          text: 'Th Only',
          value: 1
        }
      ],

      genderValues: [
        {
          text: 'All',
          value: null
        },
        {
          text: 'Male',
          value: 1
        },

        {
          text: 'Female',
          value: 2
        }
      ],
      subjects: [],
      schoolTypes: [],
      wardWiseHeaders: [
        {
          text: 'Ward',
          align: 'left',
          sortable: true,
          value: 'id'
        },
        { text: 'School', value: 'school', sortable: false },
        { text: 'Student', value: 'student', sortable: false }
      ],
      gradeWiseHeaders: [
        {
          text: 'Range',
          align: 'left',
          sortable: false,
          value: 'id'
        },
        { text: 'Male', value: 'male', sortable: false },
        { text: 'Female', value: 'female', sortable: false },
        { text: 'Total', value: 'female', sortable: false }
      ],
      gradeWiseData: {}
    }
  },

  methods: {
    fetchAccounts () {

    },
    install () {
      InstallerApi.install(this.installationData).then((res) => {
        if ('present' in res.data)
          this.$store.commit('core/updateMetaByKey', { key: 'is_installed', value: '1' })
      })
    },
    formatMonths (datas) {
      let keys = datas.toString()
      return keys.length === 2 ? keys : '0' + keys
    },
    setAllWardData () {
      let data = { male: {}, female: {} };
      ['male', 'female'].forEach(gender => {
        this.ranges.forEach(item => {
          data[gender][item] = 0
          this.wardWiseTable.wards.forEach(innerItem => {
            if (this.wardWiseTable.gradeWise[innerItem.id]) {
              data[gender][item] +=
                this.wardWiseTable.gradeWise[innerItem.id][gender][item] || 0
            }
          })
        })
      })

      return data
    },
    setAllAccountData () {
      if (!(this.accounts['years'].includes(this.year))) {
        this.year = this.accounts['years'][0]
      }
      let keys = Object.keys(this.months)
      this.accountsBody = []
      keys.map((each, i) => {
        this.accountsBody.push(this.accounts['accounts'][this.year][this.formatMonths(i+1)])
        this.accountsBody[i]['sn'] = i + 1
        this.accountsBody[i]['month'] = this.months[this.formatMonths(i+1)]
        this.accountsBody[i]['net_amount'] = parseFloat(this.accountsBody[i]['income_amount'])- parseFloat(this.accountsBody[i]['expense_amount'])
      })
    },

    wardChangeForGradeTable () {
      console.log(this.selectedWardForTable)
      if (this.selectedWardForTable === 'All') {
        this.gradeWiseData = this.setAllWardData()
      } else {
        this.gradeWiseData =
          this.wardWiseTable.gradeWise[this.selectedWardForTable] || {}
      }
    },
    downloadAccountReports () {
      let headers = this.accountsHeaders.map(a => a.text)
      let rows = []
      let eachRow = []
      rows.push([
        {
          content: 'Account Details for '+this.year,
          colSpan: headers.length,
          styles: { halign: 'center' }
        }
      ])
      let incTotal = 0
      let expTotal = 0
      let net = 0
      this.accountsBody.forEach((each,i)=>{
        eachRow=[]
        eachRow[0] = each.sn
        eachRow[1] = each.month
        eachRow[2] = each.income_amount
        eachRow[3] = each.expense_amount
        eachRow[4] = each.net_amount
        incTotal += each.income_amount
        expTotal += each.expense_amount
        net += each.net_amount
        rows.push(eachRow)
      })
      rows.push([
        {
          content: 'Total',
          colSpan: 2,
          styles: { halign: 'center' }
        },
        incTotal,
        expTotal,
        net
      ])
      console.log(rows)

      var doc = new jsPDF()
      doc.autoTable(headers, rows, { startY: 10 })
      doc.save('accountDetails' + this.year + '.pdf')
    },
    downloadReport () {
      var query = {}
      query.fromDate = this.convertDate(window.getFormatedNepali(this.query.fromDate))
      query.toDate = this.convertDate(window.getFormatedNepali(this.query.toDate))
      query.user = this.query.user
      DownloadApi.downloadDashReport(query).then(res => {
        var data = res.body

        let rows = []
        let columnHeader = [
          'Code',
          'Number of Services',
          'Amount(Rs)',
          'Created Date'
        ]
        console.log(columnHeader)
        let pdfName =
          'UserBillService' + this.query.fromDate + '-' + this.query.toDate
        console.log(data)
        data.users.forEach(element => {
          rows.push([
            {
              content: "User's name: " + element.name,
              colSpan: columnHeader.length,
              styles: { halign: 'center' }
            }
          ])
          data.bill[element.id].billdetails.forEach(element => {
            var temp = Object.values(element)
            rows.push(temp)
          })
          rows.push([
            {
              content: 'Total: Rs.' + data.bill[element.id].total.toString(),
              colSpan: columnHeader.length,
              styles: { halign: 'center' }
            }
          ])
        })
        console.log(data.bill)
        // data.bill.forEach((element,index)=>{
        //   console.log(element,index)

        // })
        // data.bill[0]
        if (rows.length === 2) {
          alert('No bill found')
        } else {
          var doc = new jsPDF()
          doc.autoTable(columnHeader, rows, { startY: 10 })
          doc.save(pdfName + '.pdf')
        }
      })
    },

    downloadStdReport () {
      DownloadApi.downloadBestStudentReport(this.stdReportParameters)
    }
  }
}
</script>

<style scoped>
@media print {
  .width-100 {
    width: 100%;
  }
}
</style>
