<template slot-scope="template">
  <div>
    <div v-show="$store.state.core.metas.is_installed === '0'">
      <v-form v-model="valid" ref="subject_form">
        <v-layout>
          <v-flex md4>
            <p class="display-1 font-weight-light">Installation</p>
            <v-text-field type="number" v-model="installationData.noOfWards" label="No of Wards"></v-text-field>
            <v-btn @click="install">Submit</v-btn>
          </v-flex>
        </v-layout>
      </v-form>
    </div>

    <v-layout row mb40>
      <v-flex md6>
        <h2 style="margin-bottom: 20px">Service Bill Details</h2>
        <v-data-table
          :headers="wardWiseHeaders"
          :items="serviceWiseTable.service"
          class="elevation-1"
          style="text-align: center;padding: 0px !important;"
        >
          <template slot="headers" slot-scope="props">
            <tr>
              <th>S.N.</th>
              <th colspan="3">Services/Bills</th>
            </tr>
            <tr>
              <th></th>
              <th>Service</th>
              <th>Bill</th>
              <th>Total Amount(Rs.)</th>
            </tr>
          </template>
          <template slot="items" slot-scope="props">
            <td>{{ props.item.id+1 }}</td>
            <td>{{ props.item.service}}</td>
            <td>
              {{ serviceWiseTable.bill[props.item.id] && serviceWiseTable.bill[props.item.id].bills ?
              serviceWiseTable.bill[props.item.id].bills : 0 }}
            </td>

            <td>
              {{ serviceWiseTable.bill[props.item.id] && serviceWiseTable.bill[props.item.id].total ?
              serviceWiseTable.bill[props.item.id].total : 0 }}
            </td>
          </template>

          <template slot="footer">
            <tr>
              <td colspan="2">
                <b>Total</b>
              </td>
              <!-- <td>{{ billTotalCount }}</td> -->

              <td>{{ billTotalCountServiceWise }}</td>
              <td>{{ totalChargeCountServiceWise }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>

      <v-flex offset-md1 md5 class="width-100">
        <v-tabs>
          <v-tab :key="0" ripple>Service Chart</v-tab>

          <v-tab :key="1" ripple>Service Bill Chart</v-tab>

          <v-tab-item :key="0">
            <service-bill-chart
              v-if="serviceWiseTable.service.length > 0"
              :value="serviceWiseTable"
            ></service-bill-chart>
          </v-tab-item>

          <v-tab-item :key="1">
            <service-total-chart
              v-if="serviceWiseTable.service.length > 0"
              :value="serviceWiseTable"
            ></service-total-chart>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>
    <p style="page-break-after: always">
      <span></span>
    </p>
    <v-layout row mb40>
      <v-flex md6>
        <h2 style="margin-bottom: 20px">User Bill Details</h2>
        <v-data-table
          :headers="wardWiseHeaders"
          :items="userWiseTable.users"
          class="elevation-1"
          style="text-align: center;padding: 0px !important;"
        >
          <template slot="headers" slot-scope="props">
            <tr>
              <th>User</th>
              <th colspan="3">Bill/Service</th>
            </tr>
            <tr>
              <th></th>
              <th>Bill</th>
              <th>Total Charge</th>
            </tr>
          </template>
          <template slot="items" slot-scope="props">
            <td>{{ props.item.user }}</td>
            <td>
              {{ userWiseTable.bill[props.item.id] && userWiseTable.bill[props.item.id].bills ?
              userWiseTable.bill[props.item.id].bills : 0 }}
            </td>
            <td>
              Rs. {{ userWiseTable.bill[props.item.id] && userWiseTable.bill[props.item.id].total ?
              userWiseTable.bill[props.item.id].total : 0 }}
            </td>
          </template>

          <template slot="footer">
            <tr>
              <td>
                <b>Total</b>
              </td>
              <td>{{ billTotalCountUser }}</td>
              <td>Rs. {{ totalChargeCountUser }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>

      <v-flex offset-md1 md5 class="width-100">
        <v-tabs>
          <v-tab :key="0" ripple>User Chart</v-tab>

          <v-tab :key="1" ripple>User Bill Chart</v-tab>

          <v-tab-item :key="0">
            <user-bill-chart v-if="userWiseTable.users.length > 0" :value="userWiseTable"></user-bill-chart>
          </v-tab-item>

          <v-tab-item :key="1">
            <user-total-chart v-if="userWiseTable.users.length > 0" :value="userWiseTable"></user-total-chart>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>
    <v-layout row wrap mt40>
      <v-flex xs11 sm12>
        <h2 style="margin-bottom: 20px">Reports</h2>
      </v-flex>
      <v-flex xs11 sm4>
        <v-menu
          lazy
          :close-on-content-click="false"
          v-model="menu1"
          transition="scale-transition"
          offset-y
          full-width
          :nudge-right="40"
          max-width="290px"
          min-width="290px"
        >
          <v-text-field
            slot="activator"
            label="From"
            v-model="query.fromDate"
            prepend-icon="event"
            readonly
          ></v-text-field>
          <v-date-picker v-model="query.fromDate" no-title scrollable actions>
            <template slot-scope="{ saveFrom, cancelFrom }">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="cancelFrom">Cancel</v-btn>
                <v-btn flat color="primary" @click="saveFrom">OK</v-btn>
              </v-card-actions>
            </template>
          </v-date-picker>
        </v-menu>
      </v-flex>

      <v-flex xs11 sm4>
        <v-menu
          lazy
          :close-on-content-click="false"
          v-model="menu2"
          transition="scale-transition"
          offset-y
          full-width
          :nudge-right="40"
          max-width="290px"
          min-width="290px"
        >
          <v-text-field
            slot="activator"
            label="To Date"
            v-model="query.toDate"
            prepend-icon="event"
            readonly
          ></v-text-field>
          <v-date-picker v-model="query.toDate" no-title scrollable actions>
            <template slot-scope="{ saveTo, cancelTo }">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="cancelTo">Cancel</v-btn>
                <v-btn flat color="primary" @click="saveTo">OK</v-btn>
              </v-card-actions>
            </template>
          </v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex xs11 sm4>
        <v-select label="User" v-model="query.user" :items="users" item-text="name" item-value="id"></v-select>
      </v-flex>
      <v-flex xs5 sm4>
        <v-btn @click="downloadReport">Download</v-btn>
      </v-flex>
    </v-layout>
    <p style="page-break-after: always">
      <span></span>
    </p>
  </div>
</template>

<style scoped>
  table th {
    /*font-size: 8px !important;*/
  }
</style>

<script>
  import PatientApi from '../../api/patient'
  import DownloadApi from '../../api/downloads'
  import UserApi from '../../api/users'
  import GradePieChart from '../../components/GradePieChart'
  import ServiceBillChart from '../../components/ServiceBillChart'
  import ServiceTotalChart from '../../components/ServiceTotalChart'
  import UserBillChart from '../../components/UserBillChart'
  import UserTotalChart from '../../components/UserTotalChart'
  import jsPDF from 'jspdf'
  import 'jspdf-autotable'

  export default {
    components: {
      ServiceBillChart,
      GradePieChart,
      ServiceTotalChart,
      UserBillChart,
      UserTotalChart
    },
    created () {
      PatientApi.age().then(res => {
        this.ageWiseTable = res.body

        // this.gradeWiseData = this.setAllWardData()
      })
      PatientApi.servicebillamount().then(res => {
        this.serviceWiseTable = res.body
        console.log('services', res.body)
        // this.gradeWiseData = this.setAllWardData()
      })
      PatientApi.userbillamount().then(res => {
        this.userWiseTable = res.body

        // this.gradeWiseData = this.setAllWardData()
      })
      UserApi.index().then(res => {
        this.users = res.body
      })

      // SchoolTypeApi.index().then((response) => {
      //   this.schoolTypes = response.body
      //
      //   this.schoolTypes.unshift({
      //     id: null,
      //     name: 'All'
      //   })
      // })
      //
      // SubjectApi.index().then((res) => {
      //   this.subjects = res.body
      //
      //   this.subjects.unshift({
      //     id: null,
      //     name: 'All'
      //   })
      // })
    },
    // components: [WardChartSchool],
    computed: {
      refinedWards () {
        let wards = this.wardWiseTable.wards.map(i => i.id)
        wards.unshift('All')

        return wards
      },

      refinedWardsForReport () {
        let wards = [{ text: 'All', value: null }]

        this.wardWiseTable.wards
          .map(i => i.id)
          .forEach(i => {
            wards.push({
              text: i,
              value: i
            })
          })

        return wards
      },

      billTotalCount () {
        let total = 0
        for (let age in this.ageWiseTable.bills) {
          total += this.ageWiseTable.bills[age].bill
        }

        return total
      },
      serviceTotalCount () {
        let total = 0
        for (let age in this.ageWiseTable.bills) {
          total += this.ageWiseTable.bills[age].service
        }

        return total
      },
      billTotalCountServiceWise () {
        let total = 0
        for (let age in this.serviceWiseTable.bill) {
          total += this.serviceWiseTable.bill[age].bills
        }

        return total
      },
      billTotalCountUser () {
        let total = 0
        for (let age in this.userWiseTable.bill) {
          total += this.userWiseTable.bill[age].bills
        }

        return total
      },
      totalChargeCountServiceWise () {
        let total = 0
        for (let age in this.serviceWiseTable.bill) {
          total += this.serviceWiseTable.bill[age].total
        }

        return total
      },
      totalChargeCountUser () {
        let total = 0
        for (let age in this.userWiseTable.bill) {
          total += this.userWiseTable.bill[age].total
        }

        return total
      },
      totalChargeCount () {
        let total = 0
        for (let age in this.ageWiseTable.bills) {
          total += this.ageWiseTable.bills[age].total
        }

        return total
      },

      privateTotalSchoolCount () {
        let total = 0
        for (let ward in this.wardWiseTable.school) {
          total += this.wardWiseTable.school[ward].private_s
        }

        return total
      },

      maleTotalStudentCount () {
        let total = 0
        for (let ward in this.wardWiseTable.student) {
          total += this.wardWiseTable.student[ward].male
        }

        return total
      },

      femaleTotalStudentCount () {
        let total = 0
        for (let ward in this.wardWiseTable.student) {
          total += this.wardWiseTable.student[ward].female
        }

        return total
      },

      totalSchoolCount () {
        let total = 0
        for (let ward in this.wardWiseTable.school) {
          total += this.wardWiseTable.school[ward].total
        }

        return total
      },

      totalStudentCount () {
        let total = 0
        for (let ward in this.wardWiseTable.student) {
          total += this.wardWiseTable.student[ward].total
        }

        return total
      },

      dataForPie () {
        let datasets = []
        let data = this.gradeWiseData
        // console.log(ranges)
        this.ranges.forEach(item => {
          let total = 0;
          ['male', 'female'].forEach(gender => {
            total += data[gender] && data[gender][item] ? data[gender][item] : 0
          })
          datasets.push(total)
        })

        return {
          labels: this.ranges,
          datasets: [
            {
              backgroundColor: [
                '#2fc32f',
                '#b0dc0b',
                '#eab404',
                '#de672c',
                '#ec2e2e',
                '#d5429b',
                '#6f52b8',
                '#1c7cd5',
                '#56b9f7',
                '#0ae8eb'
              ],
              data: datasets
            }
          ]
        }
      }
    },
    data () {
      return {
        valid: true,
        tabActive: 0,
        menu1: false,
        menu2: false,
        installationData: {
          noOfWards: null
        },
        query: {
          fromDate: '2019-12-04',
          toDate: '2020-04-10',
          user: '1'
        },
        users: [],
        selectedWardForTable: 'All',
        ageWiseTable: { age: [], bills: {} },
        wardWiseTable: { wards: [], school: {}, student: {} },
        serviceWiseTable: { service: [], bill: {} },
        userWiseTable: { users: [] },
        ranges: [
          '0 - 0.79',
          '0.80 - 1.19',
          '1.20 - 1.59',
          '1.60 - 1.99',
          '2.00 - 2.39',
          '2.40 - 2.79',
          '2.80 - 3.19',
          '3.20 - 3.59',
          '3.60 - 3.99',
          '4',
          'NA'
        ],

        reportParameters: {
          ward: null,
          sex: null,
          schoolType: null,
          subject: null,
          thType: null
        },

        stdReportParameters: {
          ward: null,
          sex: null,
          schoolType: null,
          subject: null,
          thType: null
        },

        thType: [
          {
            text: 'All',
            value: null
          },
          {
            text: 'Th Only',
            value: 1
          }
        ],

        genderValues: [
          {
            text: 'All',
            value: null
          },
          {
            text: 'Male',
            value: 1
          },

          {
            text: 'Female',
            value: 2
          }
        ],
        subjects: [],
        schoolTypes: [],
        wardWiseHeaders: [
          {
            text: 'Ward',
            align: 'left',
            sortable: true,
            value: 'id'
          },
          { text: 'School', value: 'school', sortable: false },
          { text: 'Student', value: 'student', sortable: false }
        ],
        gradeWiseHeaders: [
          {
            text: 'Range',
            align: 'left',
            sortable: false,
            value: 'id'
          },
          { text: 'Male', value: 'male', sortable: false },
          { text: 'Female', value: 'female', sortable: false },
          { text: 'Total', value: 'female', sortable: false }
        ],
        gradeWiseData: {}
      }
    },

    methods: {
      install () {
        // InstallerApi.install(this.installationData).then((res) => {
        //   this.$store.commit('core/updateMetaByKey', { key: 'is_installed', value: '1' })
        // })
      },

      setAllWardData () {
        let data = { male: {}, female: {} };
        ['male', 'female'].forEach(gender => {
          this.ranges.forEach(item => {
            data[gender][item] = 0
            this.wardWiseTable.wards.forEach(innerItem => {
              if (this.wardWiseTable.gradeWise[innerItem.id]) {
                data[gender][item] +=
                  this.wardWiseTable.gradeWise[innerItem.id][gender][item] || 0
              }
            })
          })
        })

        return data
      },

      wardChangeForGradeTable () {
        console.log(this.selectedWardForTable)
        if (this.selectedWardForTable === 'All') {
          this.gradeWiseData = this.setAllWardData()
        } else {
          this.gradeWiseData =
            this.wardWiseTable.gradeWise[this.selectedWardForTable] || {}
        }
      },

      downloadReport () {
        DownloadApi.downloadDashReport(this.query).then(res => {
          var data = res.body
          console.log('data')
          console.log(data)
          let rows = []
          let columnHeader = data.bill[0]['billdetails'].length ? Object.keys(data.bill[0]['billdetails'][0]) : []
          columnHeader = columnHeader.map(each => {
            return each[0].toUpperCase() + each.slice(1)
          })
          console.log(columnHeader)
          let pdfName =
            'UserBillService' + this.query.fromDate + '-' + this.query.toDate
          console.log(data)
          data.users.forEach(element => {
            rows.push([
              {
                content: "User's name: " + element.name,
                colSpan: columnHeader.length,
                styles: { halign: 'center' }
              }
            ])
            data.bill[element.id].billdetails.forEach(element => {
              var temp = Object.values(element)
              rows.push(temp)
            })
            rows.push([
              {
                content: 'Total: Rs.' + data.bill[element.id].total.toString(),
                colSpan: columnHeader.length,
                styles: { halign: 'center' }
              }
            ])
          })
          var billKeys= Object.keys(data.bill)
          billKeys.forEach((bill) => {
            if(data.bill[bill]['bills']){
              rows.push([
                {
                  content: 'Total: Rs.' + data.bill[bill].total.toString(),
                  colSpan: columnHeader.length,
                  styles: { halign: 'center' }
                }
              ])
            }
          })
          console.log(data.bill)
          // data.bill.forEach((element,index)=>{
          //   console.log(element,index)

          // })
          // data.bill[0]
          console.log(rows)
          var doc = new jsPDF()
          doc.autoTable(columnHeader, rows, { startY: 10 })
          doc.save(pdfName + '.pdf')
        })
      },

      downloadStdReport () {
        DownloadApi.downloadBestStudentReport(this.stdReportParameters)
      }
    }
  }
</script>

<style scoped>
  @media print {
    .width-100 {
      width: 100%;
    }
  }
</style>
