<template>
  <div>
    <v-layout row wrap mb100>
      <v-flex md2 mb20>
        <h2>Jobs</h2>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Are you sure?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" flat="flat" @click="dialog = false">No</v-btn>

          <v-btn color="green darken-1" flat="flat" @click="runJob">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-data-table :headers="headers" :items="$store.getters['jobs/jobs']" hide-actions>
      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
          <span slot="activator">{{ props.header.text }}</span>
          <span>{{ props.header.text }}</span>
        </v-tooltip>
      </template>
      <template slot="items" slot-scope="props">
        <td>{{ props.item.title }}</td>
        <td>{{ props.item.started }}</td>
        <td>{{ props.item.ended }}</td>
        <td>{{ props.item.processed }} / {{ props.item.total }}</td>
        <td>{{ props.item.percentage ? props.item.percentage : '-' }}</td>
        <td>{{ props.item.status }}</td>
        <td>
          <v-btn
            @click="invokeJob(props.item.name, props.item.params)"
            :disabled=" !(!props.item.status || props.item.status === 'COMPLETED' || props.item.status === 'FAILED') "
          >Run</v-btn>
        </td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import JobsApi from '../../api/jobs'

export default {
  created () {
    this.intervalObj = setInterval(this.loadJobsInfo, 10000)
  },

  destroyed () {
    clearInterval(this.intervalObj)
  },
  data () {
    return {
      intervalObj: null,
      jobName: null,
      dialog: false,
      jobParams: {},
      headers: [
        {
          text: 'Title',
          align: 'left',
          sortable: false,
          value: 'code'
        },
        {
          text: 'Start',
          value: 'started',
          sortable: false
        },
        {
          text: 'Ended',
          value: 'ended',
          sortable: false
        },
        {
          text: 'Count',
          value: 'count',
          sortable: false
        },
        {
          text: 'Progress',
          value: 'progress',
          sortable: false
        },
        {
          text: 'Status',
          value: 'status',
          sortable: false
        },
        {
          text: 'Actions',
          align: 'left',
          sortable: false,
          value: 'code'
        }
      ]
    }
  },
  methods: {
    invokeJob (name, params = {}) {
      this.jobName = name
      this.jobParams = params
      this.dialog = true
    },

    runJob () {
      JobsApi.runJob(this.jobName, this.jobParams).then(res => {
        this.dialog = false
      })
    },

    loadJobsInfo () {
      this.$store.dispatch('jobs/loadJobsInfo')
    }
  }
}
</script>

<style scoped>
</style>

// WEBPACK FOOTER //
// src/pages/admin/Jobs.vue
