<template>
  <div>
    <v-layout>
      <h2>Search Patient</h2>
    </v-layout>
    <v-layout md2 v-if=" patient.length === 0 && notFound " style="margin-top: 10px">
      <h3>Record not found</h3>
    </v-layout>

    <patient-show :items="patient" v-show="patient.length !== 0 "></patient-show>
  </div>
</template>

<script>
import PatientShow from './patients/Show'
import PatientApi from '../../api/patient'
export default {
  components: {
    PatientShow
  },
  data: () => {
    return {
      seme: null,
      patient: [],
      notFound: true
    }
  },
  created () {
    console.log(this.$route)
    PatientApi.search(this.$route.params.search).then(res => {
      if (res.body) {
        this.patient = res.body.results
      } else {
        this.notFound = true
      }
    })
    this.seme = this.$route.params.search.length
  },
  watch: {
    $route (to, from) {
      this.searchPatient(this.$route.params.search)
    }
  },
  methods: {
    searchPatient (s) {
      PatientApi.search(s).then(res => {
        if (res.body) {
          console.log(res.body)
          this.patient = res.body.results
        } else {
          this.notFound = true
        }
      })
    },
    searchKeyup () {
      this.notFound = false
      this.patient = []
    }
  }
}
</script>

<style scoped>
</style>
