<template>
  <div>
    <v-btn v-show="loaded" @click="printDiv('print-container-11')">
      <v-icon>print</v-icon>
    </v-btn>
    <div v-html="response" id="print-container-11"></div>
  </div>

</template>

<script>
  import PrintApi from '../../../../api/print'

  export default {
    created () {

    },

    data () {
      return {
        response: '<h1>Loading Please wait</h1>',
        loaded: false
      }
    },

    watch: {
      printDialog (final, initial) {
        if (final) {
          this.loadData()
        } else {
          this.loaded = false
          this.response = '<h1>Loading Please wait</h1>'
        }
      }
    },

    props: {
      printDialog: {
        type: Boolean,
        required: true
      }
    },

    methods: {

      loadData () {
        PrintApi.admintCard(this.query).then((res) => {
          this.response = res.body
          this.loaded = true
        })
      },

      printDiv (divName) {
        let printContents = document.getElementById(divName).innerHTML
        let w = window.open()

        w.document.write(printContents)
        w.document.write('<scr' + 'ipt type="text/javascript">' + 'window.onload = function() { window.print(); window.close(); };' + '</sc' + 'ript>')

        w.document.close() // necessary for IE >= 10
        w.focus() // necessary for IE >= 10

        return true
      }
    }
  }
</script>

<style scoped>

</style>
