<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md10 mb20>
        <h2>Sell Store Product</h2>
      </v-flex>
      <v-flex md2>
        <v-btn fab :to="{ name: this.$auth.user().roleName+'.storeout.index' }" class="float-right">
          <v-icon>arrow_back</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <store-out-form :storeout="blankStoreOut" :productservices="productservices"></store-out-form>
  </div>
</template>

<script>
import StoreOutForm from './Form'
export default {
  name: 'StoreOutCreate',
  components: {
    StoreOutForm
  },
  data () {
    return {
      blankStoreOut: {
        buyer: '',
        quantity: 1,
        unit_price: 0,
        created_by: this.$auth.user().id
      },
      productservices: [
        {
          product: null,
          quantity: 1,
          unit_price: null
        }
      ],
      year: this.$store.state.core.metas.current_year
    }
  }
}
</script>

<style scoped>
</style>
