<template>
  <v-flex md6>
    <v-dialog v-model="printDialog" fullscreen>
      <v-btn @click="printDialog = false" style="float: right">
        <v-icon>close</v-icon>
      </v-btn>
      <!--<admit-card :query="query" :printDialog="printDialog" style="background: white"  ></admit-card>-->
    </v-dialog>
    <v-dialog v-model="errorDialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Cannot Submit Form !!</v-card-title>
        <v-card-text :key="errorMessage.indexOf(err)" v-for="err in errorMessage">{{err}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            :autofocus="errorDialog"
            @click="()=>{ this.errorMessage=[];this.errorDialog = false}"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-form v-model="valid" ref="storeout_form" v-on:submit.prevent="submit">
      <!-- <v-text-field
        v-model="storeout.buyer"
        :counter="30"
        label="Buyer"
        @input="storeout.buyer = storeout.buyer.toUpperCase()"
        outlined
        shaped
        autofocus
      ></v-text-field> -->
      <v-text-field
        v-model="storeout.buyer"
        :counter="30"
        label="Buyer"
        required
        autofocus
        @input="storeout.buyer = storeout.buyer.toUpperCase()"
      ></v-text-field>

      <div :key="index" v-for=" (productservice, index) in productservices ">
        <v-layout>
          <v-flex md4>
            <v-autocomplete
              v-model="productservice.product"
              :items="products"
              item-text="name"
              item-value="id"
              label="Medicine/Product *"
              :rules="[
                (v)=> !!v || 'This field is required'
                ]"
              @change="changeHandler"
              required
            ></v-autocomplete>
          </v-flex>

          <v-flex md2>
            <v-text-field
              v-model="productservice.unit_price"
              label="Unit Price"
              type="number"
              min="1"
              disabled
            />
          </v-flex>

          <v-flex md2>
            <v-text-field
              v-model="productservice.quantity"
              label="Quantity"
              type="number"
              :rules="[
                (v)=> !!v || 'This field is required',
                (v)=> !!v && v <= parseInt(productservice.product?(products[mapProducts[productservice.product]]['remaining_quantity']===0?products[mapProducts[productservice.product]]['quantity']:products[mapProducts[productservice.product]]['remaining_quantity']):10) || 'Quantity must be less than '+ (productservice.product?(products[mapProducts[productservice.product]]['remaining_quantity']===0?products[mapProducts[productservice.product]]['quantity']:products[mapProducts[productservice.product]]['remaining_quantity']):10)
              ]"
              min="1"
              @input="changeHandler"
              :max="productservice.product?(products[mapProducts[productservice.product]]['remaining_quantity']!==0?products[mapProducts[productservice.product]]['remaining_quantity']:products[mapProducts[productservice.product]]['quantity']):10"
            />
          </v-flex>
          <v-flex md4>
            <v-btn
              v-if="productservices.length<products.length && index+1 === productservices.length"
              @click="addProductService"
            >
              <v-icon>add</v-icon>
            </v-btn>
            <v-btn btn class="error" @click="removeItem(index)">
              <v-icon>close</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </div>
      <v-flex md1>Total {{total}}</v-flex>
      <v-autocomplete
        v-if="!('hospital_id' in $auth.user())"
        v-model="storeout.hospital"
        :items="hospitals"
        item-text="name"
        item-value="id"
        label="Hospital"
      ></v-autocomplete>

      <v-btn
        :disabled="!valid && !submitProcess" type="submit"

      >
        {{ submitProcess ? 'Uploading' : 'Submit' }}
      </v-btn>

      <v-btn
        :disabled="!valid && !submitProcess"
        v-if="!('id' in storeout)"
        @click="sub"

      >
        {{ submitProcess ? 'Uploading' : 'Submit And Add Another' }}
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
      <!--<v-btn @click="printDialog = true">Print</v-btn>-->
    </v-form>
  </v-flex>
</template>

<script>
import storeoutApi from '../../../../api/storeout'
import storeinApi from '../../../../api/storein'
import hospitalApi from '../../../../api/hospital'
import billprint from './billprint'

export default {
  name: 'store-out-form',

  props: {
    storeout: {
      type: Object,
      required: true
    },
    productservices: {
      type: Array,
      required: true
    }
  },
  created () {
    if (!('hospital_id' in this.$auth.user())) {
      hospitalApi.index().then(res => {
        this.hospitals = res.data.results
      })
    } else {
      this.storeout.hospital = this.$auth.user().hospital_id
    }
    storeinApi.index().then(res => {
      this.products = res.data.results
      this.products.map((each, index) => {
        this.mapProducts[each.id] = index
        each['disabled'] = each['remaining_quantity'] === 0
        return each
      })
    })
  },
  data () {
    return {
      valid: false,
      next: false,
      name: '',
      id: '',
      products: [],
      total: 0,
      mapProducts: {},
      hospitals: [],
      submitProcess: false,
      errorMessage: [],
      errorDialog: false,
      printDialog: false,
      snameRules: [v => !!v || 'Name is required'],
      spriceRules: [v => !!v || 'Unit Price is required'],
      stypeRules: [v => !!v || 'Type is required']
    }
  },
  watch: {
    $route (to, from) {
      this.created()
    }
  },
  methods: {
    sub (next) {
      this.next = true
      this.submit(next)
    },
    clear () {
      this.$refs.storeout_form.reset()
    },
    mapData (productservices) {
      // let items = {}
      // productservices.forEach((item) => {
      //   if (items[item.examDate]) {
      //     items[item.examDate].push(item.subjectId)
      //   } else {
      //     items[item.examDate] = [item.subjectId]
      //   }
      // })
      //
      // let itemsArray = []
      //
      // for (let key in items) {
      //   itemsArray.push({
      //     examDate: key,
      //     subjects: items[key]
      //   })
      // }

      return productservices
    },
    changeHandler (me = 0) {
      var filter = []
      this.total = 0
      this.productservices.map(each => {
        if (each.product && !isNaN(each.product)) {
          each.unit_price = this.products[this.mapProducts[each.product]]['unit_price']
          this.total += each.unit_price * each.quantity
          filter.push(each.product)
        }
      })
      this.products.map(each => {
        each['disabled'] = filter.includes(each.id)
      })
    },
    addProductService () {
      this.productservices.push({
        product: null,
        quantity: 1,
        unit_price: null
      })
      this.changeHandler()
    },
    removeItem (index) {
      if (this.productservices.length !== 1) {
        this.productservices.splice(index, 1)
        this.changeHandler()
      }
    },
    printPdf (print) {
      var mywindow = window.open()
      var isChrome = Boolean(mywindow.chrome)
      var product = this.productservices

      mywindow.document.write(billprint(this.storeout, product, print, 0, this.total))
      if (isChrome) {
        setTimeout(function () {
          // wait until all resources loaded
          mywindow.document.close() // necessary for IE >= 10
          mywindow.focus() // necessary for IE >= 10
          mywindow.print() // change window to winPrint
          mywindow.close() // change window to winPrint
        }, 250)
      } else {
        mywindow.document.close() // necessary for IE >= 10
        mywindow.focus() // necessary for IE >= 10

        mywindow.print()
        mywindow.close()
      }
      // this.$router.push({
      //   name: this.$auth.user().roleName + '.patients.index'
      // })
    },

    submit () {
      if ('id' in this.storeout) {
        this.submitProcess = true
        this.productservices.map(each => {
          if (each.product && !isNaN(each.product)) {
            each.unit_price = this.products[this.mapProducts[each.product]]['unit_price']
            this.total += each.unit_price * each.quantity
          }
        })
        storeoutApi
          .update(this.storeout)
          .then(response => {
            this.submitProcess = false
            this.storeout = response.body
            this.printPdf(false)
            this.$router.push({
              name: this.$auth.user().roleName + '.storeout.index'
            })
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      } else {
        console.log(this.productservices)
        this.storeout['orders'] = this.productservices.filter(each => {
          return each.product
        })
        this.submitProcess = true
        storeoutApi
          .save(this.storeout)

          .then(response => {
            this.submitProcess = false
            this.storeout = response.body
            this.printPdf(false)
            this.$router.push({
              name: this.$auth.user().roleName + '.storeout.index'
            })
            // if (this.next) {
            //   setTimeout(() => this.$router.push({ name: this.$auth.user().roleName + '.storeout.create', query: { reload: new Date().valueOf() } }))
            // }
          })
          .catch(err => {
            this.errorMessage = []
            if (err.status !== 500) {
              let er = Object.keys(err.data)
              er.forEach(each => {
                if (each === 'non_field_errors') {
                  this.errorMessage.push(JSON.stringify(err.data[each]))
                } else {
                  this.errorMessage.push(err.data[each])
                }
              })
            } else {
              this.errorMessage.push('Value Error')
            }
            this.errorDialog = true
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
