<template>
  <div>
    <v-layout row wrap mb40>
      <v-flex md2 mb20>
        <h2>Store Out</h2>
      </v-flex>
 <v-flex md4>
          <v-text-field
            v-model="query.search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-flex>
      <v-flex  v-if="routePermissionExists($auth.user().roleName+'.storeout.create')" justify-end>
        <v-btn
          fab
          :to="{ name: this.$auth.user().roleName+'.storeout.create' }"
          class="float-right"
        >
          <v-icon>add</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-model v-model="processDialog">
      <v-process>
        <div style="text-align:-webkit-center;">
          <v-progress-circular
            v-if="processDialog"
            :size="80"
            :width="5"
            color="black"
            indeterminate
          ></v-progress-circular>
        </div>
      </v-process>
    </v-model>
    <v-dialog v-model="deleteDialog" max-width="400">
      <v-card>
        <v-card-title v-if="!dialogMessage" class="headline">Are you sure?</v-card-title>
        <v-card-title v-else class="header">{{dialogMessageData}}</v-card-title>
        <v-card-text v-if="!dialogMessage">
          <v-form v-model="remarkValid">
            <v-text-field :rules="remarkRules" autofocus label="Why do you want to delete" v-model="remark"/>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
          :disabled="!remarkValid"
            color="green darken-1"
            flat="flat"
            @click="()=>{if(dialogMessage){dialogMessage = false}deleteDialog = false}"
          >{{dialogMessage?'Ok':'No'}}</v-btn>

          <v-btn color="green darken-1" flat="flat" @click="deleteItem" v-if="!dialogMessage">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-data-table v-if="!processDialog" :total-items="totalItems"
      :pagination.sync="query"
      :rows-per-page-items="[20, 50, 100]"
      :headers="headers" :items="items" class="elevation-1">
      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
          <span slot="activator">{{ props.header.text }}</span>
          <span>{{ props.header.text }}</span>
        </v-tooltip>
      </template>
      <template slot="items" slot-scope="props">
        <tr>
                  <td>{{ (query.rowsPerPage * (query.page - 1)) + props.index + 1 }}</td>
          <td>{{ props.item.buyer?props.item.buyer.toUpperCase():'-' }}</td>
          <!--<td>{{ props.item.quantity }}</td>-->
          <!--<td>{{ props.item.unit_price }}</td>-->
          <td>{{ props.item.created }}</td>
          <td v-if="!('hospital_id' in $auth.user())">{{ props.item.hospital_name}}</td>
          <td>
            <div class="d-flex">
              <v-btn   v-if="routePermissionExists($auth.user().roleName+'.storeout.delete')" md4 danger flat @click.stop=" showDeleteDialog(props.item) ">
                <v-icon>delete</v-icon>
              </v-btn>
              <!--<v-btn md4 primary flat :to="{name:$auth.user().roleName+'.patients.bill',params:{id:props.item.id}}"><v-icon>remove_red_eye</v-icon></v-btn>-->
              <!--          <v-btn md4 :to="{ name: this.$auth.user().roleName+'.patients.edit', params: { id: props.item.id } }" primary flat><v-icon>edit</v-icon></v-btn>-->
              <v-btn
                md4
                 v-if="routePermissionExists($auth.user().roleName+'.storeout.edit')"
                :to="{ name: $auth.user().roleName+'.storeout.edit', params: { id: props.item.id } }"
                primary
                flat
              >
                <v-icon>edit</v-icon>
              </v-btn>
            </div>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import patientApi from '../../../../api/storeout'
export default {
  beforeMount () {
    if (!('hospital_id' in this.$auth.user())) {
      let len = this.headers.length
      this.headers[len] = this.headers[len - 1]
      this.headers[len - 1] = { text: 'Hospital', value: 'hospital_name' }
      // this.headers.push({ text: 'Hospital', value: 'dname' });
    }
  },
  created () {
    this.getDataFromApi()
  },

  data () {
    return {
      search: '',
      deletingItem: null,
      deleteDialog: false,
      remarkRules: [
        v => !!v || 'Remark is required'
      ],
      remark: null,
      remarkValid: false,
      dialogMessage: false,
      query: {
        search: null,
        rowsPerPage: 20,
        page: 1
      },
      totalItems: null,
      processDialog: true,
      dialogMessageData: '',
      headers: [
        {
          text: '#',
          align: 'left',
          sortable: true,
          value: 'id'
        },
        { text: 'Name', value: 'name' },
        { text: 'Created', value: 'created' },

        { text: 'Actions', value: 'actions', width: '10%' }
      ],
      items: []
    }
  },
  watch: {
    query: {
      handler () {
        this.getDataFromApi()
      },
      deep: true
    }
  },
  methods: {
    getDataFromApi () {
      patientApi.search(this.query).then(res => {
        this.items = JSON.parse(JSON.stringify(res.data.results))
        this.totalItems = res.data.count
        this.processDialog = false
      }).catch(e => {
        console.log(e)
      })
    },
    deleteItem () {
      patientApi.delete(this.deletingItem.id,this.remark).then(response => {
        let index = this.items.indexOf(this.deletingItem)
        this.items.splice(index, 1)
      })
      this.deleteDialog = false
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    showDeleteDialog (item) {
      this.deletingItem = item
      this.deleteDialog = true
    }
  }
}
</script>

<style scoped>
</style>
